/* Code to fix issues that are exclusive to the Chromium port of CustomTube. This file is not present in the Firefox version. */

.btc,
.bts {
  margin-top: 1px;
}
html[channel-style^="aozora"] #channel-header::after,
html[channel-style^="stargazer"] #channel-header::after {
	left: 300px;
}
html[player-style^="2012"] .ytp-big-mode .ytp-right-controls {
	margin-top: -5px !important;
}
html[player-style^="2013"] .ytp-big-mode .ytp-right-controls {
	margin-top: -2px !important;
}
html[watch-metadata-style^="cosmicpanda"] #bt-above #title yt-formatted-string {
    max-height: 30px !important;
    overflow-x: visible !important;
}