/* Mostly unsorted stuff here. Stuff I thought wasn't worth making into a seperate CSS file. Might organize this better in an update. */

/* NOTE: this is ONLY for hitchhiker, so it doesn't need to be universalized.
/* hide share button from regular metadata spot */
html[watch-metadata-style^="hitchhiker"] #above-the-fold #top-level-buttons-computed ytd-button-renderer,
html[watch-metadata-style^="cosmicpanda"]:not([title-on-top="true"]) #above-the-fold #top-level-buttons-computed ytd-button-renderer {
  display: none;	
}
/* prevent second share */
html[watch-metadata-style^="hitchhiker"] #watch-buttons-inner #middle ytd-button-renderer:not(:first-of-type),
html[watch-metadata-style^="cosmicpanda"] #watch-buttons-inner #middle ytd-button-renderer:not(:first-of-type) {
	display: none;
}
/* prevent second button shape */
html[watch-metadata-style^="hitchhiker"] #watch-buttons-inner #button-shape:not(:first-of-type),
html[watch-metadata-style^="cosmicpanda"] #watch-buttons-inner #button-shape:not(:first-of-type) {
	display: none;
}
html {
--tubek12-static-page-width: 1000px;
--tubek12-static-page-margin: 0 auto;
}
html:not([dark])[layout^="polymer-2019"] {
/*}
html:not(.style-scope) {*/
  --yt-live-chat-action-panel-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, .8);
  --yt-live-chat-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-live-chat-secondary-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-live-chat-tertiary-text-color: hsla(0, 0%, 6.7%, .4);
  --yt-live-chat-disabled-icon-button-color: hsla(0, 0%, 6.7%, .2);
  --yt-live-chat-picker-button-color: hsla(0, 0%, 6.7%, .4);
  --yt-formatted-string-emoji-size: 24px;
  --yt-live-chat-text-input-field-suggestion-background-color: hsl(0, 0%, 100%);
  --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
  --yt-live-chat-text-input-field-suggestion-text-color: #666;
  --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
  --yt-emoji-picker-category-background-color: var(--yt-live-chat-action-panel-background-color-transparent);
  --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
  --yt-emoji-picker-category-button-color: var(--yt-live-chat-picker-button-color);
  --yt-emoji-picker-search-background-color: hsla(0, 0%, 100%, .6);
  --yt-emoji-picker-search-color: hsla(0, 0%, 6.7%, .8);
  --yt-emoji-picker-search-placeholder-color: hsla(0, 0%, 6.7%, .6);
/*}
html:not(.style-scope) {*/
  --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, baseline);
/*}
html:not(.style-scope) {*/
  --yt-button-margin: 0;
  --yt-button-padding: 10px 16px;
  --yt-button-padding-minus-border: 9px 15px;
  --yt-button-border-radius: 2px;
/*}
html:not(.style-scope) {*/
  --ytd-z-index-notification: 2024;
  --ytd-z-index-miniplayer: 2025;
  --ytd-thumbnail-height: 118px;
  --ytd-grid-thumbnail_-_height: var(--ytd-thumbnail-height);
  --ytd-default-promo-panel-renderer-height: 600px;
/*}
html:not(.style-scope) {*/
  --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --ytd-searchbox-legacy-border-color: #ccc;
  --ytd-searchbox-legacy-border-shadow-color: #eee;
  --ytd-searchbox-legacy-button-color: #f8f8f8;
  --ytd-searchbox-legacy-button-border-color: #d3d3d3;
  --ytd-searchbox-legacy-button-focus-color: #e9e9e9;
  --ytd-searchbox-legacy-button-hover-color: #f0f0f0;
  --ytd-searchbox-legacy-button-hover-border-color: #c6c6c6;
  --ytd-searchbox-legacy-button-icon-color: #333;
  --ytd-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
  --ytd-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
  --ytd-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
  --ytd-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
  --ytd-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
  --ytd-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
  --ytd-comment-text-color: hsl(0, 0%, 6.7%);
  --ytd-comment-metadata-text-color: var(--yt-spec-text-secondary);
  --ytd-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
  --ytd-watch-card-album-header-background: hsl(0, 0%, 100%);
  --ytd-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
  --ytd-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
  --ytd-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
  --ytd-backstage-cancel-background-color: hsl(0, 0%, 100%);
  --ytd-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
  --ytd-backstage-attachment-background-color: hsl(0, 0%, 100%);
  --ytd-backstage-creationbox-background-color: hsl(0, 0%, 98%);
  --ytd-backstage-creationbox-background-color-focus: hsl(0, 0%, 96%);
  --ytd-backstage-creationbox-inactive-color: hsla(0, 0%, 0%, .26);
  --ytd-backstage-creationbox-text-color: hsla(0, 0%, 0%, .54);
  --ytd-backstage-creationbox-input-text-color: hsla(0, 0%, 0%, .87);
  --ytd-backstage-creationbox-disabled-button-color: hsla(0, 0%, 0%, .04);
  --ytd-backstage-creationbox-disabled-button-text-color: hsl(0, 0%, 100%);
  --ytd-backstage-attachment-icon-hover-color: hsla(0, 0%, 0%, .74);
  --ytd-sponsorships-background-color-focus: hsla(0, 0%, 93.3%, .4);
  --ytd-badge-background: hsla(0, 0%, 93.3%, .6);
  --ytd-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
  --ytd-collection-badge-color: hsla(0, 0%, 6.7%, .8);
  --ytd-owner-badge-color: hsla(0, 0%, 6.7%, .4);
  --ytd-simple-badge-color: hsla(0, 0%, 6.7%, .6);
  --ytd-ad-badge-text-color: hsl(0, 0%, 100%);
  --ytd-shopping-product-info: hsla(0, 0%, 6.7%, .8);
  --ytd-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
  --ytd-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
  --ytd-transcript-toolbar-text: hsl(0, 0%, 6.7%);
  --ytd-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
  --ytd-vat-notice-text: hsla(0, 0%, 6.7%, .6);
  --ytd-offer-background-color: hsla(0, 0%, 93.3%, .4);
  --ytd-video-game-watch-card-logo-color: hsl(0, 0%, 6.7%);
  --ytd-watch-split-pane-sidebar-background-color: hsl(0, 0%, 98%);
/*}
html:not(.style-scope) {*/
  --paper-dialog-background-color: var(--yt-spec-brand-background-solid);
  --paper-listbox-background-color: var(--yt-spec-brand-background-solid);
  --paper-listbox-color: var(--yt-spec-text-primary);
  --paper-spinner-layer-1-color: var(--yt-spec-icon-inactive);
  --paper-spinner-layer-2-color: var(--yt-spec-icon-inactive);
  --paper-spinner-layer-3-color: var(--yt-spec-icon-inactive);
  --paper-spinner-layer-4-color: var(--yt-spec-icon-inactive);
  --paper-spinner-color: var(--yt-spec-icon-inactive);
  --paper-input-container-focus-color: var(--yt-spec-themed-blue);
  --paper-input-container-input-color: var(--yt-spec-text-primary);
  --paper-checkbox-unchecked-color: var(--yt-spec-icon-inactive);
  --paper-checkbox-unchecked-ink-color: var(--yt-spec-icon-inactive);
  --paper-checkbox-checked-color: var(--yt-spec-icon-active-button-link);
  --paper-checkbox-checked-ink-color: var(--yt-spec-icon-active-button-link);
  --paper-checkbox-label-color: var(--yt-spec-text-primary);
  --paper-checkbox-size: 20px;
  --paper-checkbox-checkmark-color: var(--yt-spec-text-primary-inverse);
  --paper-radio-button-unchecked-color: var(--yt-spec-icon-inactive);
  --paper-radio-button-unchecked-ink-color: var(--yt-spec-icon-inactive);
  --paper-radio-button-checked-color: var(--yt-spec-icon-active-button-link);
  --paper-radio-button-checked-ink-color: var(--yt-spec-icon-active-button-link);
  --paper-radio-button-label-spacing: 16px;
  --paper-radio-button-label-color: var(--yt-spec-text-primary);
  --paper-toggle-button-unchecked-bar-color: var(--yt-spec-icon-disabled);
  --paper-toggle-button-unchecked-button-color: var(--yt-spec-icon-inactive);
  --paper-toggle-button-checked-bar-color: var(--yt-spec-icon-disabled);
  --paper-toggle-button-checked-button-color: var(--yt-spec-icon-active-button-link);
  --paper-toggle-button-checked-ink-color: var(--yt-spec-icon-active-button-link);
  --paper-toggle-button-unchecked-ink-color: var(--yt-spec-touch-response);
  --yt-icon-width: 40px;
  --yt-icon-height: 40px;
  --yt-search-correction-corrected_-_color: var(--yt-spec-text-primary);
  --yt-search-correction-original_-_color: var(--yt-spec-text-primary);
  --yt-endpoint_-_color: var(--yt-endpoint-color, var(--yt-spec-text-primary));
  --yt-endpoint-hover_-_color: var(--yt-endpoint-hover-color, var(--yt-spec-text-primary));
  --yt-endpoint-hover_-_text-decoration: var(--yt-endpoint-text-decoration, none);
  --yt-notification-button-bubble_-_color: var(--yt-swatch-important-text, hsl(0, 0%, 100%));
  --yt-notification-button-bubble_-_background-color: var(--yt-spec-brand-button-background);
/*}
html:not(.style-scope) {*/
  --ytd-thumbnail-badge_-_color: var(--yt-spec-static-brand-white);
  --ytd-thumbnail-badge_-_background-color: var(--yt-spec-static-overlay-background-heavy);
/*}
html:not(.style-scope) {*/
  --yt-swatch-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-swatch-primary: hsl(0, 0%, 100%);
  --yt-swatch-primary-darker: rgb(230, 230, 230);
  --yt-swatch-text: hsla(0, 0%, 6.7%, .4);
  --yt-swatch-input-text: hsl(0, 0%, 6.7%);
  --yt-swatch-textbox-bg: rgb(255, 255, 255);
/*}
html:not(.style-scope) {*/
  --primary-text-color: #212121;
  --disabled-text-color: #9b9b9b;
  --divider-color: #dbdbdb;
/*}
html:not(.style-scope) {*/
  --yt-spec-brand-background-solid: #FFFFFF;
  --yt-spec-brand-background-secondary: rgba(255, 255, 255, 0.95);
  --yt-spec-feed-background-a: #F9F9F9;
  --yt-spec-feed-background-b: #F3F3F3;
  --yt-spec-feed-background-c: #EDEDED;
  --yt-spec-error-background: #1F1F1F;
  --yt-spec-text-primary: #0A0A0A;
  --yt-spec-text-primary-inverse: #FFFFFF;
  --yt-spec-text-secondary: #606060;
  --yt-spec-text-disabled: #909090;
  --yt-spec-icon-active-button-link: #065FD4;
  --yt-spec-icon-active-other: #606060;
  --yt-spec-icon-inactive: #909090;
  --yt-spec-icon-disabled: #CCCCCC;
  --yt-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
  --yt-spec-suggested-action: #F2F8FF;
  --yt-spec-button-chip-background-hover: rgba(0, 0, 0, 0.10);
  --yt-spec-touch-response: #000000;
  --yt-spec-filled-button-text: #FFFFFF;
  --yt-spec-call-to-action-inverse: #3EA6FF;
  --yt-spec-brand-icon-inactive: #606060;
  --yt-spec-brand-button-background: #FF0000;
  --yt-spec-brand-link-text: #CC0000;
  --yt-spec-10-percent-layer: rgba(0, 0, 0, 0.10);
  --yt-spec-themed-blue: #065FD4;
  --yt-spec-themed-green: #107516;
  --yt-spec-static-brand-red: #FF0000;
  --yt-spec-static-brand-white: #FFFFFF;
  --yt-spec-static-brand-black: #282828;
  --yt-spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.80);
  --yt-spec-static-overlay-background-medium: rgba(0, 0, 0, 0.60);
  --yt-spec-static-overlay-background-light: rgba(0, 0, 0, 0.10);
  --yt-spec-static-overlay-icon-active-call-to-action: #3EA6FF;
  --yt-spec-static-overlay-text-primary: #FFFFFF;
/*}
html:not(.style-scope) {*/
  --yt-std-body-300: hsla(0, 0%, 0%, .54);
  --yt-std-surface-200: hsl(0, 0%, 98%);
  --yt-std-surface-300: hsl(0, 0%, 96%);
  --yt-std-surface-400: hsl(0, 0%, 93%);
  --yt-primary-color: hsl(0, 0%, 6.7%);
  --yt-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-tertiary-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-border-color: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
  --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
  --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
  --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
  --yt-icon-color: hsla(0, 0%, 6.7%, .4);
  --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
  --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
  --yt-icon-active-color: hsl(0, 0%, 6.7%);
  --yt-expand-color: hsla(0, 0%, 6.7%, .6);
  --yt-placeholder-text: hsla(0, 0%, 6.7%, .6);
  --yt-playlist-background-header: hsl(0, 0%, 93.3%);
  --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
  --yt-playlist-title-text: hsl(0, 0%, 6.7%);
  --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
  --yt-playlist-message-text-hover: hsl(0, 0%, 6.7%);
  --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
  --yt-button-active-color: hsl(0, 0%, 6.7%);
  --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
  --yt-guide-entry-text-color: hsla(0, 0%, 6.7%, .8);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
  --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-alert-background: hsla(0, 0%, 93.3%, .4);
  --yt-video-secondary-info-description-background: hsla(0, 0%, 93.3%, .6);
  --yt-searchbox-text-color: var(--yt-primary-text-color);
  --yt-material-searchbox-inactive: hsla(0, 0%, 93.3%, .6);
  --yt-material-searchbox-active: hsl(0, 0%, 100%);
  --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 53.3%, .2);
  --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
  --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
  --yt-material-searchbox-text-color: var(--yt-primary-text-color);
  --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
  --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
  --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
  --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
  --yt-chat-bubble-other-border-color: #CCCCCC;
  --yt-chat-bubble-other-background-color: #F9F9F9;
  --yt-chat-bubble-self-border-color: #CCCCCC;
  --yt-chat-bubble-self-background-color: #EDEDED;
  --yt-app-background: hsl(0, 0%, 100%);
  --yt-main-app-background: hsl(0, 0%, 98%);
  --yt-main-app-background-tmp: hsl(0, 0%, 100%);
  --yt-guide-background: hsl(0, 0%, 96%);
  --yt-dialog-background: hsl(0, 0%, 100%);
  --yt-searchbox-background: hsl(0, 0%, 100%);
  --yt-channel-header-background: hsl(0, 0%, 98%);
  --yt-sidebar-background: hsl(0, 0%, 98%);
  --yt-transcript-background: hsl(0, 0%, 100%);
}
html[dark][layout^="polmer-2019"] {
/* for 2017 polymer */
/*html:not(.style-scope)[dark], :not(.style-scope)[dark] {*/
  --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
  --ytd-searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
  --ytd-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0);
  --ytd-searchbox-legacy-button-color: hsla(0, 0%, 100%, .08);
  --ytd-searchbox-legacy-button-border-color: hsl(0, 0%, 18.82%);
  --ytd-searchbox-legacy-button-focus-color: hsla(0, 0%, 100%, .08);
  --ytd-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, .08);
  --ytd-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%);
  --ytd-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, .5);
  --ytd-moderation-panel-background: hsla(0, 0%, 11%, .8);
  --ytd-moderation-panel-hover: hsl(0, 0%, 11%);
  --ytd-moderation-panel-comment-text: hsla(0, 100%, 100%, .5);
  --ytd-moderation-panel-comment-metadata-text: hsla(0, 100%, 100%, .5);
  --ytd-moderation-icon-color: hsla(0, 100%, 100%, .5);
  --ytd-moderation-icon-hover-color: hsla(0, 100%, 100%, .74);
  --ytd-comment-text-color: hsla(0, 100%, 100%, .88);
  --ytd-comment-metadata-text-color: hsl(0, 0%, 53.3%);
  --ytd-watch-card-secondary-text-color: hsl(0, 0%, 93.3%);
  --ytd-watch-card-album-header-background: hsl(0, 0%, 6.7%);
  --ytd-backstage-metadata-text-color: hsla(0, 100%, 100%, .88);
  --ytd-backstage-video-link-background-color: hsl(0, 0%, 14%);
  --ytd-backstage-image-alert-color: hsla(0, 100%, 100%, .88);
  --ytd-backstage-cancel-background-color: hsl(0, 0%, 14%);
  --ytd-backstage-cancel-color: hsl(0, 0%, 100%);
  --ytd-backstage-attachment-background-color: hsl(0, 0%, 7%);
  --ytd-backstage-creationbox-background-color: hsl(0, 0%, 11%);
  --ytd-backstage-creationbox-background-color-focus: hsl(0, 0%, 14%);
  --ytd-backstage-creationbox-inactive-color: hsla(0, 100%, 100%, .26);
  --ytd-backstage-creationbox-text-color: hsla(0, 100%, 100%, .5);
  --ytd-backstage-creationbox-input-text-color: hsla(0, 100%, 100%, .88);
  --ytd-backstage-creationbox-disabled-button-color: hsla(0, 100%, 100%, .08);
  --ytd-backstage-creationbox-disabled-button-text-color: hsla(0, 100%, 100%, .26);
  --ytd-backstage-attachment-icon-hover-color: hsla(0, 100%, 100%, .74);
  --ytd-sponsorships-background-color-focus: hsl(0, 0%, 11%);
  --ytd-badge-background: hsla(0, 100%, 100%, .08);
  --ytd-badge-disabled-color: hsla(0, 0%, 100%, .4);
  --ytd-collection-badge-color: hsla(0, 0%, 100%, .8);
  --ytd-owner-badge-color: hsla(0, 0%, 100%, .4);
  --ytd-simple-badge-color: hsla(0, 0%, 100%, .6);
  --ytd-ad-badge-text-color: hsl(0, 0%, 7%);
  --ytd-shopping-product-info: hsla(0, 100%, 100%, .74);
  --ytd-transcript-cue-hover-background-color: hsla(0, 0%, 53.3%, .4);
  --ytd-transcript-toolbar-background-color: hsla(0, 0%, 53.3%, .4);
  --ytd-transcript-toolbar-text: hsla(0, 100%, 100%, .88);
  --ytd-video-publish-date-color: hsla(0, 0%, 100%, .6);
  --ytd-vat-notice-text: hsla(0, 0%, 100%, .6);
  --ytd-offer-background-color: hsl(0, 0%, 14%);
  --ytd-video-game-watch-card-logo-color: hsl(0, 0%, 100%);
  --ytd-watch-split-pane-sidebar-background-color: hsl(0, 0%, 11%);
/*}
html:not(.style-scope)[dark], :not(.style-scope)[dark] {*/
  --yt-spec-brand-background-solid: #282828;
  --yt-spec-brand-background-secondary: rgba(40, 40, 40, 0.95);
  --yt-spec-feed-background-a: #1F1F1F;
  --yt-spec-feed-background-b: #141414;
  --yt-spec-feed-background-c: #0A0A0A;
  --yt-spec-error-background: #F9F9F9;
  --yt-spec-text-primary: #FFFFFF;
  --yt-spec-text-primary-inverse: #0A0A0A;
  --yt-spec-text-secondary: #AAAAAA;
  --yt-spec-text-disabled: #717171;
  --yt-spec-icon-active-button-link: #3EA6FF;
  --yt-spec-icon-active-other: #FFFFFF;
  --yt-spec-icon-inactive: #909090;
  --yt-spec-icon-disabled: #606060;
  --yt-spec-badge-chip-background: rgba(255, 255, 255, 0.10);
  --yt-spec-suggested-action: #252A3A;
  --yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.20);
  --yt-spec-touch-response: #FFFFFF;
  --yt-spec-filled-button-text: #0A0A0A;
  --yt-spec-call-to-action-inverse: #065FD4;
  --yt-spec-brand-icon-inactive: #909090;
  --yt-spec-brand-button-background: #FF0000;
  --yt-spec-brand-link-text: #FF4E45;
  --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.10);
  --yt-spec-themed-blue: #3EA6FF;
  --yt-spec-themed-green: #2BA640;
  --yt-spec-static-brand-red: #FF0000;
  --yt-spec-static-brand-white: #FFFFFF;
  --yt-spec-static-brand-black: #282828;
  --yt-spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.80);
  --yt-spec-static-overlay-background-medium: rgba(0, 0, 0, 0.60);
  --yt-spec-static-overlay-background-light: rgba(0, 0, 0, 0.10);
  --yt-spec-static-overlay-icon-active-call-to-action: #3EA6FF;
  --yt-spec-static-overlay-text-primary: #FFFFFF;
/*}
html:not(.style-scope)[dark], :not(.style-scope)[dark] {*/
  --yt-std-body-300: hsla(0, 100%, 100%, .5);
  --yt-std-surface-200: hsl(0, 0%, 11%);
  --yt-std-surface-300: hsl(0, 0%, 14%);
  --yt-std-surface-400: hsl(0, 0%, 16%);
  --yt-primary-color: hsla(0, 100%, 100%, .88);
  --yt-primary-text-color: hsla(0, 100%, 100%, .88);
  --yt-hovered-text-color: hsla(0, 100%, 100%, .74);
  --yt-secondary-text-color: hsla(0, 100%, 100%, .5);
  --yt-tertiary-text-color: hsla(0, 100%, 100%, .5);
  --yt-placeholder-text-color: hsla(0, 100%, 100%, .5);
  --yt-border-color: hsla(0, 100%, 100%, .08);
  --yt-commentbox-border-inactive: hsla(0, 100%, 100%, .5);
  --yt-commentbox-border-active: hsla(0, 100%, 100%, .88);
  --yt-alert-background: hsla(0, 100%, 100%, .26);
  --yt-paper-button-ink-color: hsla(0, 0%, 100%, .2);
  --yt-icon-color: hsla(0, 100%, 100%, .5);
  --yt-icon-hover-color: hsla(0, 100%, 100%, .74);
  --yt-icon-active-color: hsla(0, 100%, 100%, .88);
  --yt-icon-disabled-color: hsla(0, 100%, 100%, .26);
  --yt-expand-color: hsla(0, 0%, 100%, .6);
  --yt-channel-owner: hsla(0, 100%, 100%, .88);
  --yt-placeholder-text: hsl(0, 0%, 93.3%);
  --yt-playlist-background-header: hsla(0, 0%, 53.3%, .4);
  --yt-playlist-background-item: hsla(0, 0%, 53.3%, .2);
  --yt-playlist-title-text: hsla(0, 100%, 100%, .88);
  --yt-playlist-message-text: hsl(0, 0%, 93.3%);
  --yt-playlist-message-text-hover: hsla(0, 100%, 100%, .74);
  --yt-subscribe-button-text-color: hsla(0, 100%, 100%, .88);
  --yt-button-active-color: hsla(0, 100%, 100%, .88);
  --yt-copyright-text: hsla(0, 0%, 100%, .6);
  --yt-guide-entry-text-color: hsla(0, 100%, 100%, .88);
  --yt-thumbnail-placeholder-color: hsl(0, 0%, 16%);
  --yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, .2);
  --yt-featured-channel-title-text-color: hsla(0, 100%, 100%, .5);
  --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
  --yt-video-secondary-info-description-background: hsla(0, 0%, 53.3%, .2);
  --yt-simple-menu-header-background: hsla(0, 0%, 53.3%, .4);
  --yt-item-section-header-color: hsl(0, 0%, 93.3%);
  --yt-menu-hover-backgound-color: hsla(0, 100%, 100%, .08);
  --yt-menu-focus-background-color: hsla(0, 100%, 100%, .26);
  --yt-searchbox-text-color: var(--yt-primary-text-color);
  --yt-material-searchbox-inactive: hsl(0, 0%, 7%);
  --yt-material-searchbox-active: hsl(0, 0%, 100%);
  --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 0%, .04);
  --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
  --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
  --yt-material-searchbox-text-color: hsl(0, 0%, 6.7%);
  --yt-app-background: hsl(0, 0%, 7%);
  --yt-main-app-background: hsl(0, 0%, 7%);
  --yt-main-app-background-tmp: hsl(0, 0%, 7%);
  --yt-guide-background: hsl(0, 0%, 11%);
  --yt-dialog-background: hsl(0, 0%, 14%);
  --yt-searchbox-background: hsl(0, 0%, 7%);
  --yt-channel-header-background: hsla(0, 0%, 11%, .8);
  --yt-sidebar-background: hsla(0, 0%, 11%, .8);
  --yt-transcript-background: hsl(0, 0%, 11%);
  --yt-chat-bubble-other-border-color: rgba(255, 255, 255, 0.20);
  --yt-chat-bubble-other-background-color: transparent;
  --yt-chat-bubble-self-border-color: rgba(255, 255, 255, 0.20);
  --yt-chat-bubble-self-background-color: #282828;
/*}
html:not(.style-scope) {*/
  --yt-live-chat-action-panel-background-color: hsla(0, 0%, 93.3%, .4);
  --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, .8);
  --yt-live-chat-primary-text-color: hsl(0, 0%, 6.7%);
  --yt-live-chat-secondary-text-color: hsla(0, 0%, 6.7%, .6);
  --yt-live-chat-tertiary-text-color: hsla(0, 0%, 6.7%, .4);
  --yt-live-chat-disabled-icon-button-color: hsla(0, 0%, 6.7%, .2);
  --yt-live-chat-picker-button-color: hsla(0, 0%, 6.7%, .4);
  --yt-formatted-string-emoji-size: 24px;
  --yt-live-chat-text-input-field-suggestion-background-color: hsl(0, 0%, 100%);
  --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
  --yt-live-chat-text-input-field-suggestion-text-color: #666;
  --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
  --yt-emoji-picker-category-background-color: var(--yt-live-chat-action-panel-background-color-transparent);
  --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
  --yt-emoji-picker-category-button-color: var(--yt-live-chat-picker-button-color);
  --yt-emoji-picker-search-background-color: hsla(0, 0%, 100%, .6);
  --yt-emoji-picker-search-color: hsla(0, 0%, 6.7%, .8);
  --yt-emoji-picker-search-placeholder-color: hsla(0, 0%, 6.7%, .6);
/*}*/
/* from elemets */
--yt-swatch-primary: rgb(35,35,35);
--yt-swatch-primary-darker: rgb(32,32,32);
--yt-swatch-text: rgb(255,255,255);
--yt-swatch-important-text: rgb(255,255,255);
--yt-swatch-input-text: rgba(255,255,255,1);
--yt-swatch-textbox-bg: rgba(19,19,19,1);
--yt-swatch-logo-override: rgb(255,255,255);
--yt-swatch-icon-color: rgba(136,136,136,1);
/* custom */
  --yt-spec-5-percent-layer: rgba(0, 0, 0, 0.05);
  --yt-spec-15-percent-layer: rgba(0, 0, 0, 0.15);
}


#masthead-container {
  overflow: hidden;
}
#player.ytd-watch-flexy {
  background: black;
}
/* BTSECTION: All 
ytd-app[layout="hitchhiker"] paper-ripple, 
ytd-app[layout="hitchhiker"] yt-interaction, 
ytd-app[layout="cosmicpanda"] paper-ripple, 
ytd-app[layout="cosmicpanda"] yt-interaction,
ytd-app[layout="aozora"] paper-ripple, 
ytd-app[layout="aozora"] yt-interaction,
ytd-app[layout="polymer"] yt-interaction  {
	display: none !important;
}*/
html[layout^="hitchhiker"] paper-ripple, 
html[layout^="hitchhiker"] yt-interaction, 
html[layout^="cosmicpanda"] paper-ripple, 
html[layout^="cosmicpanda"] yt-interaction,
html[layout^="aozora"] paper-ripple, 
html[layout^="aozora"] yt-interaction, 
html[layout^="stargazer"] paper-ripple, 
html[layout^="stargazer"] yt-interaction,
html[layout^="polymer-2019"] yt-interaction {
	display: none !important;
}
html[disable-flexy-player="true"]:not([static]) {
--bt-player-width: 854px;
--bt-player-height: 480px;
}
html[disable-flexy-player="true"][player-width="586"]:not([static]) {
--bt-player-width: 586px;
}
html[disable-flexy-player="true"][player-height="330"]:not([static]) {
--bt-player-height: 330px;
}
html[disable-flexy-player="true"][player-width="854"]:not([static]) {
--bt-player-width: 854px;
}
html[disable-flexy-player="true"][player-height="480"]:not([static]) {
--bt-player-height: 480px;
}
html[disable-flexy-player="true"][player-width="640"]:not([static]) {
--bt-player-width: 640px;
}
html[disable-flexy-player="true"][player-height="360"]:not([static]) {
--bt-player-height: 360px;
}
html[disable-flexy-player="true"][player-width="1024"]:not([static]) {
--bt-player-width: 1024px;
}
html[disable-flexy-player="true"][player-height="576"]:not([static]) {
--bt-player-height: 576px;
}
html[disable-flexy-player="true"][player-width="1280"]:not([static]) {
--bt-player-width: 1280px;
}
html[disable-flexy-player="true"][player-height="720"]:not([static]) {
--bt-player-height: 720px;
}
html[disable-flexy-player="true"][player-width="1600"]:not([static]) {
--bt-player-width: 1600px;
}
html[disable-flexy-player="true"][player-height="900"]:not([static]) {
--bt-player-height: 900px;
}
html[disable-flexy-player="true"][player-width="1920"]:not([static]) {
--bt-player-width: 1920px;
}
html[disable-flexy-player="true"][player-height="1080"]:not([static]) {
--bt-player-height: 1080px;
}
/* 480 x 360 */
html[disable-flexy-player="true"][player-width="480"]:not([static]) {
--bt-player-width: 480px;
}
html[disable-flexy-player="true"][player-height="360"]:not([static]) {
--bt-player-height: 360px;
}
/* 640 x 480 */
html[disable-flexy-player="true"][player-width="640"]:not([static]) {
--bt-player-width: 640px;
}
html[disable-flexy-player="true"][player-height="480"]:not([static]) {
--bt-player-height: 480px;
}
/* 768 x 576 */
html[disable-flexy-player="true"][player-width="768"]:not([static]) {
--bt-player-width: 768px;
}
html[disable-flexy-player="true"][player-height="576"]:not([static]) {
--bt-player-height: 576px;
}
/* 960 x 720 */
html[disable-flexy-player="true"][player-width="960"]:not([static]) {
--bt-player-width: 960px;
}
html[disable-flexy-player="true"][player-height="720"]:not([static]) {
--bt-player-height: 720px;
}
/* 360 x 640 */
html[disable-flexy-player="true"][player-width="360"]:not([static]) {
--bt-player-width: 360px;
}
html[disable-flexy-player="true"][player-height="640"]:not([static]) {
--bt-player-height: 640px;
}
html[disable-flexy-player="true"]:not([static]) ytd-watch-flexy #primary.ytd-watch-flexy {
  width: var(--bt-player-width) !important;
  min-width: var(--bt-player-width) !important;
  max-width: var(--bt-player-width) !important;
}

/* Topbar */
html[location="watch"][disable-flexy-player="true"]:not([static]) ytd-masthead {
  margin: var(--tubek12-static-page-margin) !important;
}
html[disable-flexy-player="true"]:not([static]) ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin]):not([reduced-top-margin]) {
  --ytd-watch-flexy-player-width: var(--bt-player-width) !important;
  --ytd-watch-flexy-player-height: var(--bt-player-height) !important;
}
html[disable-flexy-player="true"]:not([static])) ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin]):not([reduced-top-margin]) #movie_player[aria-label="YouTube Video Player"] ytd-watch-flexy video {
  width: var(--bt-player-width) !important;
  margin: 0 auto !important;
  display: flex;
  max-width: var(--bt-player-width) !important;
  height: auto !important;
  max-height: var(--bt-player-height) !important;
  align-self: center !important;
  min-height: var(--bt-player-height) !important;
}
html[disable-flexy-player="true"]:not([static]) ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin]):not([reduced-top-margin]) #player.ytd-watch-flexy {
  background: black;
  width: var(--bt-player-width) !important;
}
/* This code is necessary for non 16:9 videos to keep a consistent width. */
html[disable-flexy-player="true"]:not([static]) ytd-watch-flexy:not([theater]):not([fullscreen]):not([no-top-margin]):not([reduced-top-margin]) #movie_player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: calc(var(--bt-player-width) - 24px) !important;
}
/* These variables are required for non 16:9 non 1:1 videos to keep a consistent width. */
html[disable-flexy-player="true"]:not([static]) ytd-watch-flexy[flexy] {
           --ytd-watch-flexy-width-ratio: 16 !important;
           --ytd-watch-flexy-height-ratio: 9 !important;
           --ytd-watch-flexy-space-below-player: 136px;
           --ytd-watch-flexy-non-player-height: var(--bt-player-height) !important;
           --ytd-watch-flexy-non-player-width: var(--bt-player-width) !important;
           --ytd-watch-flexy-min-player-height: var(--bt-player-height) !important;
           --ytd-watch-flexy-min-player-width: var(--bt-player-width) !important;
           --ytd-watch-flexy-max-player-height: var(--bt-player-height) !important;
           --ytd-watch-flexy-max-player-width: var(--bt-player-width) !important;
}
html[disable-flexy-player="true"][player-ratio="4:3"]:not([static]) ytd-watch-flexy[flexy] {
           --ytd-watch-flexy-width-ratio: 4 !important;
           --ytd-watch-flexy-height-ratio: 3 !important;
}
html[disable-flexy-player="true"][player-ratio="9:16"]:not([static]) ytd-watch-flexy[flexy] {
           --ytd-watch-flexy-width-ratio: 9 !important;
           --ytd-watch-flexy-height-ratio: 16 !important;
}
html[disable-flexy-player="true"]:not([static]) #primary.ytd-watch-flexy {
	max-width: calc((100vh - (var(--ytd-watch-flexy-masthead-height) + var(--ytd-margin-6x) + var(--ytd-watch-flexy-space-below-player))) * (${window.screen.width} / ${window.screen.height})) !important;
	min-width: calc(var(--ytd-watch-flexy-min-player-height) * (${window.screen.width} / ${window.screen.height})) !important;
}
html[disable-flexy-player="true"]:not([static]) #player-container-outer {
	max-width: var(--bt-player-width)  !important;
	min-width: 0 !important;
	position: relative !important;
}
html[disable-flexy-player="true"]:not([static]) #player-container-inner {
	padding-top: calc(${window.screen.height} / ${window.screen.width} * 100%) !important;
}
html[disable-flexy-player="true"]:not([static]) .html5-video-container {
	width:100% !important;
	height:100% !important;
}
html[disable-flexy-player="true"]:not([static]) .html5-video-container video {
	width:100% !important;
	height:100% !important;
	left:0 !important;
	top: 0 !important;
	object-fit: contain !important;
}
/*
html[color-style]:not([color-style="plmr"s]),
html[color-style]:not([color-style="plmr"s]) ytd-app {
  background: var(--bt-site-bg) !important;
}
*/
html[global-color-palette],
html[global-color-palette] ytd-app {
  background: var(--bt-site-bg) !important;
}
/* todo move somewhere else */
html:not([icon-type="outline"]) ytd-segmented-like-dislike-button-renderer yt-icon-shape {
	display: none;
}
html[hide-shorts-shelf-subs="true"] ytd-rich-shelf-renderer[is-shorts] {
  display: none;
}
html[layout] ytd-browse:not([page-subtype="subscriptions"]) ytd-rich-section-renderer {
  display: none;
}


html[thumbnail-style]:not([thumbnail-style^="polymer"]) {
  --bt-mix-thumbnail-width: 43.75%;
  --bt-mix-thumbnail-left: unset;
  --bt-mix-thumbnail-height: 100%;
  --bt-mix-thumbnail-bg: rgba(0,0,0,.8);
  --bt-mix-thumbnail-display: flex;
  --bt-mix-thumbnail-flex-dir: column;
  
  --bt-mix-thumbnail-50-content: "50+";
  --bt-mix-thumbnail-50-font-weight: normal;
  --bt-mix-thumbnail-50-font-family: "arial";
  --bt-mix-thumbnail-50-text-color: #cfcfcf;
  
  --bt-mix-thumbnail-50-font-size: 18px;
  --bt-mix-thumbnail-50-line-height: 22px;
  --bt-mix-thumbnail-50-margin-top: 11px;

  --bt-mix-thumbnail-videos-content: "Videos";
  --bt-mix-thumbnail-videos-text-transform: uppercase;
  --bt-mix-thumbnail-videos-font-family: var(--bt-mix-thumbnail-50-font-family);
  --bt-mix-thumbnail-videos-text-color: var(--bt-mix-thumbnail-50-text-color);
  
  --bt-mix-thumbnail-videos-font-size: 10px;
  --bt-mix-thumbnail-videos-line-height: 1.25em;
  --bt-mix-thumbnail-videos-margin-top: -9px;
  
  --bt-mix-thumbnail-icon-content: "";
  --bt-mix-thumbnail-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflYQU35a.png) -225px -563px;
  --bt-mix-thumbnail-icon-bg-size: auto;
  
  --bt-mix-thumbnail-icon-size: 32px;
  --bt-mix-thumbnail-icon-margin-top: -11px;
  --bt-mix-thumbnail-icon-margin-bottom: 11px;
}
html[thumbnail-style]:not([thumbnail-style^="polymer"])[related-videos-size^="small"] {
  --bt-related-mix-thumbnail-50-font-size: 14px;
  --bt-related-mix-thumbnail-50-line-height: 22px;
  --bt-related-mix-thumbnail-50-margin-top: 7px;
  
  --bt-related-mix-thumbnail-videos-font-size: 8px;
  --bt-related-mix-thumbnail-videos-line-height: 1.25em;
  --bt-related-mix-thumbnail-videos-margin-top: -11px;
  
  --bt-related-mix-thumbnail-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflCwII0O.png) 0 -1622px;
  --bt-related-mix-thumbnail-icon-size: 24px;
  --bt-related-mix-thumbnail-icon-margin-top: -11px;
  --bt-related-mix-thumbnail-icon-margin-bottom: 11px;
}
html[thumbnail-style]:not([thumbnail-style^="polymer"])[related-videos-size^="medium"] {
  --bt-related-mix-thumbnail-50-font-size: 15px;
  --bt-related-mix-thumbnail-50-line-height: 22px;
  --bt-related-mix-thumbnail-50-margin-top: 10px;
  
  --bt-related-mix-thumbnail-videos-font-size: 9px;
  --bt-related-mix-thumbnail-videos-line-height: 1.25em;
  --bt-related-mix-thumbnail-videos-margin-top: -10px;
  
  --bt-related-mix-thumbnail-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflCwII0O.png) 0 -1622px;
  --bt-related-mix-thumbnail-icon-size: 24px;
  --bt-related-mix-thumbnail-icon-margin-top: -9px;
  --bt-related-mix-thumbnail-icon-margin-bottom: 9px;
}
html[thumbnail-style]:not([thumbnail-style^="polymer"])[related-videos-size^="large"] {
  --bt-related-mix-thumbnail-50-font-size: 18px;
  --bt-related-mix-thumbnail-50-line-height: 22px;
  --bt-related-mix-thumbnail-50-margin-top: 13px;
  
  --bt-related-mix-thumbnail-videos-font-size: 10px;
  --bt-related-mix-thumbnail-videos-line-height: 1.25em;
  --bt-related-mix-thumbnail-videos-margin-top: -8px;
  
  --bt-related-mix-thumbnail-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflYQU35a.png) -225px -563px;
  --bt-related-mix-thumbnail-icon-size: 32px;
  --bt-related-mix-thumbnail-icon-margin-top: -11px;
  --bt-related-mix-thumbnail-icon-margin-bottom: 11px;
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) ytd-thumbnail ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections]) {
  width: var(--bt-mix-thumbnail-width);
  left: var(--bt-mix-thumbnail-left);
  height: var(--bt-mix-thumbnail-height);
  background: var(--bt-mix-thumbnail-bg) !important;
  display: var(--bt-mix-thumbnail-display);
  flex-direction: var(--bt-mix-thumbnail-flex-dir);
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) ytd-thumbnail ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections])::before {
  content: var(--bt-mix-thumbnail-50-content);
  font-weight: var(--bt-mix-thumbnail-50-font-weight);
  font-family: var(--bt-mix-thumbnail-50-font-family);
  color: var(--bt-mix-thumbnail-50-text-color);
  
  font-size: var(--bt-mix-thumbnail-50-font-size);
  line-height: var(--bt-mix-thumbnail-50-line-height);
  margin-top: var(--bt-mix-thumbnail-50-margin-top);
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) #related ytd-compact-radio-renderer ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections])::before {
  font-size: var(--bt-related-mix-thumbnail-50-font-size);
  line-height: var(--bt-related-mix-thumbnail-50-line-height);
  margin-top: var(--bt-related-mix-thumbnail-50-margin-top);
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) ytd-thumbnail ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections]) yt-icon::after {
  content: var(--bt-mix-thumbnail-videos-content);
  text-transform: var(--bt-mix-thumbnail-videos-text-transform);
  font-family: var(--bt-mix-thumbnail-videos-font-family);
  color: var(--bt-mix-thumbnail-videos-text-color);

  font-size: var(--bt-mix-thumbnail-videos-font-size);
  line-height: var(--bt-mix-thumbnail-videos-line-height);
  margin-top: var(--bt-mix-thumbnail-videos-margin-top);
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) #related ytd-compact-radio-renderer ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections]) yt-icon::after {
  font-size: var(--bt-related-mix-thumbnail-videos-font-size);
  line-height: var(--bt-related-mix-thumbnail-videos-line-height);
  margin-top: var(--bt-related-mix-thumbnail-videos-margin-top);
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) ytd-thumbnail ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections])::after {
  background: var(--bt-mix-thumbnail-icon-bg);
  background-size: var(--bt-mix-thumbnail-icon-bg-size);
  content: var(--bt-mix-thumbnail-icon-content);
  
  width: var(--bt-mix-thumbnail-icon-size);
  height: var(--bt-mix-thumbnail-icon-size);
  margin-top: var(--bt-mix-thumbnail-icon-margin-top);
  margin-bottom: var(--bt-mix-thumbnail-icon-margin-bottom);
}
html[thumbnail-style]:not([thumbnail-style^="polymer"]) #related ytd-compact-radio-renderer ytd-thumbnail-overlay-bottom-panel-renderer:not([use-modern-collections-v2]):not([use-modern-collections])::after {
  background: var(--bt-related-mix-thumbnail-icon-bg);
  width: var(--bt-related-mix-thumbnail-icon-size);
  height: var(--bt-related-mix-thumbnail-icon-size);
  margin-top: var(--bt-related-mix-thumbnail-icon-margin-top);
  margin-bottom: var(--bt-related-mix-thumbnail-icon-margin-bottom);
}


/* subs page */
html[grid-styling^="hitchhiker"] .style-scope.ytd-browse.grid.grid-5-columns,
html[grid-styling^="hitchhiker"] .style-scope.ytd-browse.grid.grid-6-columns {
  background: var(--bt-section-bg);
  box-shadow: var(--bt-section-box-shadow);
  margin-top: 14px;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-two-column-browse-results-renderer.grid-6-columns, 
html[grid-styling]:not([grid-styling^="polymer"]) .grid-6-columns.ytd-two-column-browse-results-renderer {
  width: 1316px !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-two-column-browse-results-renderer.grid-5-columns, 
html[grid-styling]:not([grid-styling^="polymer"]) .grid-5-columns.ytd-two-column-browse-results-renderer {
  width: 1100px !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-two-column-browse-results-renderer.grid:not(.grid-disabled) {
  max-width: 1316px;
}
html[grid-styling^="hitchhiker-2013"] ytd-two-column-browse-results-renderer.grid-5-columns, 
html[grid-styling^="hitchhiker-2013"] .grid-5-columns.ytd-two-column-browse-results-renderer,
html[grid-styling^="hitchhiker-2013"] ytd-two-column-browse-results-renderer.grid:not(.grid-disabled) {
  width: 1000px !important;
}
#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-downloaded-video-grid-video-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-grid-radio-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-grid-channel-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-grid-playlist-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-grid-movie-playlist-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-grid-movie-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-grid-show-renderer.ytd-grid-renderer, 
#items.ytd-grid-renderer > ytd-game-card-renderer.ytd-grid-renderer {
  margin-bottom: 12px;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-grid-renderer #video-title {
  color: var(--bt-small-grid-link-color, revert) !important;
  font-size: var(--bt-small-grid-title-font-size) !important;
  line-height: var(--bt-small-grid-title-line-height) !important;
  font-weight: var(--bt-small-grid-title-font-weight) !important;
  max-height: var(--bt-small-grid-title-max-height) !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-grid-renderer #video-title:hover {
  text-decoration: var(--bt-small-grid-title-text-decoration, revert) !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) h3.ytd-grid-video-renderer {
  margin: var(--bt-small-grid-title-margin);
}
/* metadata */
html[grid-styling]:not([grid-styling^="polymer"]) ytd-grid-renderer #metadata-line {
  color: var(--bt-small-grid-meta-block-text-color) !important;
  font-size: var(--bt-small-grid-meta-block-font-size) !important;
  line-height: var(--bt-small-grid-meta-block-line-height) !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-grid-renderer ytd-channel-name a {
  color: var(--bt-small-grid-meta-block-text-color) !important;
  font-size: var(--bt-small-grid-meta-block-font-size);
  line-height: var(--bt-small-grid-meta-block-line-height) !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-grid-renderer ytd-grid-video-renderer:hover ytd-channel-name a {
  color: var(--bt-small-grid-link-color) !important;
}
html[grid-styling]:not([grid-styling^="polymer"]) ytd-grid-renderer ytd-grid-video-renderer ytd-channel-name a:hover {
  text-decoration: var(--bt-small-grid-hover-meta-text-decoration) !important;
}
/* section title */
html[grid-styling]:not([grid-styling^="polymer"]) .grid-subheader.ytd-shelf-renderer {
  margin-top: 0;
}
html[grid-styling]:not([grid-styling^="polymer"]) #contents.ytd-shelf-renderer {
  margin-top: 12px;
}

/* notif icon */
html[color-style] ytd-notification-topbar-button-renderer yt-icon svg:not(.plmr) {
  display: none;
}

/* universal */
html[layout] ytd-section-list-renderer {
  padding: 0 15px;
}
html[layout]:not([location="watch"]) ytd-item-section-renderer {
  padding-top: 15px;
}
/* unround */
html[unrounded-vids] ytd-thumbnail, 
html[unrounded-vids] ytd-thumbnail[size="large"] a.ytd-thumbnail, 
html[unrounded-vids] ytd-thumbnail[size="large"]::before, 
html[unrounded-vids] ytd-thumbnail[size="medium"] a.ytd-thumbnail, 
html[unrounded-vids] ytd-thumbnail[size="medium"]::before {
	border-radius: 0 !important;
}
html[unrounded-vids] ytd-playlist-thumbnail[size="large"] a.ytd-playlist-thumbnail, 
html[unrounded-vids] ytd-playlist-thumbnail[size="large"]::before, 
html[unrounded-vids] ytd-playlist-thumbnail[size="medium"] a.ytd-playlist-thumbnail, 
html[unrounded-vids] ytd-playlist-thumbnail[size="medium"]::before, 
html[unrounded-vids] .image-wrapper.ytd-hero-playlist-thumbnail-renderer {
	border-radius: 0 !important;
}
/* for inline player */
html[unrounded-vids] ytd-thumbnail[size="large"] a.ytd-thumbnail, 
html[unrounded-vids] ytd-thumbnail[size="large"]::before {
    border-radius: 0 !important;
}
/* for end videowall */
html[unrounded-vids] .html5-video-player a,
html[unrounded-vids] .html5-video-player .ytp-videowall-still-image {
	border-radius: 0 !important;
}
/* for channel player */
html[unrounded-vids] ytd-player {
  border-radius: 0 !important;
}
/* for rounded player */
html[unrounded-vids] ytd-watch-flexy[rounded-player-large]:not([fullscreen]):not([theater]) #ytd-player.ytd-watch-flexy,
html[unrounded-vids] #ytd-player.ytd-watch-flexy { 
	border-radius: 0 !important; 
}
html[unrounded-pfps="strict"] yt-img-shadow.ytd-topbar-menu-button-renderer, 
html[unrounded-pfps] yt-img-shadow.ytd-guide-entry-renderer, 
html[unrounded-pfps] #author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer, 
html[unrounded-pfps] ytd-comment-view-model #author-thumbnail yt-img-shadow, 
html[unrounded-pfps] #author-thumbnail.ytd-comment-simplebox-renderer, 
html[unrounded-pfps] yt-img-shadow.ytd-channel-renderer, 
html[unrounded-pfps] #author-thumbnail.ytd-backstage-post-renderer yt-img-shadow.ytd-backstage-post-renderer, 
html[unrounded-pfps] #thumbnail.ytd-profile-column-user-info-renderer, 
html[unrounded-pfps] yt-img-shadow.ytd-account-item-renderer, 
html[unrounded-pfps] yt-img-shadow.ytd-channel-avatar-editor, 
html[unrounded-pfps] yt-img-shadow.ytd-video-renderer,
html[unrounded-pfps] #author-thumbnail.ytd-commentbox, 
html[unrounded-pfps] ytd-commentbox[is-reply][is-backstage-comment] #author-thumbnail.ytd-commentbox,
html[unrounded-pfps] yt-img-shadow.ytd-grid-channel-renderer,
html[unrounded-pfps] .avatar.ytd-recognition-shelf-renderer,
html[unrounded-pfps] .yt-content-preview-image-view-model-wiz--circle-image {
	  border-radius: 0 !important;
}
html[unrounded-pfps] #avatar {
	  border-radius: 0 !important;
}
/* for the yoodle banners */
html[layout] ytd-statement-banner-renderer a {
  border-radius: 2px !important;
  text-transform: uppercase !important;
  padding: 18px 20px !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
html[location="customtube"] #logo div[hidden] {
  display: block !important;
}
/* fade in */
    @keyframes loadAnim {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
html[thumbs-fade-in="true"] .yt-core-image--loaded {
    animation: loadAnim 0.4s 1;
    opacity: 1;
}
/* timestatus */
html[layout]:not([layout^="polymer"]) ytd-thumbnail-overlay-time-status-renderer ytd-badge-supported-renderer {
  display: none;
}
html[layout]:not([layout^="polymer"]) ytd-thumbnail #overlays ytd-thumbnail-overlay-time-status-renderer {
  margin: 1px;
}
html[layout]:not([layout^="polymer"]) #time-status.ytd-thumbnail-overlay-time-status-renderer {
  margin: 2px;
  border-radius: 0 !important;
  padding: 1px 4px;
  font-size: 11px;
  font-weight: 700;
  background: rgba(0,0,0,.75);
  letter-spacing: 0;
}
/* badges */
html[layout]:not([layout^="polymer"]) #badges.ytd-video-renderer .badge:not(.badge-style-type-live-now-alternate),
html[layout]:not([layout^="polymer"]) .badges.ytd-compact-video-renderer .badge:not(.badge-style-type-live-now-alternate),
html[layout]:not([layout^="polymer"]) #video-badges.ytd-grid-video-renderer .badge:not(.badge-style-type-live-now-alternate) {
  border: 1px solid #ddd;
  padding: 0 4px;
  height: 13px;
  color: var(--bt-gcp-444);
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 13px;
  display: inline-block;
  *zoom: 1;
  background: transparent;
}
html[layout][dark]:not([layout^="polymer"]) #badges.ytd-video-renderer .badge:not(.badge-style-type-live-now-alternate),
html[layout][dark]:not([layout^="polymer"]) .badges.ytd-compact-video-renderer .badge:not(.badge-style-type-live-now-alternate),
html[layout][dark]:not([layout^="polymer"]) #video-badges.ytd-grid-video-renderer .badge:not(.badge-style-type-live-now-alternate) {
  border: 1px solid #444;
}
html[layout]:not([layout^="polymer"]) #badges.ytd-video-renderer .badge-style-type-live-now-alternate,
html[layout]:not([layout^="polymer"]) .badges.ytd-compact-video-renderer .badge-style-type-live-now-alternate,
html[layout]:not([layout^="polymer"]) #video-badges.ytd-grid-video-renderer .badge-style-type-live-now-alternate {
  border: 1px solid #c00;
  padding: 0 4px;
  height: 13px;
  color: #c00;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 13px;
  display: inline-block;
  *zoom: 1;
  background: transparent;
}
html[layout]:not([layout^="polymer"]) .badge-style-type-live-now-alternate.ytd-badge-supported-renderer yt-icon.ytd-badge-supported-renderer {
  color: #c00;
}

/* player */
html[disable-fullscreen-scroll="true"] ytd-watch-flexy[fullscreen] ytd-player {
  position: fixed;
  z-index: 99999999;
}
html[disable-fullscreen-scroll="true"] .ytp-fullerscreen-edu-button.ytp-button.ytp-fullerscreen-edu-button-subtle {
  display: none;
}

/* fix report */
yt-report-details-form-renderer #description {
  pointer-events: all !important;
}
/* fix chan vid desc */
ytd-channel-video-player-renderer #description {
  pointer-events: all !important;
}

/* verified */
html[layout]:not([layout^="polymer"]) .badge-style-type-verified > yt-icon.ytd-badge-supported-renderer {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfllYIUv0.png) -240px -918px;
    background-size: auto;
    width: 12px;
    height: 9px;
    color:transparent;
    margin-top: 2px;
    cursor: pointer;
}
html[layout]:not([layout^="polymer"]) .badge-style-type-verified > yt-icon.ytd-badge-supported-renderer:hover {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfllYIUv0.png) -81px -314px;
}

html[disable-flexy-player="true"] ytd-app:not([masthead-hidden]) #page-manager.ytd-app {
  margin-top: var(--bt-topbar-height) !important;
}

/* history */
html[static] ytd-two-column-browse-results-renderer[page-subtype="history"][has-secondary-column-data] #primary.ytd-two-column-browse-results-renderer {
  padding-right: 0;
}

/* patch */
html[layout^="aozora"][channel-style^="aozora"] ytd-app ytd-browse[page-subtype="channels"] #contents.ytd-rich-grid-renderer {
    padding-top: 32px !important;
}

/* font */
html[layout^="stargazer"] span,
html[layout^="stargazer"] yt-formatted-string,
html[layout^="aozora"] span,
html[layout^="aozora"] yt-formatted-string,
html[layout^="comsicpanda"] span,
html[layout^="cosmicpanda"] yt-formatted-string {
  font-family: arial !important;
}

/* dropdowns */
html[button-style^="hitchhiker"] {
--bt-yt-dropdown-btn-flex-dir: row-reverse;
--bt-yt-dropdown-btn-icon-margin-left: 4px;
--bt-yt-dropdown-btn-icon-margin-right: 0;
}
html[button-style^="cosmicpanda"] {
--bt-yt-dropdown-btn-flex-dir: row-reverse;
--bt-yt-dropdown-btn-icon-margin-left: 4px;
--bt-yt-dropdown-btn-icon-margin-right: 0;
}
html[button-style^="aozora"] {
--bt-yt-dropdown-btn-flex-dir: row-reverse;
--bt-yt-dropdown-btn-icon-margin-left: 4px;
--bt-yt-dropdown-btn-icon-margin-right: 0;
}
html[button-style^="stargazer"] {
--bt-yt-dropdown-btn-flex-dir: row-reverse;
--bt-yt-dropdown-btn-icon-margin-left: 4px;
--bt-yt-dropdown-btn-icon-margin-right: 0;
}
html[button-style]:not([button-style^="polymer"]) tp-yt-paper-button.yt-dropdown-menu {
  padding: var(--bt-standard-btn-padding) !important;
  background: var(--bt-standard-btn-bg);
  border: var(--bt-standard-btn-border);
  height: var(--bt-standard-btn-height);
  border-color: var(--bt-standard-btn-border-color);
  border-radius: var(--bt-standard-btn-radius);
  text-shadow: var(--bt-standard-btn-text-shadow);
  box-shadow: var(--bt-standard-btn-box-shadow);
  
  flex-direction: var(--bt-yt-dropdown-btn-flex-dir) !important;
}
html[button-style]:not([button-style^="polymer"]) tp-yt-paper-button.yt-dropdown-menu:hover {
  background: var(--bt-standard-btn-bg-hover);
  border-color: var(--bt-standard-btn-border-color-hover);
  box-shadow: var(--bt-standard-btn-box-shadow-hover);
}
html[button-style]:not([button-style^="polymer"]) tp-yt-paper-button.yt-dropdown-menu[aria-expanded="true"]{
  background: var(--bt-standard-btn-bg-active);
  border-color: var(--bt-standard-btn-border-color-active);
  box-shadow: var(--bt-standard-btn-box-shadow-active);
}
html[button-style]:not([button-style^="polymer"]) #icon-label.yt-dropdown-menu,
html[button-style]:not([button-style^="polymer"]) #label-text.yt-dropdown-menu {
  font-size: var(--bt-standard-btn-font-size);
  font-weight: var(--bt-standard-btn-font-weight);
  color: var(--bt-standard-btn-text-color);
  letter-spacing: 0;
}
html[button-style]:not([button-style^="polymer"]) yt-icon.yt-dropdown-menu {
  margin-left: var(--bt-yt-dropdown-btn-icon-margin-left);
  margin-right: var(--bt-yt-dropdown-btn-icon-margin-right) !important;
  position: absolute;
  visibility: hidden;
}
html[button-style]:not([button-style^="polymer"]) #cancel-button.ytd-commentbox button,
html[button-style]:not([button-style^="polymer"]) #submit-button.ytd-commentbox button {
  padding: var(--bt-standard-btn-padding) !important;
  background: var(--bt-standard-btn-bg);
  border: var(--bt-standard-btn-border);
  height: var(--bt-standard-btn-height);
  border-color: var(--bt-standard-btn-border-color);
  border-radius: var(--bt-standard-btn-radius);
  text-shadow: var(--bt-standard-btn-text-shadow);
  box-shadow: var(--bt-standard-btn-box-shadow);
  font-size: var(--bt-standard-btn-font-size);
  
  flex-direction: var(--bt-yt-dropdown-btn-flex-dir) !important;
}
html[button-style]:not([button-style^="polymer"]) #buttons.ytd-commentbox {
  margin-top: 8px;
}
html[button-style]:not([button-style^="polymer"]) #cancel-button.ytd-commentbox button:hover {
  background: var(--bt-standard-btn-bg-hover);
  border: var(--bt-standard-btn-border-hover);
  border-color: var(--bt-standard-btn-border-color-hover);
  box-shadow: var(--bt-standard-btn-box-shadow-hover);
}
html[button-style]:not([button-style^="polymer"]) #cancel-button.ytd-commentbox button:active {
  background: var(--bt-standard-btn-bg-active);
  border: var(--bt-standard-btn-border-active);
  border-color: var(--bt-standard-btn-border-color-active);
  box-shadow: var(--bt-standard-btn-box-shadow-active);
}
html[button-style]:not([button-style^="polymer"]) #submit-button.ytd-commentbox button {
  background: var(--bt-cta-btn-bg);
  border: var(--bt-cta-btn-border);
  border-color: var(--bt-cta-btn-border-color);
  color: #fff;
}
html[button-style]:not([button-style^="polymer"]) #submit-button.ytd-commentbox button:hover {
  background: var(--bt-cta-btn-bg-hover);
  border: var(--bt-cta-btn-border-hover);
  border-color: var(--bt-cta-btn-border-color-hover);
  color: #fff;
}
html[button-style]:not([button-style^="polymer"]) #submit-button.ytd-commentbox button:active {
  background: var(--bt-cta-btn-bg-active);
  border: var(--bt-cta-btn-border-active);
  border-color: var(--bt-cta-btn-border-color-active);
  color: #fff;
}
/* tooltips */
/* tooltip */
html[button-style^="hitchhiker"] {
--bt-tooltip-bg: #000;
--bt-tooltip-border: none;
--bt-tooltip-radius: 2px;
--bt-tooltip-text-color: #fff;
--bt-tooltip-box-shadow: 0 1px 1px rgba(0,0,0,.25);
--bt-tooltip-padding: 0.5em;
--bt-tooltip-font-size: 11px;
--bt-tooltip-font-family: arial;
--bt-tooltip-line-height: normal;
}
html[button-style^="cosmicpanda"] {
--bt-tooltip-bg: linear-gradient(to bottom,#4a4a4a 0,#000 100%);
--bt-tooltip-border: none;
--bt-tooltip-radius: 2px;
--bt-tooltip-text-color: #fff;
--bt-tooltip-box-shadow: 0 0 3px #333;
--bt-tooltip-padding: 0.75em;
--bt-tooltip-font-size: 12px;
--bt-tooltip-font-family: arial;
--bt-tooltip-line-height: normal;
}
html[button-style^="aozora"] {
--bt-tooltip-bg: rgba(0,0,0,0.85);
--bt-tooltip-border: 1px solid #ccc;
--bt-tooltip-radius: 5px;
--bt-tooltip-text-color: #fff;
--bt-tooltip-box-shadow: 0px 0px 3px #333;
--bt-tooltip-padding: 0.5em;
--bt-tooltip-font-size: 12px;
--bt-tooltip-font-family: arial;
--bt-tooltip-line-height: normal;
}
html[button-style^="stargazer"] {
--bt-tooltip-bg: rgba(0,0,0,0.85);
--bt-tooltip-border: 1px solid #ccc;
--bt-tooltip-radius: 5px;
--bt-tooltip-text-color: #fff;
--bt-tooltip-box-shadow: 0px 0px 3px #333;
--bt-tooltip-padding: 0.5em;
--bt-tooltip-font-size: 12px;
--bt-tooltip-font-family: arial;
--bt-tooltip-line-height: normal;
}
html[layout]:not([button-style^="polymer"]) tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target="tooltip"] {
  background: var(--bt-tooltip-bg);
  border: var(--bt-tooltip-border);
  border-radius: var(--bt-tooltip-radius) !important;
  color: var(--bt-tooltip-text-color);
  box-shadow: var(--bt-tooltip-box-shadow);
  padding: var(--bt-tooltip-padding);
  font-size: var(--bt-tooltip-font-size);
  font-family: var(--bt-tooltip-font-family) !important;
  line-height: var(--bt-tooltip-line-height);
}
/*
html ytd-app {
  opacity: 0;
  transition-duration: 0.5s;
}
html[layout] ytd-app,
html[nolayout] ytd-app {
  opacity: 1;
}
*/
html:not([lang^="en"]) .bt-localized[bt-lang="en"],
html:not([lang^="ja"]) .bt-localized[bt-lang="ja"],
html:not([lang^="es"]) .bt-localized[bt-lang="es"] {
  display: none;
}
html:not([lang^="en"]):not([lang^="ja"]):not([lang^="es"]) .bt-localized[bt-lang="ja"],
html:not([lang^="en"]):not([lang^="ja"]):not([lang^="es"]) .bt-localized[bt-lang="es"] {
  display: none;
}

/* collection thumbnails */
html[layout] yt-collections-stack {
  display: none;
}
.flex {
  display: flex;
}
/* remove glow on buttons */
.smartimation__border,
yt-animated-action {
  display: none;
}