/* Section regardless of page */
/* page man */
html[pseudo-static] ytd-app:not([masthead-hidden]) #page-manager {
  max-width: 1000px;
}
/* WP */
html[pseudo-static] #columns.ytd-watch-flexy {
  margin-left: calc(var(--bt-sidebar-width) + 40px);
}
/* Topbar. This code works perfectly and is all that's needed for all pages. */
/* inner */
html[pseudo-static] ytd-masthead {
  width: calc(100vw - 80px);
  margin: 0 auto;
}
html[pseudo-static] #container.ytd-masthead {
  padding: 0;
}
/* Section subs page */
html[pseudo-static] ytd-two-column-browse-results-renderer.grid:not(.grid-disabled) {
  max-width: calc(var(--tubek12-static-page-width) - var(--app-drawer-width));
}
/* Section Watch Page */
/* This code makes the page itself static, as well as the OUTER video player, but not the controls or the video element itself. */
html[pseudo-static] ytd-watch-flexy {
  --ytd-watch-flexy-player-width: 640px !important;
  --ytd-watch-flexy-player-height: 360px !important;
}
/* This code is to make reduce margin with related. */
html[pseudo-static] #primary.ytd-watch-flexy {
  padding-right: 0;
}
html[pseudo-static] ytd-watch-flexy #primary.ytd-watch-flexy {
  width: 641px !important;
  min-width: 641px !important;
  max-width: 641px !important;
}
/* SubSection Video */
/* This code seems to make videos work pretty much perfectly, except for non 16:9 videos. The min-height property is required for 4:3 videos to keep a consistent width. 
html[pseudo-static] ytd-watch-flexy #movie_player[aria-label="YouTube Video Player"] video {
  width: auto !important;
  width: 640px !important;
  display: flex;
  max-width: 640px !important;
  height: auto !important;
  max-height: 366px !important;
  align-self: center !important;
  min-height: 360px !important;
}
/* This code is necessary for non 16:9 videos to keep a consistent width. *
html[pseudo-static] #movie_player[aria-label="YouTube Video Player"] .ytp-chrome-bottom {
    width: 620px !important;
}
/* These variables are required for non 16:9 non 1:1 videos to keep a consistent width. 
html[pseudo-static] ytd-watch-flexy[flexy] {
           --ytd-watch-flexy-width-ratio: 16 !important;
           --ytd-watch-flexy-height-ratio: 9 !important;
           --ytd-watch-flexy-space-below-player: 136px;
           --ytd-watch-flexy-non-player-height: 360px !important;
           --ytd-watch-flexy-non-player-width: 641px !important;
           --ytd-watch-flexy-min-player-height: 360px !important;
           --ytd-watch-flexy-min-player-width: 641px !important;
           --ytd-watch-flexy-max-player-height: 360px !important;
           --ytd-watch-flexy-max-player-width: 641px !important;
}
html[pseudo-static] {
--bt-player-width: 640px;
--bt-player-height: 360px;
}
/* primary */
html[pseudo-static] #primary.ytd-watch-flexy {
  margin-left: 0;
  padding-right: 0;
}
html[pseudo-static] #secondary-inner {
  width: 330px !important;
}
html[pseudo-static] #secondary-inner {
  width: 360px !important;
}
html[pseudo-static] #secondary-inner {
  width: 380px !important;
}
/* This code makes sidebar attach itself to edge of page, instead of screen. Needs to be disabled on watch pages. */
html[pseudo-static] ytd-app:not([masthead-hidden]) tp-yt-app-drawer {
  left: 40px !important;
}
/* Section playlist page */
html[pseudo-static] ytd-playlist-header-renderer {
  left: initial !important;
}
html[pseudo-static] #primary.ytd-watch-flexy {
	max-width: calc((100vh - (var(--ytd-watch-flexy-masthead-height) + var(--ytd-margin-6x) + var(--ytd-watch-flexy-space-below-player))) * (${window.screen.width} / ${window.screen.height})) !important;
	min-width: calc(var(--ytd-watch-flexy-min-player-height) * (${window.screen.width} / ${window.screen.height})) !important;
}
html[pseudo-static] #player-container-outer {
	max-width: 640px  !important;
	min-width: 0 !important;
	position: relative !important;
}
html[pseudo-static] #player-container-inner {
	padding-top: calc(${window.screen.height} / ${window.screen.width} * 100%) !important;
}
html[pseudo-static] .html5-video-container {
	width:100% !important;
	height:100% !important;
}
html[pseudo-static] .html5-video-container video {
	width:100% !important;
	height:100% !important;
	left:0 !important;
	top: 0 !important;
	object-fit: contain !important;
}
html[pseudo-static] ytd-watch-flexy #player {
  width: 641px;
}