
/* for default layout */
html {
--bt-standard-btn-outer-display: block;
--bt-standard-btn-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-display: flex;
--bt-standard-btn-height: 36px;
--bt-standard-btn-padding: 0 20px;
--bt-standard-btn-box-shadow: none;
--bt-standard-btn-border: none;
--bt-standard-btn-outline: 0;
--bt-standard-btn-bg: var(--yt-spec-badge-chip-background);
--bt-standard-btn-radius: 24px;
--bt-standard-btn-text-color: var(--bt-text-color-4);
--bt-standard-btn-text-decoration: none;
--bt-standard-btn-font-size: 14px;
--bt-standard-btn-font-weight: 500;
--bt-standard-btn-cursor: pointer;
--bt-standard-btn-text-transform: none;
/* inner hover */
--bt-standard-btn-border-hover: none;
--bt-standard-btn-bg-hover: var(--yt-spec-10-percent-layer);
--bt-standard-btn-box-shadow-hover: none;
/* inner active */
--bt-standard-btn-border-active: none;
--bt-standard-btn-bg-active: var(--yt-spec-additive-background);
--bt-standard-btn-box-shadow-active: none;
/* text */
--bt-standard-btn-inner-display: block;
--bt-standard-btn-inner-margin-top: 10px;
/* arrow */
--bt-standard-btn-arrow-display: none;
}
html[button-style^="cosmicpanda"] {
--bt-standard-btn-outer-display: inline-block;
--bt-standard-btn-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-display: flex;
--bt-standard-btn-height: 28px;
--bt-standard-btn-padding: 0 10px;
--bt-standard-btn-box-shadow: inset 0 0 1px #fff;
--bt-standard-btn-border: 1px solid;
--bt-standard-btn-border-color: #ccc #ccc #aaa;
--bt-standard-btn-outline: 0;
--bt-standard-btn-bg: linear-gradient(to bottom,#fafafa 0,#dcdcdc 100%);
--bt-standard-btn-radius: 2px;
--bt-standard-btn-text-color: #555;
--bt-standard-btn-text-decoration: none;
--bt-standard-btn-text-shadow: 0 1px 0 #fff;
--bt-standard-btn-font-size: 11px;
--bt-standard-btn-font-weight: bold;
--bt-standard-btn-cursor: pointer;
--bt-standard-btn-text-transform: none;
/* inner hover */
--bt-standard-btn-border-hover: 1px solid;
--bt-standard-btn-border-color-hover: #aaa #aaa #999;
--bt-standard-btn-bg-hover: linear-gradient(to bottom,#f0f0f0 0,#e6e6e6 100%);
--bt-standard-btn-box-shadow-hover: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
/* inner active */
--bt-standard-btn-border-active: var(--bt-standard-btn-border-hover);
--bt-standard-btn-border-color-active: #888 #aaa #ccc;
--bt-standard-btn-bg-active: linear-gradient(to bottom,#c8c8c8 0,#e6e6e6 100%);
--bt-standard-btn-box-shadow-active: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
/* text */
--bt-standard-btn-inner-display: block;
--bt-standard-btn-inner-display: block ruby;
--bt-standard-btn-inner-margin-top: 7px;
/* arrow */
--bt-standard-btn-arrow-display: block;
}
html[button-style^="hitchhiker"] {
--bt-standard-btn-outer-display: block;
--bt-standard-btn-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-display: flex;
--bt-standard-btn-height: 28px;
--bt-standard-btn-padding: 0 10px;
--bt-standard-btn-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
--bt-standard-btn-border: 1px solid #d3d3d3;
--bt-standard-btn-border-color: #d3d3d3;
--bt-standard-btn-outline: 0;
--bt-standard-btn-bg: #f8f8f8;
--bt-standard-btn-radius: 2px;
--bt-standard-btn-text-color: #333;
--bt-standard-btn-text-decoration: none;
--bt-standard-btn-font-size: 11px;
--bt-standard-btn-font-weight: 500;
--bt-standard-btn-cursor: pointer;
--bt-standard-btn-text-transform: none;
/* inner hover */
--bt-standard-btn-border-hover: 1px solid #c6c6c6;
--bt-standard-btn-border-color-hover: #c6c6c6;
--bt-standard-btn-bg-hover: #f0f0f0;
--bt-standard-btn-box-shadow-hover: 0 1px 0 rgba(0,0,0,0.10);
/* inner active */
--bt-standard-btn-border-active: var(--bt-standard-btn-border-hover);
--bt-standard-btn-border-color-active: var(--bt-standard-btn-border-color-hover);
--bt-standard-btn-bg-active: #e9e9e9;
--bt-standard-btn-box-shadow-active: inset 0 1px 0 #ddd;
/* text */
--bt-standard-btn-inner-display: block;
--bt-standard-btn-inner-display: block ruby;
--bt-standard-btn-inner-margin-top: 7px;
/* arrow */
--bt-standard-btn-arrow-display: block;
}
html[button-style^="hitchhiker"][dark] {
--bt-standard-btn-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
--bt-standard-btn-border: 1px solid #d3d3d3;
--bt-standard-btn-border-color: #131313;
--bt-standard-btn-bg: #080808;
--bt-standard-btn-text-color: #ccc;
/* inner hover */
--bt-standard-btn-border-hover: 1px solid #c6c6c6;
--bt-standard-btn-border-color-hover: #c6c6c6;
--bt-standard-btn-bg-hover: #101010;
--bt-standard-btn-box-shadow-hover: 0 1px 0 rgba(0,0,0,0.10);
/* inner active */
--bt-standard-btn-border-active: var(--bt-standard-btn-border-hover);
--bt-standard-btn-border-color-active: var(--bt-standard-btn-border-color-hover);
--bt-standard-btn-bg-active: #393939;
--bt-standard-btn-box-shadow-active: inset 0 1px 0 #444;
}
html[button-style^="hitchhiker-2013"] {
--bt-standard-btn-bg: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
--bt-standard-btn-bg-hover: linear-gradient(to bottom,#f8f8f8 0,#eee 100%);
--bt-standard-btn-box-shadow-active: inset 0 1px 1px rgba(0,0,0,.20);
}
html[button-style="polymer-2019"] {
--bt-standard-btn-outer-display: block;
--bt-standard-btn-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-display: inline-block;
--bt-standard-btn-height: 34px;
--bt-standard-btn-padding: 0 24px;
--bt-standard-btn-box-shadow: none;
--bt-standard-btn-border: none;
--bt-standard-btn-outline: 0;
--bt-standard-btn-bg: var(--yt-spec-badge-chip-background);
--bt-standard-btn-radius: 2px;
--bt-standard-btn-text-color: var(--\yt-spec-icon-active-other);
--bt-standard-btn-text-decoration: none;
--bt-standard-btn-font-size: 14px;
--bt-standard-btn-font-weight: 500;
--bt-standard-btn-cursor: pointer;
--bt-standard-btn-text-transform: uppercase;
/* inner hover */
--bt-standard-btn-border-hover: none;
--bt-standard-btn-bg-hover: var(--bt-spec-10-percent-layer);
--bt-standard-btn-box-shadow-hover: none;
/* inner active */
--bt-standard-btn-border-active: none;
--bt-standard-btn-bg-active: var(--yt-material-searchbox-active-shadow);
--bt-standard-btn-box-shadow-active: none;
/* text */
--bt-standard-btn-inner-display: block;
--bt-standard-btn-inner-margin-top: 10px;
}
html[button-style="polymer-2019"] {
--bt-standard-btn-2-outer-display: block;
--bt-standard-btn-2-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-2-display: inline-block;
--bt-standard-btn-2-height: 34px;
--bt-standard-btn-2-padding: 0 24px;
--bt-standard-btn-2-box-shadow: none;
--bt-standard-btn-2-border: none;
--bt-standard-btn-2-outline: 0;
--bt-standard-btn-2-bg: var(--bt-spec-badge-chip-background);
--bt-standard-btn-2-radius: 2px;
--bt-standard-btn-2-text-color: var(--bt-spec-icon-active-other);
--bt-standard-btn-2-text-decoration: none;
--bt-standard-btn-2-font-size: 14px;
--bt-standard-btn-2-font-weight: 500;
--bt-standard-btn-2-cursor: pointer;
--bt-standard-btn-2-text-transform: uppercase;
/* inner hover */
--bt-standard-btn-2-border-hover: none;
--bt-standard-btn-2-bg-hover: var(--bt-spec-10-percent-layer);
--bt-standard-btn-2-box-shadow-hover: none;
/* inner active */
--bt-standard-btn-2-border-active: none;
--bt-standard-btn-2-bg-active: var(--yt-material-searchbox-active-shadow);
--bt-standard-btn-2-box-shadow-active: none;
/* text */
--bt-standard-btn-2-inner-display: inline-block;
--bt-standard-btn-2-inner-margin-top: 10px;
}
/* type 2 */
html[button-style^="polymer-202"] {
--bt-standard-btn-outer-display: block;
--bt-standard-btn-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-display: inline-block;
--bt-standard-btn-height: 34px;
--bt-standard-btn-padding: 0 24px;
--bt-standard-btn-box-shadow: none;
--bt-standard-btn-border: none;
--bt-standard-btn-outline: 0;
--bt-standard-btn-bg: var(--yt-spec-badge-chip-background);
--bt-standard-btn-radius: 2px;
--bt-standard-btn-text-color: var(--yt-spec-icon-active-other);
--bt-standard-btn-text-decoration: none;
--bt-standard-btn-font-size: 14px;
--bt-standard-btn-font-weight: 500;
--bt-standard-btn-cursor: pointer;
--bt-standard-btn-text-transform: uppercase;
/* inner hover */
--bt-standard-btn-border-hover: none;
--bt-standard-btn-bg-hover: var(--bt-spec-10-percent-layer);
--bt-standard-btn-box-shadow-hover: none;
/* inner active */
--bt-standard-btn-border-active: none;
--bt-standard-btn-bg-active: var(--yt-material-searchbox-active-shadow);
--bt-standard-btn-box-shadow-active: none;
/* text */
--bt-standard-btn-inner-display: block;
--bt-standard-btn-inner-margin-top: 10px;
}
html[button-style^="polymer"] {
--bt-standard-btn-2-outer-display: block;
--bt-standard-btn-2-outer-margin-right: 8px;
/* inner normal */
--bt-standard-btn-2-display: inline-block;
--bt-standard-btn-2-height: 34px;
--bt-standard-btn-2-padding: 0 200px;
--bt-standard-btn-2-box-shadow: none;
--bt-standard-btn-2-border: 1px solid var(--yt-spec-call-to-action);
--bt-standard-btn-2-outline: 0;
--bt-standard-btn-2-bg: var(--bt-spec-badge-chip-background);
--bt-standard-btn-2-radius: 3px;
--bt-standard-btn-2-text-color: var(--yt-spec-call-to-action);
--bt-standard-btn-2-text-decoration: none;
--bt-standard-btn-2-font-size: 14px;
--bt-standard-btn-2-font-weight: 600;
--bt-standard-btn-2-cursor: pointer;
--bt-standard-btn-2-text-transform: uppercase;
/* inner hover */
--bt-standard-btn-2-border-hover: 1px solid var(--yt-spec-call-to-action);
--bt-standard-btn-2-bg-hover: var(--bt-spec-10-percent-layer);
--bt-standard-btn-2-box-shadow-hover: none;
/* inner active */
--bt-standard-btn-2-border-active: 1px solid var(--yt-spec-call-to-action);
--bt-standard-btn-2-bg-active: var(--bt-material-searchbox-active-shadow);
--bt-standard-btn-2-box-shadow-active: none;
/* text */
--bt-standard-btn-2-inner-display: inline-block;
--bt-standard-btn-2-inner-margin-top: 10px;
}
.bt-standard-button {
  display: var(--bt-standard-btn-outer-display);
  margin-right: var(--bt-standard-btn-outer-margin-right);
}
html[dark][layout]:not([layout^="polymer"]):not([layout^="hitchhiker"]) .bt-standard-button {
  filter: invert(1);
}
.bt-standard-button span {
	margin-top: var(--bt-standard-btn-inner-margin-top);
	display: var(--bt-standard-btn-inner-display);
}
.bt-standard-button[type="2"] span {
	margin-top: var(--bt-standard-btn-2-inner-margin-top);
	display: var(--bt-standard-btn-2-inner-display);
	white-space: nowrap;
}
.bt-standard-button a {
  display: var(--bt-standard-btn-display);
  height: var(--bt-standard-btn-height);
  border: var(--bt-standard-btn-border);
  border-color: var(--bt-standard-btn-border-color, currentcolor);
  padding: var(--bt-standard-btn-padding);
  color: var(--bt-standard-btn-text-color);
  background: var(--bt-standard-btn-bg);
  outline: var(--bt-standard-btn-outline);
  font-weight: var(--bt-standard-btn-font-weight);
  font-size: var(--bt-standard-btn-font-size);
  text-shadow: var(--bt-standard-btn-text-shadow);
  text-decoration: var(--bt-standard-btn-text-decoration);
  /*white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;*/
  cursor: var(--bt-standard-btn-cursor);
  /**overflow: visible;*/
  border-radius: var(--bt-standard-btn-radius);
  box-shadow: var(--bt-standard-btn-box-shadow);
  text-transform: var(--bt-standard-btn-text-transform);
}
.bt-standard-button[type="2"] a {
  display: var(--bt-standard-btn-2-display);
  height: var(--bt-standard-btn-2-height);
  border: var(--bt-standard-btn-2-border);
  border-color: var(--bt-standard-btn-2-border-color, currentcolor);
  padding: var(--bt-standard-btn-2-padding);
  color: var(--bt-standard-btn-2-text-color);
  background: var(--bt-standard-btn-2-bg);
  outline: var(--bt-standard-btn-2-outline);
  font-weight: var(--bt-standard-btn-2-font-weight);
  font-size: var(--bt-standard-btn-2-font-size);
  text-shadow: var(--bt-standard-btn-2-text-shadow);
  text-decoration: var(--bt-standard-btn-2-text-decoration);
  /*white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;*/
  cursor: var(--bt-standard-btn-2-cursor);
  /**overflow: visible;*/
  border-radius: var(--bt-standard-btn-2-radius);
  box-shadow: var(--bt-standard-btn-2-box-shadow);
  text-transform: var(--bt-standard-btn-2-text-transform);
  position: absolute;
}
.bt-standard-button:hover a {
  border: var(--bt-standard-btn-border-hover);
  border-color: var(--bt-standard-btn-border-color-hover, currentcolor);
  background: var(--bt-standard-btn-bg-hover);
  box-shadow: var(--bt-standard-btn-box-shadow-hover);
}
.bt-standard-button[type="2"]:hover a {
  border: var(--bt-standard-btn-2-border-hover);
  border-color: var(--bt-standard-btn-2-border-color-hover, currentcolor);
  background: var(--bt-standard-btn-2-bg-hover);
  box-shadow: var(--bt-standard-btn-2-box-shadow-hover);
}
.bt-standard-button a:active,
.bt-standard-button a:focus {
  border: var(--bt-standard-btn-border-active);
  border-color: var(--bt-standard-btn-border-color-active, currentcolor);
  background: var(--bt-standard-btn-bg-active);
  box-shadow: var(--bt-standard-btn-box-shadow-active);
}
.bt-standard-button[type="2"] a:active,
.bt-standard-button[type="2"] a:focus {
  border: var(--bt-standard-btn-2-border-active);
  border-color: var(--bt-standard-btn-2-border-color-active, currentcolor);
  background: var(--bt-standard-btn-2-bg-active);
  box-shadow: var(--bt-standard-btn-2-box-shadow-active);
}
.bt-standard-button #ct-dropdown-arrow {
  display: var(--bt-standard-btn-arrow-display);
}
.bt-standard-button span::selection {
  display: none;
}


/* hide custom elements when in fullscreen */
ytd-app[masthead-hidden] *[bt-optimized-universal-element] {
  display: none !important;
}
/* notif icon */
html[topbar-style^="hitchhiker"] .yt-spec-icon-badge-shape--type-notification .yt-spec-icon-badge-shape__badge {
  background-color: #777 !important;
  color: #eee;
  font-weight: 400 !important;
}
html[topbar-style^="hitchhiker"] .yt-spec-icon-badge-shape--type-notification .yt-spec-icon-badge-shape__badge {
  background: var(--bt-notif-badge-bg, var(--bt-spec-lesser-emphasis)) !important;
  color: #eee;
  font-weight: bold !important;
  border-radius: 0 !important;
  border: none !important;
  max-width: 16px !important;
}
html[layout] #ghost-cards {
  display: none !important;
}
/*
html[disable-infi-scroll="true"] ytd-browse:not([rich-grid-watch-status="inline"]) ytd-rich-grid-renderer ytd-continuation-item-renderer,
html[disable-infi-scroll="true"] #related ytd-continuation-item-renderer {
  display: none;
}
*/
html[disable-infi-scroll="true"] ytd-app[can-infi-scroll-related="no"] #related ytd-continuation-item-renderer {
  display: none !important;
}
html[disable-infi-scroll="true"] ytd-app[can-infi-scroll-related="yes"] #related ytd-continuation-item-renderer {
  display: none;
}
html[disable-infi-scroll="true"] ytd-app[can-infi-scroll-related="no"] #bt-load-more-related,
html[disable-infi-scroll="true"] ytd-app[can-infi-scroll-related="no"] ytd-watch-flexy #related ytd-continuation-item-renderer {
	display: none !important;
	visibility: hidden;
}
html[disable-infi-scroll="true"] ytd-app[can-infi-scroll-related="yes"] #bt-load-more-related,
html[disable-infi-scroll="true"] ytd-app[can-infi-scroll-related="yes"] ytd-watch-flexy #related ytd-continuation-item-renderer {
	visibility: visible;
}
html[color-style="plmr"s] #bt-load-more-related button {
  padding: 0 144px !important;
}

html[show-upload-date-next-to-pfp="true"] {
--bt-pfp-upload-date-display: block;
--bt-pfp-upload-date-font-size: 1.3rem;
--bt-pfp-upload-date-text-color: var(--bt-spec-text-secondary);
}
#bt-pfp-upload-date {
  display: var(--bt-pfp-upload-date-display, none);
  color: var(--bt-pfp-upload-date-text-color);
  font-size: var(--bt-pfp-upload-date-font-size);
}
html[show-upload-date-next-to-view-count="true"] {
--bt-upload-date-display: block;
}
#bt-upload-date {
  display: var(--bt-upload-date-display, none);
  margin-left: 4px;
}

/* watch page */
html[show-upload-date-next-to-pfp="false"] #bt-pfp-upload-date {
	display: none;
}
html[show-upload-date-next-to-pfp="true"] #owner-sub-count {
	display: none !important;
}
html[show-upload-date-inside-desc="false"] #bt-desc-upload-date,
html:not([show-upload-date-inside-desc="true"]) #bt-desc-upload-date {
	display: none;
}

/* Buttons watch page cosmic */
html[watch-metadata-style^="cosmicpanda"] #above-the-fold .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
  background: linear-gradient(to bottom,#fafafa 0,#dcdcdc 100%) !important;
  border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
  border-color: #ccc #ccc #aaa;
  box-shadow: inset 0 0 1px #fff;
  text-shadow: 0 1px 0 #fff;
  color: #555 !important;
  border-radius: 2px;
}
html[watch-metadata-style^="cosmicpanda"][dark] #above-the-fold .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
  background: linear-gradient(to bottom,#050505 0,#242424 100%) !important;
  border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #333 #333 #555;
  box-shadow: inset 0 0 1px #222;
  text-shadow: 0 1px 0 #000;
  color: #aaa !important;
  border-radius: 2px;
}






/* sort by */
html[channel-vids-dropdown="true"] ytd-browse[page-subtype="channels"] #contents.ytd-rich-grid-renderer {
  margin-top: 38px !important;
}
/* actual stuff */
ytd-browse[page-subtype="channels"] #secondary {
  position: absolute;
  width: var(--bt-channel-page-content-max-width, 1236px);
}
html {
--bt-chan-vids-dd-margin-top: 12px;
}
html[layout]:not([layout^="polymer"]) {
--bt-chan-vids-dd-margin-top: 4px;
}
#bt-chan-vids-dropdown {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
  margin-top: var(--bt-chan-vids-dd-margin-top);
}
html[layout^="polymer"] #dropdown-btn:active {
  background: var(--bt-standard-btn-bg) !important;
}
.yt-uix-button-arrow {
  margin-top: 12px !important;
  margin-left: 5px;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
  border-top-color: #333;
  border-width: 4px 4px 0;
  width: 0;
  height: 0;
}
tp-bt-titanium-dropdown:not([bt-visible]) {
  display: none;
}
html:not([channel-page="videos"]) #bt-chan-vids-dropdown,
html:not([channel-vids-dropdown="true"]) #bt-chan-vids-dropdown {
  display: none;
}
html[channel-vids-dropdown="true"] ytd-browse[page-subtype="channels"] ytd-feed-filter-chip-bar-renderer {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  display: none;
}
#bt-chan-vids-dropdown #dropdown-btn:not([bt-state="newest"]) #newest,
#bt-chan-vids-dropdown #dropdown-btn:not([bt-state="oldest"]) #oldest,
#bt-chan-vids-dropdown #dropdown-btn:not([bt-state="popular"]) #popular,
#bt-chan-vids-dropdown #dropdown-btn:not([bt-state="fyou"]) #fyou {
	display: none !important;
}
ghost#cvddg {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 999;
}
html:not([cv-sort-newest="true"]) #chanvidsdd #newest,
html:not([cv-sort-oldest="true"]) #chanvidsdd #oldest,
html:not([cv-sort-popular="true"]) #chanvidsdd #popular,
html:not([cv-sort-fyou="true"]) #chanvidsdd #fyou {
  display: none;
}
/* styling */
@keyframes titaniumdropdown {
  0%{max-height: 0px; max-width: 0; opacity: 0;}
  25%{max-height: 0px; max-width: 0; opacity: 0;}
  40%{opacity: 0}
  100%{max-height: 200px; max-width: 200px; opacity: 1;}
}
html:not([layout]) {
--bt-titanium-dropdown-pos: absolute;
--bt-titanium-dropdown-min-width: 180px;
--bt-titanium-dropdown-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
--bt-titanium-dropdown-radius: 6px;
--bt-titanium-dropdown-inner-padding: 12px 0;
--bt-titanium-dropdown-inner-pos: relative;
--bt-titanium-dropdown-inner-z-index: 3000;
--bt-titanium-dropdown-inner-bg: var(--bt-universal-white);
--bt-titanium-dropdown-inner-border: none;
--bt-titanium-dropdown-menuitem-height: 40px;
--bt-titanium-dropdown-menuitem-display: block;
--bt-titanium-dropdown-menuitem-cursor: pointer;
--bt-titanium-dropdown-menuitem-text-color: var(--bt-text-color-4);
--bt-titanium-dropdown-menuitem-font-size: 14px;
--bt-titanium-dropdown-menuitem-bg-hover: var(--yt-spec-badge-chip-background);
--bt-titanium-dropdown-menuitem-text-color-hover: var(--bt-titanium-dropdown-menuitem-text-color);
--bt-titanium-dropdown-menuitem-inner-padding: 12px 25px 0 25px;
--bt-titanium-dropdown-button-pos: relative;
--bt-titanium-dropdown-button-z-index: 1000;
--bt-titanium-dropdown-animation: titaniumdropdown 0.5s 1;
}
html[layout^="cosmicpanda"] {
--bt-titanium-dropdown-pos: absolute;
--bt-titanium-dropdown-min-width: 180px;
--bt-titanium-dropdown-box-shadow: none;
--bt-titanium-dropdown-inner-padding: 8px 0;
--bt-titanium-dropdown-inner-pos: relative;
--bt-titanium-dropdown-inner-z-index: 3000;
--bt-titanium-dropdown-inner-bg: var(--bt-section-bg);
--bt-titanium-dropdown-inner-border: 1px solid #ccc;
--bt-titanium-dropdown-menuitem-height: 28px;
--bt-titanium-dropdown-menuitem-display: block;
--bt-titanium-dropdown-menuitem-cursor: pointer;
--bt-titanium-dropdown-menuitem-text-color: var(--bt-text-color-4);
--bt-titanium-dropdown-menuitem-font-size: 13px;
--bt-titanium-dropdown-menuitem-bg-hover: #333;
--bt-titanium-dropdown-menuitem-text-color-hover: var(--bt-universal-white);
--bt-titanium-dropdown-menuitem-inner-padding: 6px 25px 0 25px;
--bt-titanium-dropdown-button-pos: relative;
--bt-titanium-dropdown-button-z-index: 1000;
}
html[layout^="hitchhiker"] {
--bt-titanium-dropdown-pos: absolute;
--bt-titanium-dropdown-min-width: 180px;
--bt-titanium-dropdown-box-shadow: none;
--bt-titanium-dropdown-inner-padding: 8px 0;
--bt-titanium-dropdown-inner-pos: relative;
--bt-titanium-dropdown-inner-z-index: 3000;
--bt-titanium-dropdown-inner-bg: var(--bt-section-bg);
--bt-titanium-dropdown-inner-border: 1px solid #ccc;
--bt-titanium-dropdown-menuitem-height: 28px;
--bt-titanium-dropdown-menuitem-display: block;
--bt-titanium-dropdown-menuitem-cursor: pointer;
--bt-titanium-dropdown-menuitem-text-color: var(--bt-text-color-4);
--bt-titanium-dropdown-menuitem-font-size: 13px;
--bt-titanium-dropdown-menuitem-bg-hover: #333;
--bt-titanium-dropdown-menuitem-text-color-hover: var(--bt-universal-white);
--bt-titanium-dropdown-menuitem-inner-padding: 6px 25px 0 25px;
--bt-titanium-dropdown-button-pos: relative;
--bt-titanium-dropdown-button-z-index: 1000;
}
html[layout^="polymer"] {
--bt-titanium-dropdown-pos: absolute;
--bt-titanium-dropdown-min-width: 180px;
--bt-titanium-dropdown-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
--bt-titanium-dropdown-inner-padding: 12px 0;
--bt-titanium-dropdown-inner-pos: relative;
--bt-titanium-dropdown-inner-z-index: 3000;
--bt-titanium-dropdown-inner-bg: var(--bt-universal-white);
--bt-titanium-dropdown-inner-border: none;
--bt-titanium-dropdown-menuitem-height: 40px;
--bt-titanium-dropdown-menuitem-display: block;
--bt-titanium-dropdown-menuitem-cursor: pointer;
--bt-titanium-dropdown-menuitem-text-color: var(--bt-text-color-4);
--bt-titanium-dropdown-menuitem-font-size: 14px;
--bt-titanium-dropdown-menuitem-bg-hover: var(--bt-spec-badge-chip-background);
--bt-titanium-dropdown-menuitem-text-color-hover: var(--bt-titanium-dropdown-menuitem-text-color);
--bt-titanium-dropdown-menuitem-inner-padding: 12px 25px 0 25px;
--bt-titanium-dropdown-button-pos: relative;
--bt-titanium-dropdown-button-z-index: 1000;
--bt-titanium-dropdown-animation: titaniumdropdown 0.5s 1;
}
tp-bt-titanium-dropdown {
  position: var(--bt-titanium-dropdown-pos);
  min-width: var(--bt-titanium-dropdown-min-width);
  display: block;
  box-shadow: var(--bt-titanium-dropdown-box-shadow);
  background: var(--bt-titanium-dropdown-inner-bg);
  border: var(--bt-titanium-dropdown-inner-border);
  border-radius: var(--bt-titanium-dropdown-radius);
  z-index: var(--bt-titanium-dropdown-inner-z-index);
}
tp-bt-titanium-dropdown[bt-visible] {
  animation: var(--bt-titanium-dropdown-animation);
}
#bt-chan-vids-dropdown .bt-standard-button {
  position: var(--bt-titanium-dropdown-button-pos);
  z-index: var(--bt-titanium-dropdown-button-z-index);
}
#chanvidsdd .dropdown-inner {
  padding: var(--bt-titanium-dropdown-inner-padding);
  position: var(--bt-titanium-dropdown-inner-pos);
  z-index: var(--bt-titanium-dropdown-inner-z-index);
}
.dropdown-menuitem {
  height: var(--bt-titanium-dropdown-menuitem-height);
  display: var(--bt-titanium-dropdown-menuitem-display);
  cursor: var(--bt-titanium-dropdown-menuitem-cursor);
  color: var(--bt-titanium-dropdown-menuitem-text-color);
  font-size: var(--bt-titanium-dropdown-menuitem-font-size);
}
.dropdown-menuitem:hover {
  background: var(--bt-titanium-dropdown-menuitem-bg-hover);
  color: var(--bt-titanium-dropdown-menuitem-text-color-hover);
}
.dropdown-menuitem-inner {
  padding: var(--bt-titanium-dropdown-menuitem-inner-padding);
}

/* icons */
html[icon-type="outline"] {
  --bt-new-filled-icon-display: none;	
}
bt-icon:not([id="outline"]) {
  display: var(--bt-new-filled-icon-display) !important;	
}
.bt-contents-element {
  display: contents;
}