/* universal */
/* remove the border */
html[watch-metadata-style] .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start::after {
  display: none;
}
html[watch-metadata-style] .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
  background: none !important;
}
html[watch-metadata-style] .yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__fill {
  background: none !important;
}

/* BTMEGASection Metadata */
/* BTSection Like and Dislike */
html[watch-metadata-style^="hitchhiker"],
html[watch-metadata-style^="cosmicpanda"],
html[watch-metadata-style^="aozora"],
html[watch-metadata-style^="stargazer"] {
--bt-ltod-og-icon-display: none;
}
/* For new like and dislike button */
html[watch-metadata-style^="stargazer"] {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-padding-left: 0px;
--bt-ltod-like-btn-radius: 3px 0 0 3px;
--bt-ltod-dislike-btn-radius: 0 3px 3px 0;
/* outer */
--bt-toggle-button-icon-margin-right: 0px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-standard-btn-text-color);
--bt-toggle-button-text-color-2: var(--bt-standard-btn-text-color);
--bt-toggle-button-text-color-3: var(--bt-standard-btn-text-color);
--bt-toggle-button-text-color-4: var(--bt-standard-btn-text-color);
--bt-toggle-button-font-size: var(--bt-standard-btn-font-size);
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 16px;
--bt-toggle-button-icon-height: 18px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
html[watch-metadata-style^="aozora"] {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-padding-left: 0px;
--bt-ltod-like-btn-radius: 3px 0 0 3px;
--bt-ltod-dislike-btn-radius: 0 3px 3px 0;
/* outer */
--bt-toggle-button-icon-margin-right: 0px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-standard-btn-text-color);
--bt-toggle-button-text-color-2: var(--bt-standard-btn-text-color);
--bt-toggle-button-text-color-3: var(--bt-standard-btn-text-color);
--bt-toggle-button-text-color-4: var(--bt-standard-btn-text-color);
--bt-toggle-button-font-size: var(--bt-standard-btn-font-size);
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 16px;
--bt-toggle-button-icon-height: 18px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
html[watch-metadata-style^="cosmicpanda"] {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-padding-left: 0px;
--bt-ltod-like-btn-radius: 0;
--bt-ltod-dislike-btn-radius: 0;
/* outer */
--bt-toggle-button-icon-margin-right: 10px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-spec-icon-inactive);
--bt-toggle-button-text-color-2: var(--yt-spec-text-secondary); /*#606060*/
--bt-toggle-button-text-color-3: var(--yt-spec-text-primary); /*0F0F0F*/
--bt-toggle-button-text-color-4: var(--bt-blue);
--bt-toggle-button-font-size: 11px;
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 20px;
--bt-toggle-button-icon-height: 20px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
html[watch-metadata-style^="hitchhiker"] {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-margin-top: 58px;
--bt-ltod-btn-padding-left: 12px;
--bt-ltod-like-btn-radius: 0;
--bt-ltod-dislike-btn-radius: 0;
/* outer */
--bt-toggle-button-icon-margin-right: 10px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-spec-icon-inactive);
--bt-toggle-button-text-color-2: var(--yt-spec-text-secondary); /*#606060*/
--bt-toggle-button-text-color-3: var(--yt-spec-text-primary); /*0F0F0F*/
--bt-toggle-button-text-color-4: var(--bt-blue);
--bt-toggle-button-font-size: 11px;
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 20px;
--bt-toggle-button-icon-height: 20px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
html[watch-metadata-style^="hitchhiker-2014"],
html[watch-metadata-style^="hitchhiker-2013"],
html[watch-metadata-style^="hitchhiker-2013-3"] {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-margin-top: 20px; /* formerly 36 */
--bt-ltod-btn-padding-left: 12px;
/* outer */
--bt-toggle-button-icon-margin-right: 10px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-spec-icon-inactive);
--bt-toggle-button-text-color-2: var(--yt-spec-text-secondary); /*#606060*/
--bt-toggle-button-text-color-3: var(--yt-spec-text-primary); /*0F0F0F*/
--bt-toggle-button-text-color-4: var(--bt-blue);
--bt-toggle-button-font-size: 11px;
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 20px;
--bt-toggle-button-icon-height: 20px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
html[watch-metadata-style^="hitchhiker-2013"]:not([watch-metadata-style^="hitchhiker-2013-3"]) {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-margin-top: 20px; /* formerly 36 */
--bt-ltod-btn-padding-left: 12px;
/* outer */
--bt-toggle-button-icon-margin-right: 10px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-spec-icon-inactive);
--bt-toggle-button-text-color-2: var(--yt-spec-text-secondary); /*#606060*/
--bt-toggle-button-text-color-3: var(--yt-spec-text-primary); /*0F0F0F*/
--bt-toggle-button-text-color-4: var(--bt-green, #590);
--bt-toggle-button-font-size: 11px;
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 20px;
--bt-toggle-button-icon-height: 20px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
/* BTMEGASection Metadata */
/* BTSection Like and Dislike */
/* For new like and dislike button */
html[watch-metadata-style="polymer-2019"],
html[watch-metadata-style="polymer-2020"] {
/* ltod btn */
--bt-ltod-btn-display: flex;
--bt-ltod-btn-margin-top: 0px;
--bt-ltod-like-btn-radius: 0;
--bt-ltod-dislike-btn-radius: 0;
/* outer */
--bt-toggle-button-icon-margin-right: 10px;
/* button */
--bt-toggle-button-text-color-1: var(--bt-spec-icon-inactive);
--bt-toggle-button-text-color-2: var(--bt-spec-text-secondary); /*#606060*/
--bt-toggle-button-text-color-3: var(--bt-spec-text-primary); /*0F0F0F*/
--bt-toggle-button-text-color-4: var(--bt-spec-blue);
/* og icon */
--bt-animated-like-icon-display: none;
--bt-og-dislike-icon-display: none;
/* new icon */
--bt-toggle-button-icon-display: block;
--bt-toggle-button-icon-width: 20px;
--bt-toggle-button-icon-height: 20px;
--bt-toggle-button-icon-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}
html[watch-metadata-style="polymer-2020"] {
--bt-toggle-button-icon-filter: none;
}

/* ltod */
html[watch-metadata-style] ytd-watch-flexy #above-the-fold #top-level-buttons-computed {
  position: var(--bt-top-level-buttons-position) !important;
  margin-right: var(--bt-top-level-buttons-margin-right) !important;
  left: var(--bt-top-level-buttons-left, unset);
}
html[watch-metadata-style] ytd-segmented-like-dislike-button-renderer {
  display: var(--bt-ltod-btn-display);
  margin-top: var(--bt-ltod-btn-margin-top);
}
html[watch-metadata-style] #segmented-like-button button {
  border-radius: var(--bt-ltod-like-btn-radius) !important;
}
html[watch-metadata-style] #segmented-dislike-button button {
  border-radius: var(--bt-ltod-dislike-btn-radius) !important;
}
html[watch-metadata-style] #segmented-like-button {
	  padding-left: var(--bt-ltod-btn-padding-left); /* for ltod bar width */
}
html[watch-metadata-style^="aozora"] #above-the-fold #segmented-like-button .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal,
html[watch-metadata-style^="aozora"] #bt-place-metadata #segmented-like-button .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal,
html[watch-metadata-style^="stargazer"] #above-the-fold #segmented-like-button .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal,
html[watch-metadata-style^="stargazer"] #bt-place-metadata #segmented-like-button .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    padding: 0 28px 0 6px;
}
/* BTSection Like and dislike Button */
html[watch-metadata-style] #segmented-like-button yt-animated-icon {
  display: var(--bt-animated-like-icon-display, flex);
}
html[watch-metadata-style] #segmented-dislike-button yt-icon svg.style-scope,
html[watch-metadata-style] #segmented-like-button yt-icon svg.style-scope {
  display: var(--bt-og-dislike-icon-display) !important;
}
html[watch-metadata-style] ytd-watch-flexy ytd-toggle-button-renderer button {
  color: var(--bt-toggle-button-text-color-1) !important;
}
html[watch-metadata-style] ytd-watch-flexy #bt-share-button button {
  color: var(--bt-toggle-button-text-color-1) !important;
}
html[watch-metadata-style] ytd-watch-flexy #bt-save-button button {
  color: var(--bt-toggle-button-text-color-1) !important;
}
html[watch-metadata-style] ytd-watch-flexy #button-shape button {
  color: var(--bt-toggle-button-text-color-1) !important;
}
html[watch-metadata-style] ytd-watch-flexy ytd-toggle-button-renderer button span {
  color: var(--bt-toggle-button-text-color-2) !important;
  font-size: var(--bt-toggle-button-font-size);
}
html[watch-metadata-style] ytd-watch-flexy #segmented-like-button ytd-toggle-button-renderer button[aria-pressed="true"] {
  color: var(--bt-toggle-button-text-color-4) !important;
}
html[watch-metadata-style] ytd-watch-flexy #segmented-like-button ytd-toggle-button-renderer button[aria-pressed="true"] span {
  color: var(--bt-toggle-button-text-color-4) !important;
}
html[watch-metadata-style] ytd-watch-flexy #segmented-dislike-button ytd-toggle-button-renderer button[aria-pressed="true"] {
  color: var(--bt-toggle-button-text-color-3) !important;
}
html[watch-metadata-style] ytd-watch-flexy #segmented-dislike-button ytd-toggle-button-renderer button[aria-pressed="true"] span {
  color: var(--bt-toggle-button-text-color-3) !important;
}
/* wiz rolling number */
html[watch-metadata-style] #segmented-like-button .animated-rolling-number-wiz {
  color: var(--bt-toggle-button-text-color-2) !important;
  font-size: var(--bt-toggle-button-font-size) !important;
}
html[watch-metadata-style] #segmented-like-button button[aria-pressed="true"] .animated-rolling-number-wiz {
  color: var(--bt-toggle-button-text-color-4) !important;
}
html[watch-metadata-style] #bt-like,
html[watch-metadata-style] #bt-dislike {
	display: var(--bt-toggle-button-icon-display);
	width: var(--bt-toggle-button-icon-width);
	height: var(--bt-toggle-button-icon-height);
}
html[watch-metadata-style] #bt-like svg,
html[watch-metadata-style] #bt-dislike svg,
html[watch-metadata-style] #bt-share svg,
html[watch-metadata-style] #bt-save svg,
html[watch-metadata-style] #button-shape svg {
  filter: var(--bt-toggle-button-icon-filter);
}
html[watch-metadata-style] ytd-segmented-like-dislike-button-renderer svg {
	display: var(--bt-ltod-og-icon-display) !important;
}
html[watch-metadata-style^="hitchhiker"] {
--bt-ltod-icon-margin-top: 0;
--bt-like-icon-margin-right: 0;
--bt-like-icon-margin-left: 0;
--bt-like-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -38px -688px;
--bt-like-icon-opacity: 0.6;
--bt-like-icon-bg-active: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -24px -1635px;
--bt-like-icon-opacity-active: 1;
--bt-dislike-icon-margin-right: 0;
--bt-dislike-icon-margin-left: 0;
--bt-dislike-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -100px -1223px;
--bt-dislike-icon-opacity: 0.6;
--bt-dislike-icon-bg-active: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -100px -1223px;
--bt-dislike-icon-opacity-active: 1;
}
html[watch-metadata-style^="hitchhiker-2014"] {
--bt-ltod-icon-margin-top: -2px;
--bt-like-icon-margin-right: 12px;
--bt-like-icon-margin-left: -8px;
--bt-dislike-icon-margin-right: 0;
--bt-dislike-icon-margin-left: 5px;
}
html[watch-metadata-style^="hitchhiker-2013"] {
--bt-ltod-icon-margin-top: -2px;
--bt-like-icon-margin-right: 12px;
--bt-like-icon-margin-left: -8px;
--bt-like-icon-bg: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflX22WRH.png) -158px -193px;
--bt-like-icon-opacity: 1;
--bt-like-icon-bg-active: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflX22WRH.png) -66px -186px;
--bt-like-icon-opacity-active: 1;
--bt-dislike-icon-margin-right: 0;
--bt-dislike-icon-margin-left: 5px;
--bt-dislike-icon-bg: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflX22WRH.png) -26px -85px;
--bt-dislike-icon-opacity: 1;
--bt-dislike-icon-bg-active: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflX22WRH.png) -136px 0;
--bt-dislike-icon-opacity-active: 1;
}
html[watch-metadata-style^="hitchhiker-2013-3"] {
--bt-like-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -38px -688px;
--bt-like-icon-opacity: 0.6;
--bt-like-icon-bg-active: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -24px -1635px;
--bt-like-icon-opacity-active: 1;
--bt-dislike-icon-margin-right: 0;
--bt-dislike-icon-margin-left: 5px;
--bt-dislike-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -100px -1223px;
--bt-dislike-icon-opacity: 0.6;
--bt-dislike-icon-bg-active: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -100px -1223px;
--bt-dislike-icon-opacity-active: 1;
}
html[watch-metadata-style^="cosmicpanda"] {
--bt-ltod-icon-margin-top: 0;
--bt-like-icon-margin-right: 10px;
--bt-like-icon-margin-left: -4px;
--bt-like-icon-bg: no-repeat url(http://s.ytimg.com/yt/imgbin/www-refresh-vflXkUAsM.png) -190px -254px;
--bt-like-icon-opacity: 1;
--bt-like-icon-bg-active: no-repeat url(http://s.ytimg.com/yt/imgbin/www-refresh-vflXkUAsM.png) -8px -158px;
--bt-like-icon-opacity-active: 1;
--bt-dislike-icon-margin-right: -4px;
--bt-dislike-icon-margin-left: 7px;
--bt-dislike-icon-bg: no-repeat url(http://s.ytimg.com/yt/imgbin/www-refresh-vflXkUAsM.png) -46px -251px;
--bt-dislike-icon-opacity: 1;
--bt-dislike-icon-bg-active: no-repeat url(http://s.ytimg.com/yt/imgbin/www-refresh-vflXkUAsM.png) -125px -91px;
--bt-dislike-icon-opacity-active: 1;
}
html[watch-metadata-style^="aozora"] {
--bt-ltod-icon-margin-top: 1px;
--bt-like-icon-margin-right: 0px;
--bt-like-icon-margin-left: 8px;
--bt-like-icon-bg: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -267px -71px;
--bt-like-icon-opacity: 1;
--bt-like-icon-bg-active: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -84px -82px;
--bt-like-icon-opacity-active: 1;
--bt-dislike-icon-margin-right: -4px;
--bt-dislike-icon-margin-left: 7px;
--bt-dislike-icon-bg: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -267px -107px;
--bt-dislike-icon-opacity: 1;
--bt-dislike-icon-bg-active: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -245px -20px;
--bt-dislike-icon-opacity-active: 1;
}
html[watch-metadata-style^="stargazer"] {
--bt-ltod-icon-margin-top: 1px;
--bt-like-icon-margin-right: 0px;
--bt-like-icon-margin-left: 8px;
--bt-like-icon-bg: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -267px -71px;
--bt-like-icon-opacity: 1;
--bt-like-icon-bg-active: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -84px -82px;
--bt-like-icon-opacity-active: 1;
--bt-dislike-icon-margin-right: -4px;
--bt-dislike-icon-margin-left: 7px;
--bt-dislike-icon-bg: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -267px -107px;
--bt-dislike-icon-opacity: 1;
--bt-dislike-icon-bg-active: no-repeat url(http://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -245px -20px;
--bt-dislike-icon-opacity-active: 1;
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #segmented-like-button button[aria-pressed="false"] #bt-like {
  background: var(--bt-like-icon-bg);
  opacity: var(--bt-like-icon-opacity);
  margin-right: var(--bt-like-icon-margin-right);
  margin-left: var(--bt-like-icon-margin-left);
  margin-top: var(--bt-ltod-icon-margin-top);
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #segmented-dislike-button button[aria-pressed="false"] #bt-dislike {
  background: var(--bt-dislike-icon-bg);
  opacity: var(--bt-dislike-icon-opacity);
  margin-right: var(--bt-dislike-icon-margin-right);
  margin-left: var(--bt-dislike-icon-margin-left);
  margin-top: var(--bt-ltod-icon-margin-top);
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #segmented-like-button button[aria-pressed="true"] #bt-like,
html[watch-metadata-style^="cosmicpanda"] #segmented-like-button:hover button[aria-pressed="false"] #bt-like,
html[watch-metadata-style^="aozora"] #segmented-like-button:hover button[aria-pressed="false"] #bt-like {
  background: var(--bt-like-icon-bg-active);
  opacity: var(--bt-like-icon-opacity-active);
  margin-right: var(--bt-like-icon-margin-right);
  margin-left: var(--bt-like-icon-margin-left);
  margin-top: var(--bt-ltod-icon-margin-top);
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #segmented-dislike-button button[aria-pressed="true"] #bt-dislike,
html[watch-metadata-style^="cosmicpanda"] #segmented-dislike-button:hover button[aria-pressed="false"] #bt-dislike,
html[watch-metadata-style^="aozora"] #segmented-dislike-button:hover button[aria-pressed="false"] #bt-dislike {
  background: var(--bt-dislike-icon-bg-active);
  opacity: var(--bt-dislike-icon-opacity-active);
  margin-right: var(--bt-dislike-icon-margin-right);
  margin-left: var(--bt-dislike-icon-margin-left);
  margin-top: var(--bt-ltod-icon-margin-top);
}
html[watch-metadata-style^="cosmicpanda"] #segmented-like-button #bt-like,
html[watch-metadata-style^="cosmicpanda"] #segmented-dislike-button #bt-dislike {
  width: 13px;
  height: 15px;
}


html[watch-metadata-style^="hitchhiker"] .ryd-tooltip,
html[watch-metadata-style^="cosmicpanda"] .ryd-tooltip,
html[watch-metadata-style^="aozora"] .ryd-tooltip,
html[watch-metadata-style^="stargazer"] .ryd-tooltip {
  margin-bottom: 48px;
  opacity: 0;
  z-index: -1;
}
html[watch-metadata-style^="hitchhiker-2014"] .ryd-tooltip,
html[watch-metadata-style^="hitchhiker-2013"] .ryd-tooltip {
  margin-bottom: 90px;
  right: calc(var(--bt-player-width) * -0.75);
}
html[watch-metadata-style^="hitchhiker-2014"] .ryd-tooltip, 
html[watch-metadata-style^="hitchhiker-2013"] .ryd-tooltip {
  margin-bottom: 90px;
  right: -183%;
  position: relative;
}
html[watch-metadata-style^="polymer-2019"] #ryd-bar,
html[watch-metadata-style^="polymer-2020"] #ryd-bar {
  background: var(--bt-blue);
}
html[watch-metadata-style^="hitchhiker"] #ryd-bar-container {
  background: var(--nostalgic-light-grey);
}
/* bt bar */
html[watch-metadata-style^="hitchhiker"] {
--bt-bar-margin-top: 72px;
}
html[watch-metadata-style^="hitchhiker-2014"],
html[watch-metadata-style^="hitchhiker-2013"] {
--bt-bar-margin-top: 40px;
}
html[watch-metadata-style^="cosmicpanda"] {
--bt-bar-margin-top: 40px;
}
html[watch-metadata-style^="aozora"] {
--bt-bar-margin-top: 40px;
}
html[watch-metadata-style^="stargazer"] {
--bt-bar-margin-top: 10px;
}
html[watch-metadata-style^="hitchhiker"] #bt-ltod {
  height: 16px;
  width: 160px;
  display: flex;
  position: absolute;
  right: 15px;
  margin-top: var(--bt-bar-margin-top);
  cursor: pointer;
}
html[watch-metadata-style^="hitchhiker"] #bt-bar dislikes {
  background: #ccc;
  height: 2px;
  width: 100%;
  display: block;
}
html[watch-metadata-style^="hitchhiker"] #bt-bar likes {
  background: var(--bt-blue);
  height: 2px;
  width: 100%;
  display: block;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-bar likes,
html[watch-metadata-style^="hitchhiker-2013-3"] #bt-bar likes {
  background: #2793e6 !important;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-bar dislikes {
  background: #ccc;
}
html[watch-metadata-style^="hitchhiker-2013"] #bt-bar likes {
  background: #590;
}
html[watch-metadata-style^="hitchhiker-2013"] #bt-bar dislikes {
  background: #ccc;
}
/* universalize this todo */
html[watch-metadata-style^="cosmicpanda"] #bt-ltod {
  height: 16px;
  width: 160px;
  display: flex;
  position: absolute;
  right: 0;
  margin-top: var(--bt-bar-margin-top);
  border-radius: 3px;
  cursor: pointer;
}
html[watch-metadata-style^="cosmicpanda"] #bt-bar likes {
  background: #060;
  height: 4px;
  width: 100%;
  display: block;
  border-right: 1px solid #ccc;
}
html[watch-metadata-style^="cosmicpanda"] #bt-bar dislikes {
  background: #c00;
  height: 4px;
  width: 100%;
  display: block;
  border: 1px solid #ccc;
}
html[watch-metadata-style^="aozora"] #bt-ltod {
  height: 16px;
  width: 160px;
  display: flex;
  position: absolute;
  right: 0;
  margin-top: var(--bt-bar-margin-top);
  border-radius: 3px;
  cursor: pointer;
}
html[watch-metadata-style^="aozora"] #bt-bar likes {
  background: #060;
  height: 4px;
  width: 100%;
  display: block;
  border-right: 1px solid #ccc;
}
html[watch-metadata-style^="aozora"] #bt-bar dislikes {
  background: #c00;
  height: 4px;
  width: 100%;
  display: block;
  border: 1px solid #ccc;
}
html[watch-metadata-style^="stargazer"] #bt-bar {
  height: 15px;
  width: 75px;
  display: flex;
  position: absolute;
  right: unset;
  left: 0;
  margin-top: var(--bt-bar-margin-top);
  border-radius: 0;
  cursor: pointer;
}
html[watch-metadata-style^="stargazer"] #bt-bar likes {
  background: #060;
  height: 4px;
  width: 100%;
  display: block;
  border-right: 1px solid #ccc;
}
html[watch-metadata-style^="stargazer"] #bt-bar dislikes {
  background: #c00;
  height: 4px;
  width: 100%;
  display: block;
  border: 1px solid #ccc;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars stars,
html[watch-metadata-style^="stars"] #bt-bar #bt-stars stars {
  width: 75px;
  height: 15px;
  vertical-align: top;
  background: white url(https://i.imgur.com/hcxA2dh.png);
  background-position-x: 0%;
  background-position-y: 0%;
  display: block;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="5.0"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="5.0"] stars {
  background-position: 0 -411px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="4.5"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="4.5"] stars {
  background-position: 0 -426px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="4.0"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="4.0"] stars {
  background-position: -15px -411px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="3.5"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="3.5"] stars {
  background-position: -15px -426px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="3.0"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="3.0"] stars {
  background-position: -30px -411px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="2.5"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="2.5"] stars {
  background-position: -30px -426px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="2.0"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="2.0"] stars {
  background-position: -45px -411px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="1.5"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="1.5"] stars {
  background-position: -45px -426px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="1.0"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="1.0"] stars {
  background-position: -60px -411px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="0.5"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="0.5"] stars {
  background-position: -60px -426px;
}
html[watch-metadata-style^="stargazer"] #bt-bar #bt-stars[rating="0.0"] stars,
html[watch-metadata-style^="aozora"] #bt-bar #bt-stars[rating="0.0"] stars {
  background-position: -75px -411px;
}
html[rating-type^="ltod"] {
  --bt-ltod-display: block;
  --bt-stars-display: none;
}
html[rating-type^="stars"] {
  --bt-ltod-display: none;
  --bt-stars-display: block;
}
html #bt-bar #bt-star-ratings {
  display: var(--bt-stars-display);
}
html #bt-bar #bt-ltod {
  display: var(--bt-ltod-display);
}

/* todo investigate */
html[watch-metadata-style] .yt-spec-button-shape-next--size-m {
  padding: 0 10px;
}

/* LIKE Icons */
html[watch-metadata-style^="hitchhiker"] .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon {
  margin-right: 4px;
}
#bt-counts {
  display: none;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-counts,
html[watch-metadata-style^="hitchhiker-2013"] #bt-counts,
html[watch-metadata-style^="cosmicpanda"] #bt-counts,
html[watch-metadata-style^="aozora"] #bt-counts,
html[watch-metadata-style^="stargazer"] #bt-counts {
  display: flex;
  white-space: nowrap;
  /* fallback for chromium */
  float: right;
  /* main float value */
  float: inline-end;
  margin-top: 2px;
}
html[watch-metadata-style^="hitchhiker"] #lcon {
  margin-right: 13px;
}
/* todo this too */
html[watch-metadata-style^="cosmicpanda"] #lcon {
  margin-right: 4px;
}
html[watch-metadata-style^="aozora"] #lcon {
  margin-right: 4px;
}
html[watch-metadata-style^="stargazer"] #lcon {
  margin-right: 4px;
}
#lcon, #dcon {
  display: inline-flex;
  white-space: nowrap;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-counts .bts,
html[watch-metadata-style^="hitchhiker-2013"] #bt-counts .bts {
  display: none;
}
html[watch-metadata-style^="cosmicpanda"] #bt-counts .bti,
html[watch-metadata-style^="aozora"] #bt-counts .bti,
html[watch-metadata-style^="stargazer"] #bt-counts .bti {
  display: none;
}
#lcicon {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vfldtjAOK.png) -28px -761px;
}
#dcicon {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vfldtjAOK.png) -36px -144px;
}
#lcicon,
#dcicon {
  background-size: auto;
  width: 13px;
  height: 14px;
  display: block;
  margin-bottom: -4px;
  margin-right: 2px;
}
.bts {
  margin-left: 2px;
}
html[watch-metadata-style^="hitchhiker-2014"] #above-the-fold #segmented-buttons-wrapper button,
html[watch-metadata-style^="hitchhiker-2013"] #above-the-fold #segmented-buttons-wrapper button {
  border: 1px solid transparent;
}
html[watch-metadata-style^="hitchhiker-2013-1"] #above-the-fold:hover #segmented-like-button button,
html[watch-metadata-style^="hitchhiker-2013-1"] #above-the-fold:hover #segmented-dislike-button button {
  background: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%) !important;
  border-radius: 2px !important;
  border: 1px solid #d3d3d3;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #555;
}
html[watch-metadata-style^="hitchhiker-2014"] #above-the-fold #segmented-like-button button:hover,
html[watch-metadata-style^="hitchhiker-2013-2"] #above-the-fold #segmented-like-button button:hover,
html[watch-metadata-style^="hitchhiker-2013-3"] #above-the-fold #segmented-like-button button:hover,
html[watch-metadata-style^="hitchhiker-2014"] #above-the-fold #segmented-dislike-button button:hover,
html[watch-metadata-style^="hitchhiker-2013-2"] #above-the-fold #segmented-dislike-button button:hover,
html[watch-metadata-style^="hitchhiker-2013-3"] #above-the-fold #segmented-dislike-button button:hover {
  background: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%) !important;
  border-radius: 2px !important;
  border: 1px solid #d3d3d3;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #555;
}
html[watch-metadata-style^="hitchhiker-2014"] #segmented-like-button button,
html[watch-metadata-style^="hitchhiker-2013"] #segmented-like-button button,
html[watch-metadata-style^="hitchhiker-2014"] #segmented-dislike-button button,
html[watch-metadata-style^="hitchhiker-2013"] #segmented-dislike-button button {
  border: 1px solid transparent;
}
/* 2012-2014 */
html[classic-ltod-strings="true"] #segmented-like-button ytd-toggle-button-renderer button span::after,
html[classic-ltod-strings="true"] #segmented-like-button ytd-toggle-button-renderer button .animated-rolling-number-wiz::after  {
  content: "Like";
  opacity: 1 !important;
  position: absolute;
  left: 32px;
  margin-top: -36px;
  display: block;
}
html[watch-metadata-style] {
--bt-watch-metadata-wiz-like-count-after-top: 36px;
}
html[watch-metadata-style^="hitchhiker-2014"],
html[watch-metadata-style^="hitchhiker-2013"] {
--bt-watch-metadata-wiz-like-count-after-top: 34px;
}
html[watch-metadata-style^="cosmicpanda"] {
--bt-watch-metadata-wiz-like-count-after-top: 33px;
--bt-watch-metadata-wiz-like-count-after-font-weight: bold;
}
html[watch-metadata-style^="aozora"] {
--bt-watch-metadata-wiz-like-count-after-top: 29px;
--bt-watch-metadata-wiz-like-count-after-font-weight: normal;	
}
html[watch-metadata-style^="stargazer"] {
--bt-watch-metadata-wiz-like-count-after-top: 29px;
--bt-watch-metadata-wiz-like-count-after-font-weight: bold;	
--bt-watch-metadata-wiz-like-count-after-text-color: var(--bt-blue);
}
html[classic-ltod-strings="true"] #segmented-like-button ytd-toggle-button-renderer button .animated-rolling-number-wiz::after {
  top: var(--bt-watch-metadata-wiz-like-count-after-top);
  font-weight: var(--bt-watch-metadata-wiz-like-count-after-font-weight);
  color: var(--bt-watch-metadata-wiz-like-count-after-text-color);
}
html[classic-ltod-strings="true"] #segmented-like-button ytd-toggle-button-renderer button span,
html[classic-ltod-strings="true"] #segmented-like-button ytd-toggle-button-renderer button .animated-rolling-number-wiz {
  width: 0px;
  display: block;
}
html[classic-ltod-strings="true"] #segmented-dislike-button ytd-toggle-button-renderer button span {
  width: 0px;
  display: block;
  opacity: 0;
}
html[classic-ltod-strings="true"][watch-metadata-style^="cosmicpanda"] #segmented-like-button button {
  width: 62px !important;
}
html[classic-ltod-strings="true"][watch-metadata-style^="cosmicpanda"] #segmented-dislike-button button {
  width: 38px !important;
}
html[classic-ltod-strings="true"][watch-metadata-style^="hitchhiker"] #segmented-like-button button {
  width: 62px !important;
}
html[classic-ltod-strings="true"][watch-metadata-style^="hitchhiker"] #segmented-dislike-button button {
  width: 38px !important;
}
/* patch */
html[watch-metadata-style^="aozora"] #actions-inner.ytd-watch-metadata {
  flex-direction: row !important;
}
html[watch-metadata-style^="aozora"] #segmented-dislike-button button,
html[watch-metadata-style^="stargazer"] #segmented-dislike-button button {
  width: 28px;
  padding: 0 6px 0 2px !important;
}