html[static][location="watch"] tp-yt-app-drawer,
html[static][location="watch"] ytd-mini-guide-renderer {
  display: none;
}
html[static][location="playlist"] tp-yt-app-drawer,
html[static][location="playlist"] ytd-mini-guide-renderer {
  display: none;
}
html[static][location="search"] tp-yt-app-drawer,
html[static][location="search"] ytd-mini-guide-renderer {
  display: none;
}
html[static][location="channel"]:not([inline-channel="true"]) tp-yt-app-drawer,
html[static][location="channel"]:not([inline-channel="true"]) ytd-mini-guide-renderer {
  display: none;
}
html[static][location="likedvideos"] tp-yt-app-drawer,
html[static][location="likedvideos"] ytd-mini-guide-renderer {
  display: none;
}
html[static][location="watchlater"] tp-yt-app-drawer,
html[static][location="watchlater"] ytd-mini-guide-renderer {
  display: none;
}
html[static][location="watch"],
html[static][location="playlist"],
html[static][location="search"],
html[static][location="channel"]:not([inline-channel="true"]),
html[static][location="watchlater"],
html[static][location="likedvideos"] {
--bt-sidebar-width: 0 !important;
}
html[sidebar-style^="stargazer"] {
--bt-sidebar-bg: transparent;
--bt-sidebar-width: 300px;
--bt-sidebar-border: 1px solid rgb(153, 153, 153);
--bt-sidebar-padding: 5px;
--bt-sidebar-border-right: none;
--bt-sidebar-section-padding: 0;
--bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-sidebar-section-margin-top: 6px;
--bt-sidebar-section-margin-bottom: -6px;
--bt-sidebar-section-padding-top: 6px;
--bt-sidebar-first-section-padding-top: 7px;
/* non items */
--bt-sidebar-non-item-text-color: var(--bt-gcp-000);
--bt-sidebar-non-item-text-transform: none;
--bt-sidebar-non-item-font-size: 16px;
--bt-sidebar-non-item-font-weight: 400;
--bt-sidebar-non-item-border-bottom: 1px solid var(--bt-gcp-ccc);
--bt-sidebar-non-item-padding: 4px 0;
/* items */
--bt-sidebar-item-height: 24px;
--bt-sidebar-item-width: 288px;
--bt-sidebar-item-margin-left: 0px;
--bt-sidebar-item-radius: 6px;
--bt-sidebar-item-border-top: none;
--bt-sidebar-item-border-bottom: none;
--bt-sidebar-item-text-color: var(--bt-blue);
--bt-sidebar-item-bg: none;
--bt-sidebar-item-border-right: none;
--bt-sidebar-item-transition: border 0.2s ease;
--bt-sidebar-item-icon-display: none;
/* active */
--bt-active-sidebar-item-bg: #ffffe5; /* make var */
--bt-active-sidebar-item-bg-hover: #ffffe5;
--bt-active-sidebar-item-border: 1px solid #f5e082;
--bt-active-sidebar-item-border-hover: 1px solid #f5e082;
--bt-active-sidebar-item-text-shadow: none;
--bt-active-sidebar-item-text-color: #c60;
--bt-active-sidebar-item-border-right: 1px solid #f5e082;
/* hover */
--bt-sidebar-item-bg-hover: #d1e1fa;
--bt-sidebar-item-text-shadow-hover: none;
--bt-sidebar-item-text-decoration-hover: underline;
--bt-sidebar-item-text-color-hover: var(--bt-blue);
--bt-sidebar-item-border-right-hover: none;
/* ghost thing */
--bt-sidebar-item-og-ghost-display: none;
/* inner */
--bt-sidebar-item-inner-padding: 0 9px;
/* icon */
--bt-sidebar-item-icon-width: 18px;
--bt-sidebar-item-icon-height: 18px;
--bt-sidebar-item-icon-margin-right: 6px;
/* img */
--bt-sidebar-item-image-radius: 0;
/* text */
--bt-sidebar-item-font-size: 12px;
}
html[sidebar-style^="stargazer"] #guide-spacer.ytd-app {
  margin-top: calc(var(--bt-topbar-height) + 16px);
}
html[sidebar-style^="stargazer"] #guide-inner-content {
  margin-left: -16px;
}
html[sidebar-style^="stargazer"] #sections.ytd-guide-renderer {
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  background: #eee;
}
html[sidebar-style^="aozora"] {
--bt-sidebar-bg: transparent;
--bt-sidebar-width: 320px;
--bt-sidebar-border-right: none;
--bt-sidebar-section-padding: 0;
--bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-sidebar-section-margin-top: 6px;
--bt-sidebar-section-margin-bottom: -6px;
--bt-sidebar-section-padding-top: 6px;
--bt-sidebar-first-section-padding-top: 7px;
/* non items */
--bt-sidebar-non-item-text-color: var(--bt-gcp-000);
--bt-sidebar-non-item-text-transform: none;
--bt-sidebar-non-item-font-size: 16px;
--bt-sidebar-non-item-font-weight: 400;
--bt-sidebar-non-item-border-bottom: 1px solid var(--bt-gcp-ccc);
--bt-sidebar-non-item-padding: 4px 0;
/* items */
--bt-sidebar-item-height: 24px;
--bt-sidebar-item-width: 320px;
--bt-sidebar-item-margin-left: 0px;
--bt-sidebar-item-radius: 0;
--bt-sidebar-item-border-top: none;
--bt-sidebar-item-border-bottom: none;
--bt-sidebar-item-text-color: var(--bt-blue);
--bt-sidebar-item-bg: none;
--bt-sidebar-item-border-right: none;
--bt-sidebar-item-transition: border 0.2s ease;
--bt-sidebar-item-icon-display: none;
/* active */
--bt-active-sidebar-item-bg: #d1e1fa; /* make var */
--bt-active-sidebar-item-bg-hover: #d1e1fa;
--bt-active-sidebar-item-text-shadow: none;
--bt-active-sidebar-item-text-color: var(--bt-gcp-000);
--bt-active-sidebar-item-border-right: none;
/* hover */
--bt-sidebar-item-bg-hover: #d1e1fa;
--bt-sidebar-item-text-shadow-hover: none;
--bt-sidebar-item-text-decoration-hover: underline;
--bt-sidebar-item-text-color-hover: var(--bt-blue);
--bt-sidebar-item-border-right-hover: none;
/* ghost thing */
--bt-sidebar-item-og-ghost-display: none;
/* inner */
--bt-sidebar-item-inner-padding: 0 9px;
/* icon */
--bt-sidebar-item-icon-width: 18px;
--bt-sidebar-item-icon-height: 18px;
--bt-sidebar-item-icon-margin-right: 6px;
/* img */
--bt-sidebar-item-image-radius: 0;
/* text */
--bt-sidebar-item-font-size: 12px;
}
/* NEOSection CosmicPanda */
html[sidebar-style^="cosmicpanda"] {
--bt-sidebar-bg: #272727;
--bt-sidebar-width: 200px;
--bt-sidebar-border-right: var(--bt-section-border);
--bt-sidebar-section-padding: 0;
--bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-sidebar-section-margin-top: 6px;
--bt-sidebar-section-margin-bottom: -6px;
--bt-sidebar-section-padding-top: 6px;
--bt-sidebar-first-section-padding-top: 7px;
/* non items */
--bt-sidebar-non-item-text-color: #ccc;
--bt-sidebar-non-item-text-transform: uppercase;
--bt-sidebar-non-item-font-size: 11px;
--bt-sidebar-non-item-font-weight: 500;
/* items */
--bt-sidebar-item-height: 36px;
--bt-sidebar-item-width: 196px;
--bt-sidebar-item-margin-left: 0px;
--bt-sidebar-item-radius: 0;
--bt-sidebar-item-border-top: 1px solid #323232;
--bt-sidebar-item-border-bottom: 1px solid #1b1b1b;
--bt-sidebar-item-text-color: #ccc;
--bt-sidebar-item-bg: linear-gradient(to bottom,#292929 0,#252525 100%);
--bt-sidebar-item-border-right: 4px solid transparent;
--bt-sidebar-item-transition: border 0.2s ease;
/* active */
--bt-active-sidebar-item-bg: #1c1c1c;
--bt-active-sidebar-item-bg-hover: #1c1c1c;
--bt-active-sidebar-item-text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
--bt-active-sidebar-item-text-color: #fff;
--bt-active-sidebar-item-border-right: 4px solid #c4302b;
/* hover */
--bt-sidebar-item-bg-hover: #1c1c1c;
--bt-sidebar-item-text-shadow-hover: -1px -1px 0 rgba(0,0,0,0.25);
--bt-sidebar-item-text-color-hover: #fff;
--bt-sidebar-item-border-right-hover: 4px solid #666;
/* ghost thing */
--bt-sidebar-item-og-ghost-display: none;
/* inner */
--bt-sidebar-item-inner-padding: 0 9px;
/* icon */
--bt-sidebar-item-icon-width: 20px;
--bt-sidebar-item-icon-height: 20px;
--bt-sidebar-item-icon-margin-right: 10px;
/* img */
--bt-sidebar-item-image-radius: 0;
/* text */
--bt-sidebar-item-font-size: 13px;
}
/* NEOSection Hitchhiker */
html[sidebar-style^="hitchhiker"]:not([sidebar-style^="hitchhiker-2013"]) {
--bt-sidebar-bg: var(--bt-section-bg);
--bt-sidebar-width: 230px;
--bt-sidebar-border-right: var(--bt-section-border);
--bt-sidebar-section-padding: 0 12px 6px 12px;
--bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-sidebar-section-margin-top: 6px;
--bt-sidebar-section-margin-bottom: -6px;
--bt-sidebar-section-padding-top: 6px;
--bt-sidebar-first-section-padding-top: 7px;
/* non items */
--bt-sidebar-non-item-text-color: var(--bt-spec-emphasis);
--bt-sidebar-non-item-text-transform: uppercase;
--bt-sidebar-non-item-font-size: 11px;
--bt-sidebar-non-item-font-weight: 500;
/* items */
--bt-sidebar-item-height: 28px;
--bt-sidebar-item-width: 186px;
--bt-sidebar-item-margin-left: 10px;
--bt-sidebar-item-radius: 0;
/* active */
--bt-active-sidebar-item-bg: var(--bt-spec-emphasis);
--bt-active-sidebar-item-bg-hover: var(--bt-spec-emphasis);
--bt-active-sidebar-item-text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
--bt-active-sidebar-item-text-color: #fff;
/* hover */
--bt-sidebar-item-bg-hover: #444;
--bt-sidebar-item-text-shadow-hover: -1px -1px 0 rgba(0,0,0,0.25);
--bt-sidebar-item-text-color-hover: #fff;
/* ghost thing */
--bt-sidebar-item-og-ghost-display: none;
/* inner */
--bt-sidebar-item-inner-padding: 0 9px;
/* icon */
--bt-sidebar-item-icon-width: 20px;
--bt-sidebar-item-icon-height: 20px;
--bt-sidebar-item-icon-margin-right: 10px;
/* img */
--bt-sidebar-item-image-radius: 0;
/* text */
--bt-sidebar-item-font-size: 13px;
}
html[sidebar-color-palette^="hitchhiker-2017"] {
--bt-sidebar-bg: var(--bt-gcp-2017-surface-color-1);
--bt-sidebar-border-right: 1px solid var(--bt-section-border-color);
--bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-sidebar-non-item-text-color: var(--bt-gcp-2017-red-1);
--bt-active-sidebar-item-bg: var(--bt-gcp-2017-red-1);
--bt-active-sidebar-item-bg-hover: var(--bt-gcp-2017-red-1);
--bt-active-sidebar-item-text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
--bt-active-sidebar-item-text-color: var(--bt-gcp-fff-u);
/* hover */
--bt-sidebar-item-bg-hover: var(--bt-gcp-444-u);
--bt-sidebar-item-text-shadow-hover: -1px -1px 0 rgba(0,0,0,0.25);
--bt-sidebar-item-text-color-hover: var(--bt-gcp-fff-u);
}
/* NEOSection hitchhiker-2013 */
html[sidebar-style^="hitchhiker-2013"] {
--bt-sidebar-width: 180px;
--bt-sidebar-border-right: var(--bt-section-border);
--bt-sidebar-section-padding: 0 6px 0 0;
--bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-sidebar-section-margin-top: 6px;
--bt-sidebar-section-margin-bottom: -6px;
--bt-sidebar-section-padding-top: 6px;
--bt-sidebar-first-section-padding-top: 7px;
/* non items */
--bt-sidebar-non-item-text-color: var(--bt-spec-emphasis);
--bt-sidebar-non-item-text-transform: uppercase;
--bt-sidebar-non-item-font-size: 11px;
--bt-sidebar-non-item-font-weight: 500;
/* items */
--bt-sidebar-item-height: 26px;
--bt-sidebar-item-width: 180px;
--bt-sidebar-item-margin-left: 0px;
--bt-sidebar-item-radius: 0;
/* active */
--bt-active-sidebar-item-bg: var(--bt-spec-emphasis);
--bt-active-sidebar-item-bg-hover: var(--bt-spec-emphasis);
--bt-active-sidebar-item-text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
--bt-active-sidebar-item-text-color: #fff;
/* hover */
--bt-sidebar-item-bg-hover: #444;
--bt-sidebar-item-text-shadow-hover: -1px -1px 0 rgba(0,0,0,0.25);
--bt-sidebar-item-text-color-hover: #fff;
/* ghost thing */
--bt-sidebar-item-og-ghost-display: none;
/* inner */
--bt-sidebar-item-inner-padding: 0 9px;
/* icon */
--bt-sidebar-item-icon-width: 20px;
--bt-sidebar-item-icon-height: 20px;
--bt-sidebar-item-icon-margin-right: 10px;
/* img */
--bt-sidebar-item-image-radius: 0;
/* text */
--bt-sidebar-item-font-size: 13px;
}
html[sidebar-style^="hitchhiker-2013"] {
--bt-sidebar-bg: linear-gradient(to right,rgba(255,255,255,.1) 0 0,transparent 100% 100%);
--bt-sidebar-item-icon-display: none;
}
html[sidebar-style^="hitchhiker-2013"][dark] {
--bt-sidebar-bg: linear-gradient(to left,rgba(255,255,255,.1) 0 0,transparent 100% 100%);
}
html[sidebar-style^="hitchhiker-2013-1"] {
--bt-sidebar-item-bg-hover: linear-gradient(to bottom,#444 0,#333 100%);
--bt-active-sidebar-item-bg: var(--bt-active-sidebar-item-bg-2013);
--bt-active-sidebar-item-bg-hover: var(--bt-active-sidebar-item-bg);
}
html[sidebar-style^="cosmicpanda"][my-channel-btn="true"] {
/* outer */
--bt-my-channel-button-display: flex;
--bt-simple-sidebar-item-position: relative;
--bt-simple-sidebar-item-width: 196px;
--bt-simple-sidebar-item-height: 36px;
--bt-simple-sidebar-item-border: none;
--bt-simple-sidebar-item-margin-left: 0px;
/* inner */
--bt-simple-sidebar-item-inner-text-decoration: none;
--bt-simple-sidebar-item-inner-padding: 0 9px;
--bt-simple-sidebar-item-inner-margin: auto 0;
--bt-simple-sidebar-item-inner-height: 36px;
--bt-simple-sidebar-item-inner-width: 100%;
--bt-simple-sidebar-item-inner-font-size: 13px;
--bt-simple-sidebar-item-text-color: var(--yt-spec-text-primary);
/*  hover */
--bt-simple-sidebar-item-background-hover: var(--bt-sidebar-item-bg-hover);
--bt-simple-sidebar-item-inner-text-color-hover: #fff;
--bt-simple-sidebar-item-icon-bg-hover: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) 0px -1081px;
/* og icon */
--bt-simple-sidebar-item-icon-outline-display: inline-block;
--bt-simple-sidebar-item-icon-display: inline-block;
--bt-simple-sidebar-item-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) -71px -675px;
--bt-simple-sidebar-item-icon-margin-top: 8px;
--bt-simple-sidebar-item-icon-width: 20px;
--bt-simple-sidebar-item-icon-height: 20px;
--bt-simple-sidebar-item-svg-display: none;
/* text */
--bt-simple-sidebar-item-text-display: block;
--bt-simple-sidebar-item-text-margin-left: 30px;
--bt-simple-sidebar-item-text-margin-top: -22px;
}
/* BTSection My Channel */
html[sidebar-style^="hitchhiker"][my-channel-btn="true"] {
/* outer */
--bt-my-channel-button-display: flex;
--bt-simple-sidebar-item-position: relative;
--bt-simple-sidebar-item-width: 186px;
--bt-simple-sidebar-item-height: 28px;
--bt-simple-sidebar-item-border: none;
--bt-simple-sidebar-item-margin-left: 10px;
/* inner */
--bt-simple-sidebar-item-inner-text-decoration: none;
--bt-simple-sidebar-item-inner-padding: 0 9px;
--bt-simple-sidebar-item-inner-margin: auto 0;
--bt-simple-sidebar-item-inner-height: 24px;
--bt-simple-sidebar-item-inner-width: 100%;
--bt-simple-sidebar-item-inner-font-size: 13px;
--bt-simple-sidebar-item-text-color: var(--yt-spec-text-primary);
/*  hover */
--bt-simple-sidebar-item-background-hover: var(--bt-sidebar-item-bg-hover);
--bt-simple-sidebar-item-inner-text-color-hover: #fff;
--bt-simple-sidebar-item-icon-bg-hover: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) 0px -1081px;
/* og icon */
--bt-simple-sidebar-item-icon-outline-display: inline-block;
--bt-simple-sidebar-item-icon-display: inline-block;
--bt-simple-sidebar-item-icon-bg: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) -71px -675px;
--bt-simple-sidebar-item-icon-margin-top: 2px;
--bt-simple-sidebar-item-icon-width: 20px;
--bt-simple-sidebar-item-icon-height: 20px;
--bt-simple-sidebar-item-svg-display: none;
/* text */
--bt-simple-sidebar-item-text-display: block;
--bt-simple-sidebar-item-text-margin-left: 30px;
--bt-simple-sidebar-item-text-margin-top: -22px;
}
html[sidebar-style^="hitchhiker-2013"][my-channel-btn="true"] {
--bt-simple-sidebar-item-margin-left: 0px;
--bt-simple-sidebar-item-text-margin-left: 0px;
--bt-simple-sidebar-item-text-margin-top: 4px;
}
html[sidebar-style="polymer-2019"] {
  --bt-sidebar-bg: var(--bt-guide-background);
  --bt-sidebar-width: 240px;
  --bt-sidebar-border-right: none;
  --bt-sidebar-section-padding: 0;
  --bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
  --bt-sidebar-section-margin-top: 10px;
  --bt-sidebar-section-margin-bottom: 10px;
  --bt-sidebar-section-padding-top: 10px;
  --bt-sidebar-first-section-padding-top: 12px;
  --bt-sidebar-non-item-text-color: var(--yt-spec-text-secondary);
  --bt-sidebar-non-item-text-transform: uppercase;
  --bt-sidebar-non-item-font-size: 1.4rem;
  --bt-sidebar-non-item-font-weight: 500;
  --bt-sidebar-non-item-padding: 10px 20px 4px;
  --bt-sidebar-item-height: 40px;
  --bt-sidebar-item-width: 240px;
  --bt-sidebar-item-margin-left: 0px;
  --bt-sidebar-item-radius: 0;
  --bt-sidebar-item-svg-color: var(--bt-spec-icon-inactive);
  --bt-active-sidebar-item-bg: var(--bt-spec-10-percent-layer);
  --bt-active-sidebar-item-bg-hover: var(--bt-spec-15-percent-layer);
  --bt-active-sidebar-item-svg-color: var(--bt-spec-static-brand-red);
  --bt-sidebar-item-bg-hover: var(--bt-spec-10-percent-layer);
  --bt-sidebar-item-og-ghost-display: none;
  --bt-sidebar-item-inner-padding: 0 24px;
  --bt-sidebar-item-icon-width: 24px;
  --bt-sidebar-item-icon-height: 24px;
  --bt-sidebar-item-icon-margin-right: 24px;
  --bt-sidebar-item-image-radius: 50%;
  --bt-sidebar-item-font-size: 1.4rem;
}
/* BTSection My Channel */
html[sidebar-style="polymer-2019"][my-channel-btn="true"] {
/* outer */
--bt-my-channel-button-display: flex;
--bt-simple-sidebar-item-position: relative;
--bt-simple-sidebar-item-width: 240px;
--bt-simple-sidebar-item-height: 40px;
--bt-simple-sidebar-item-border: none;
/* inner */
--bt-simple-sidebar-item-inner-display: block;
--bt-simple-sidebar-item-inner-text-decoration: none;
--bt-simple-sidebar-item-inner-padding: 0 24px;
--bt-simple-sidebar-item-inner-margin: auto 0;
--bt-simple-sidebar-item-inner-height: 24px;
--bt-simple-sidebar-item-inner-width: 100%;
--bt-simple-sidebar-item-inner-font-size: 1.4rem;
--bt-simple-sidebar-item-text-color: var(--bt-spec-text-primary);
/*  hover */
--bt-simple-sidebar-item-background-hover: var(--bt-spec-10-percent-layer);
/* og icon */
--bt-simple-sidebar-item-icon-outline-display: none;
--bt-simple-sidebar-item-icon-display: inline-block;
--bt-simple-sidebar-item-icon-width: 24px;
--bt-simple-sidebar-item-icon-height: 24px;
--bt-simple-sidebar-item-icon-margin-left: 0;
--bt-simple-sidebar-item-icon-fill: var(--bt-spec-icon-inactive);
/* text */
--bt-simple-sidebar-item-text-display: block;
--bt-simple-sidebar-item-text-margin-left: 48px;
--bt-simple-sidebar-item-text-margin-top: -23px;
}
/* NEOSection Polymer 2021 */
html[sidebar-style^="polymer-202"] {
  --bt-sidebar-width: 240px;
  --bt-sidebar-border-right: none;
  --bt-sidebar-section-padding: 0;
  --bt-sidebar-section-border-top: 1px solid var(--yt-spec-10-percent-layer);
  --bt-sidebar-section-margin-top: 10px;
  --bt-sidebar-section-margin-bottom: 10px;
  --bt-sidebar-section-padding-top: 10px;
  --bt-sidebar-first-section-padding-top: 12px;
  --bt-sidebar-non-item-text-color: var(--yt-spec-text-secondary);
  --bt-sidebar-non-item-text-transform: uppercase;
  --bt-sidebar-non-item-font-size: 1.4rem;
  --bt-sidebar-non-item-font-weight: 500;
  --bt-sidebar-non-item-padding: 10px 20px 4px;
  --bt-sidebar-item-height: 40px;
  --bt-sidebar-item-width: 240px;
  --bt-sidebar-item-margin-left: 0px;
  --bt-sidebar-item-radius: 0;
  --bt-active-sidebar-item-bg: var(--yt-spec-10-percent-layer);
  --bt-active-sidebar-item-bg-hover: var(--yt-spec-additive-background);
  --bt-sidebar-item-bg-hover: var(--yt-spec-additive-background);
  --bt-sidebar-item-og-ghost-display: none;
  --bt-sidebar-item-inner-padding: 0 24px;
  --bt-sidebar-item-icon-width: 24px;
  --bt-sidebar-item-icon-height: 24px;
  --bt-sidebar-item-icon-margin-right: 24px;
  --bt-sidebar-item-image-radius: 50%;
  --bt-sidebar-item-font-size: 1.4rem;
}
html[sidebar-style^="polymer-2020"] {
  --bt-sidebar-item-svg-color: var(--bt-icon-color);
  --bt-active-sidebar-item-svg-color: var(--yt-spec-static-brand-red);
}
/* BTSection My Channel */
html[sidebar-style^="polymer-2020"][my-channel-btn="true"] {
/* outer */
--bt-my-channel-button-display: flex;
--bt-simple-sidebar-item-position: relative;
--bt-simple-sidebar-item-width: 240px;
--bt-simple-sidebar-item-height: 40px;
--bt-simple-sidebar-item-border: none;
/* inner */
--bt-simple-sidebar-item-inner-display: block;
--bt-simple-sidebar-item-inner-text-decoration: none;
--bt-simple-sidebar-item-inner-padding: 0 24px;
--bt-simple-sidebar-item-inner-margin: auto 0;
--bt-simple-sidebar-item-inner-height: 24px;
--bt-simple-sidebar-item-inner-width: 100%;
--bt-simple-sidebar-item-inner-font-size: 1.4rem;
--bt-simple-sidebar-item-text-color: var(--bt-spec-text-primary);
/*  hover */
--bt-simple-sidebar-item-background-hover: var(--yt-spec-10-percent-layer);
/* og icon */
--bt-simple-sidebar-item-icon-outline-display: none;
--bt-simple-sidebar-item-icon-display: inline-block;
--bt-simple-sidebar-item-icon-width: 24px;
--bt-simple-sidebar-item-icon-height: 24px;
--bt-simple-sidebar-item-icon-margin-left: 0;
--bt-simple-sidebar-item-icon-fill: var(--bt-spec-icon-inactive);
/* text */
--bt-simple-sidebar-item-text-display: block;
--bt-simple-sidebar-item-text-margin-left: 48px;
--bt-simple-sidebar-item-text-margin-top: -23px;
}
html[sidebar-style^="polymer-2021"][my-channel-btn="true"] {
/* outer */
--bt-my-channel-button-display: flex;
--bt-simple-sidebar-item-position: relative;
--bt-simple-sidebar-item-width: 240px;
--bt-simple-sidebar-item-height: 40px;
--bt-simple-sidebar-item-border: none;
/* inner */
--bt-simple-sidebar-item-inner-display: block;
--bt-simple-sidebar-item-inner-text-decoration: none;
--bt-simple-sidebar-item-inner-padding: 0 24px;
--bt-simple-sidebar-item-inner-margin: auto 0;
--bt-simple-sidebar-item-inner-height: 24px;
--bt-simple-sidebar-item-inner-width: 100%;
--bt-simple-sidebar-item-inner-font-size: 1.4rem;
--bt-simple-sidebar-item-text-color: var(--yt-spec-text-primary);
/*  hover */
--bt-simple-sidebar-item-background-hover: var(--yt-spec-10-percent-layer);
/* og icon */
--bt-simple-sidebar-item-icon-filled-display: none;
--bt-simple-sidebar-item-icon-display: inline-block;
--bt-simple-sidebar-item-icon-width: 24px;
--bt-simple-sidebar-item-icon-height: 24px;
--bt-simple-sidebar-item-icon-margin-left: 0;
--bt-simple-sidebar-item-icon-fill: var(--yt-spec-icon-inactive);
/* text */
--bt-simple-sidebar-item-text-display: block;
--bt-simple-sidebar-item-text-margin-left: 48px;
--bt-simple-sidebar-item-text-margin-top: -23px;
}
html:not([sidebar-style])[my-channel-btn="true"] {
/* outer */
--bt-my-channel-button-display: flex;
--bt-simple-sidebar-item-position: relative;
--bt-simple-sidebar-item-width: 204px;
--bt-simple-sidebar-item-height: 40px;
--bt-simple-sidebar-item-border: none;
--bt-simple-sidebar-item-radius: 10px;
/* inner */
--bt-simple-sidebar-item-inner-display: block;
--bt-simple-sidebar-item-inner-text-decoration: none;
--bt-simple-sidebar-item-inner-padding: 0 12px;
--bt-simple-sidebar-item-inner-margin: auto 0;
--bt-simple-sidebar-item-inner-height: 24px;
--bt-simple-sidebar-item-inner-width: 100%;
--bt-simple-sidebar-item-inner-font-size: 1.4rem;
--bt-simple-sidebar-item-text-color: var(--yt-spec-text-primary);
/*  hover */
--bt-simple-sidebar-item-background-hover: var(--yt-spec-badge-chip-background);
/* og icon */
--bt-simple-sidebar-item-icon-filled-display: none;
--bt-simple-sidebar-item-icon-display: inline-block;
--bt-simple-sidebar-item-icon-width: 24px;
--bt-simple-sidebar-item-icon-height: 24px;
--bt-simple-sidebar-item-icon-margin-left: 0;
--bt-simple-sidebar-item-icon-fill: var(--yt-spec-icon-inactive);
/* text */
--bt-simple-sidebar-item-text-display: block;
--bt-simple-sidebar-item-text-margin-left: 48px;
--bt-simple-sidebar-item-text-margin-top: -23px;
--bt-sidebar-item-font-size: 1.4rem;
}
/* BTMEGASection Sidebar */
/* sidebar */
html[sidebar-style] ytd-app {
--app-drawer-width: var(--bt-sidebar-width) !important;
}
html[sidebar-style] ytd-guide-renderer.ytd-app {
  width: var(--bt-sidebar-width);
  border: var(--bt-sidebar-border);
  padding: var(--bt-sidebar-padding);
}
html[sidebar-style] ytd-app[guide-persistent-and-visible] ytd-page-manager.ytd-app {
  margin-left: var(--bt-sidebar-width);
} 
html[pseudo-static][sidebar-style] ytd-app[guide-persistent-and-visible] ytd-page-manager.ytd-app {
  margin-left: calc(var(--bt-sidebar-width) + 50px);
}
html[sidebar-style] tp-yt-app-drawer[persistent] {
  border-right: var(--bt-sidebar-border-right);
}
/* sidebar (inner) */
html[sidebar-style] #guide-content.ytd-app {
  background: var(--bt-sidebar-bg);
}
/* for 2013 */
html[sidebar-style] #contentContainer.tp-yt-app-drawer {
  background: var(--bt-sidebar-bg);
}
html[sidebar-style][header-visible] #contentContainer.tp-yt-app-drawer {
  background: var(--bt-sidebar-bg);
  margin-top: 178px;
  border-top-left-radius: 14px !important;
  padding-top: 0 !important;
}
/* non items */
/* spacing */
html[sidebar-style] ytd-guide-collapsible-section-entry-renderer.ytd-guide-section-renderer {
  border-top: var(--bt-sidebar-section-border-top);
  margin-top: var(--bt-sidebar-section-margin-top) !important;
  padding-top: var(--bt-sidebar-section-padding-top) !important;
  margin-bottom: var(--bt-sidebar-section-margin-bottom) !important;
}
html[sidebar-style] ytd-guide-renderer #sections.ytd-guide-renderer > ytd-guide-section-renderer.ytd-guide-renderer:not(:first-child), 
html[sidebar-style] ytd-guide-renderer #sections.ytd-guide-renderer > ytd-guide-subscriptions-section-renderer.ytd-guide-renderer,
html[sidebar-style] ytd-guide-renderer #sections.ytd-guide-renderer > .ytd-guide-renderer:first-child  {
  padding: var(--bt-sidebar-section-padding);
}
/* non item text */
html[sidebar-style] #guide-section-title.ytd-guide-section-renderer {
  font-size: var(--bt-sidebar-non-item-font-size) !important;
  color: var(--bt-sidebar-non-item-text-color) !important;
  text-transform: var(--bt-sidebar-non-item-text-transform) !important;
  font-weight: var(--bt-sidebar-non-item-font-weight) !important;
  padding: var(--bt-sidebar-non-item-padding, 6px 12px 4px) !important;
  border-bottom: var(--bt-sidebar-non-item-border-bottom) !important;
}
/* first sidebar section */
html[sidebar-style] ytd-guide-renderer #sections.ytd-guide-renderer > .ytd-guide-renderer:first-child {
  padding-top: var(--bt-sidebar-first-section-padding-top) !important;
}
/* all sidebar items */
html[sidebar-style] ytd-guide-entry-renderer {
  border-radius: var(--bt-sidebar-item-radius) !important;
  width: var(--bt-sidebar-item-width);
  margin-left: var(--bt-sidebar-item-margin-left);
  height: var(--bt-sidebar-item-height);
  border-top: var(--bt-sidebar-item-border-top);
  border-bottom: var(--bt-sidebar-item-border-bottom);
  background: var(--bt-sidebar-item-bg);
  border-right: var(--bt-sidebar-item-border-right);
  transition: var(--bt-sidebar-item-transition);
}
html[sidebar-style] ytd-guide-entry-renderer:not(:focus):not(:hover):not([active]) yt-formatted-string {
  color: var(--bt-sidebar-item-text-color) !important;
}
/* ghost thing */ 
html[sidebar-style] tp-yt-paper-item:focus::before, 
html[sidebar-style] .tp-yt-paper-item.tp-yt-paper-item:focus::before {
	display: var(--bt-sidebar-item-og-ghost-display) !important;
}
html[sidebar-style] ytd-guide-entry-renderer yt-interaction.ytd-guide-entry-renderer {
	display: var(--bt-sidebar-item-og-ghost-display) !important;
}
html[sidebar-style] tp-yt-paper-item:focus::before, 
html[sidebar-style] paper-item:focus::before {
	display: var(--bt-sidebar-item-og-ghost-display)!important;
}
html[sidebar-style] tp-yt-paper-item:focus::before, 
html[sidebar-style] .tp-yt-paper-item.tp-yt-paper-item:focus::before {
	display: var(--bt-sidebar-item-og-ghost-display) !important;
}
html[sidebar-style] ytd-guide-entry-renderer yt-interaction.ytd-guide-entry-renderer {
  border-radius: var(--bt-sidebar-item-radius) !important;
  height: var(--bt-sidebar-item-height);
}
html[sidebar-style] .style-scope.ytd-guide-entry-renderer {
  border-radius: var(--bt-sidebar-item-radius) !important;
}
html[sidebar-style] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer {
  height: var(--bt-sidebar-item-height);
  min-height: var(--bt-sidebar-item-height);
  max-height: var(--bt-sidebar-item-height);
}
/* sidebar items (inner) */
html[sidebar-style] ytd-guide-entry-renderer tp-yt-paper-item.ytd-guide-entry-renderer {
  padding: var(--bt-sidebar-item-inner-padding);
}
html[sidebar-style] yt-img-shadow.ytd-guide-entry-renderer, 
html[sidebar-style] yt-img-shadow.ytd-guide-entry-renderer img.yt-img-shadow, 
html[sidebar-style] .guide-icon.ytd-guide-entry-renderer {
  height: var(--bt-sidebar-item-icon-height);
  width: var(--bt-sidebar-item-icon-width);
  margin-right: var(--bt-sidebar-item-icon-margin-right);
}
html[sidebar-style] ytd-guide-entry-renderer bt-icon svg {
  color: var(--bt-sidebar-item-svg-color);
  width: 24px;
  height: 24px;
}
html[sidebar-style^="cosmicpanda"] ytd-guide-entry-renderer bt-icon svg {
  color: var(--bt-sidebar-item-svg-color);
  width: 20px;
  height: 20px;
}
html[sidebar-style] ytd-guide-entry-renderer[active] bt-icon svg {
  color: var(--bt-active-sidebar-item-svg-color);
}
html[sidebar-style] .title.ytd-guide-entry-renderer {
  font-size: var(--bt-sidebar-item-font-size);
}
/* inactive sidebar items */
html[sidebar-style] ytd-guide-entry-renderer:not([active]):hover,
html[sidebar-style] .ysm-deck-open:hover {
  background: var(--bt-sidebar-item-bg-hover);
  border-right: var(--bt-sidebar-item-border-right-hover);
}
html[sidebar-style] ytd-guide-entry-renderer:not([active]):hover .guide-icon.ytd-guide-entry-renderer, 
html[sidebar-style] ytd-guide-entry-renderer:not([active]):hover .title.ytd-guide-entry-renderer {
  color: var(--bt-sidebar-item-text-color-hover);
  text-shadow: var(--bt-sidebar-item-text-shadow-hover);
  text-decoration: var(--bt-sidebar-item-text-decoration-hover, none);
}
/* active sidebar item */
html[sidebar-style] ytd-guide-entry-renderer[active] {
  background: var(--bt-active-sidebar-item-bg);
  border: var(--bt-active-sidebar-item-border);
  border-right: var(--bt-active-sidebar-item-border-right);
}
html[sidebar-style] ytd-guide-entry-renderer[active]:hover {
  background: var(--bt-active-sidebar-item-bg-hover);
}
html[sidebar-style] ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer, 
html[sidebar-style] ytd-guide-entry-renderer[active] .title.ytd-guide-entry-renderer {
  color: var(--bt-active-sidebar-item-text-color);
  text-shadow: var(--bt-active-sidebar-item-text-shadow);
  font-size: var(--bt-sidebar-item-font-size);
}
/* images inside items */
html[sidebar-style] .style-scope.ytd-guide-entry-renderer yt-img-shadow {
  border-radius: var(--bt-sidebar-item-image-radius) !important;
}
/* PocketTube */
html[sidebar-style] .ysm-deck-open > a {
  border-radius: 0 !important;
  width: var(--bt-sidebar-item-width) !important;
}
html[sidebar-style] .ysm-deck-open {
  border-radius: var(--bt-sidebar-item-radius) !important;
  width: var(--bt-sidebar-item-width);
  margin-left: var(--bt-sidebar-item-margin-left);
  height: var(--bt-sidebar-item-height);
  border-top: var(--bt-sidebar-item-border-top);
  border-bottom: var(--bt-sidebar-item-border-bottom);
  background: var(--bt-sidebar-item-bg);
  border-right: var(--bt-sidebar-item-border-right);
  transition: var(--bt-sidebar-item-transition);
}
html[sidebar-style] .ysm-deck-open div {
  color: var(--bt-sidebar-item-text-color) !important;
}
html[sidebar-style] .ysm-deck-open:hover div {
  color: var(--bt-sidebar-item-text-color-hover) !important;
}
/* BTSection My Channel */
html[my-channel-btn="false"] {
--bt-my-channel-button-display: none;
}
/* icon */
html[sidebar-style] .guide-icon.style-scope.ytd-guide-entry-renderer {
  display: var(--bt-sidebar-item-icon-display, block);
}
html[sidebar-style^="hitchhiker-2013"] bt-sidebar-item-renderer bt-icon {
  display: none !important;
}
#bt-my-channel-btn {
  display: var(--bt-my-channel-button-display);
  width: var(--bt-simple-sidebar-item-width);
  position: var(--bt-simple-sidebar-item-position);
  border: var(--bt-simple-sidebar-item-border);
  height: var(--bt-simple-sidebar-item-height);
  margin-left: var(--bt-simple-sidebar-item-margin-left);
  /* this doesn't need to be universal. */
  pointer-events: all !important;
  border-radius: var(--bt-simple-sidebar-item-radius);
  border-right: var(--bt-sidebar-item-border-right);
  border-top: var(--bt-sidebar-item-border-top);
  border-bottom: var(--bt-sidebar-item-border-bottom);
  background: var(--bt-sidebar-item-bg);
}
#bt-my-channel-btn:hover {
  background: var(--bt-simple-sidebar-item-background-hover);
    border-right: var(--bt-sidebar-item-border-right-hover);
}
#bt-my-channel-btn a {
  padding: var(--bt-simple-sidebar-item-inner-padding);
  width: var(--bt-simple-sidebar-item-inner-width);
  display: var(--bt-simple-sidebar-item-inner-display);
  height: var(--bt-simple-sidebar-item-inner-height);
  margin: var(--bt-simple-sidebar-item-inner-margin);
  font-size: var(--bt-simple-sidebar-item-inner-font-size);
  text-decoration: var(--bt-simple-sidebar-item-inner-text-decoration);
   color: var(--bt-sidebar-item-text-color, var(--bt-simple-sidebar-item-text-color));
    font-size: var(--bt-sidebar-item-font-size);
}
#bt-my-channel-btn:hover a {
  color: var(--bt-simple-sidebar-item-inner-text-color-hover);
}
#bt-my-channel-button bt-icon {
  width: var(--bt-simple-sidebar-item-icon-width);
  height: var(--bt-simple-sidebar-item-icon-height);
  display: var(--bt-simple-sidebar-item-icon-display);
  //margin-left: var(--bt-simple-sidebar-item-icon-margin-left);
  //background: var(--bt-simple-sidebar-item-icon-bg);
  //margin-top: var(--bt-simple-sidebar-item-icon-margin-top);
}
#bt-my-channel-btn #filled {
  display: var(--bt-simple-sidebar-item-icon-filled-display);
}
#bt-my-channel-btn #outline {
  display: var(--bt-simple-sidebar-item-icon-outline-display);
}
#bt-my-channel-btn:hover bt-icon {
  background: var(--bt-simple-sidebar-item-icon-bg-hover);
}
#bt-my-channel-btn #text {
  margin-left: var(--bt-simple-sidebar-item-text-margin-left);
  display: var(--bt-simple-sidebar-item-text-display);
  margin-top: var(--bt-simple-sidebar-item-text-margin-top);
}
#bt-my-channel-btn svg {
  display: var(--bt-simple-sidebar-item-svg-display);
  fill: var(--bt-simple-sidebar-item-icon-fill);
  width: var(--bt-simple-sidebar-item-icon-width);
  height: var(--bt-simple-sidebar-item-icon-height);
}
html[guide-always-persistent="true"] #guide-content #header.ytd-app {
  display: none;
}
html[sidebar-style^="hitchhiker-2013"] #guide-content #header.ytd-app {
  display: none;
}
html[guide-always-persistent="true"] #guide-button {
  pointer-events: none;
}
/* Pos */
html[location="watch"][guide-always-persistent][watch-metadata-style^="hitchhiker-2013"] #guide {
  margin-top: 60px;
}
html[location="watch"][watch-metadata-style^="hitchhiker-2013"] #guide {
  margin-top: 60px;
}
/* signin */
html[sidebar-style^="hitchhiker-2013"] #sign-in-button.ytd-guide-signin-promo-renderer:not([align-by-text]).ytd-guide-signin-promo-renderer {
  margin-top: 0;
}
html[sidebar-style^="hitchhiker-2013"] #sign-in-button.ytd-guide-signin-promo-renderer:not([align-by-text]).ytd-guide-signin-promo-renderer span::after {
  content: " ›";
}
/* no lock */
html[sidebar-style] body.lock-scrollbar {
  overflow-y: visible !important;
  position: unset !important;
}
html[sidebar-style^="cosmicpanda"] ytd-guide-entry-renderer:not([active]) yt-icon {
  color: #ccc !important;
}
/* sidebar icons */
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/"] .guide-icon.ytd-guide-entry-renderer svg, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="My Channel"] .guide-icon.ytd-guide-entry-renderer svg, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/feed/trending"] .guide-icon.ytd-guide-entry-renderer svg, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/subscriptions"] .guide-icon.ytd-guide-entry-renderer svg, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/guide_builder"] .guide-icon.ytd-guide-entry-renderer svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/history"] .guide-icon.ytd-guide-entry-renderer svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=LL"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=WL"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UC-9-kyTW8ZkZNDHQJ6FgpwQ"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/storefront?bp=ogUCKAI%3D"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UC4R8DWoMoI7CAwX8_LjQHig"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/gaming"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCYfdidRxbB8Qhf0Nx7ioOYw"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCEgdi0XIXXZ-qJOFPf4JSKw"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCtFRv9O2AHqOZjjynzrv-xg"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCrpQ4p1Ql_hG8rKXIKM1MOQ"] svg,
html[sidebar-style^="hitchhiker"] ytd-guide-collapsible-entry-renderer svg,
html[sidebar-style^="hitchhiker"] #bt-home-button svg {
  display: none !important;
}
html[sidebar-style^="hitchhiker"] .guide-icon.ytd-guide-entry-renderer  {
  background-size: auto;
  width: 20px;
  height: 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-home-button .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflYQU35a.png) -63px -27px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/"] .guide-icon.ytd-guide-entry-renderer, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-home-button[active] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-home-button:hover .guide-icon.ytd-guide-entry-renderer  {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -24px -1565px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/guide_builder"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -100px -560px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/guide_builder"] .guide-icon.ytd-guide-entry-renderer, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/guide_builder"] .guide-icon.ytd-guide-entry-renderer  {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) 0px -1589px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/feed/trending"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) 0 -814px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/feed/trending"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/feed/trending"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) 0 -344px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/subscriptions"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) -53px -320px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/subscriptions"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/subscriptions"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) -1px -1261px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/history"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) 0 -86px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/history"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/history"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -113px -1533px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNlthLq.webp) -288px -110px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href^="/playlist"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNlthLq.webp) -731px -201px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=LL"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNlthLq.webp) -568px -209px;

}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=LL"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=LL"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNlthLq.webp) -288px -167px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=WL"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNlthLq.webp) -507px -233px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer[active] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=WL"] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:hover #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/playlist?list=WL"] .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNlthLq.webp) -628px -306px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UC-9-kyTW8ZkZNDHQJ6FgpwQ"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/O23MSHE.jpg);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/feed/storefront?bp=ogUCKAI%3D"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/d9E8OCy.png);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UC4R8DWoMoI7CAwX8_LjQHig"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/jOdXjgf.png);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/gaming"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/CAeYhgx.jpg);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCYfdidRxbB8Qhf0Nx7ioOYw"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/7m2aTbj.png);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCEgdi0XIXXZ-qJOFPf4JSKw"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/CLfCPqH.jpg);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCtFRv9O2AHqOZjjynzrv-xg"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/brFBqll.jpg);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[href="/channel/UCrpQ4p1Ql_hG8rKXIKM1MOQ"] .guide-icon.ytd-guide-entry-renderer {
  background: url(https://i.imgur.com/cKPRYCx.png);
  background-size: 20px 20px;
}
html[sidebar-style^="hitchhiker"] #bt-liked-vids-button:not([active]):not(:hover) svg[icon-type="filled"],
html[sidebar-style^="hitchhiker"] #bt-trending-button:not([active]):not(:hover) svg[icon-type="filled"],
html[sidebar-style^="hitchhiker"] #header-entry:not([active]):not(:hover) svg[icon-type="filled"],
html[sidebar-style^="hitchhiker"] #bt-watch-later-button:not([active]):not(:hover) svg[icon-type="filled"] {
  color: var(--bt-text-color-6);
}
html[sidebar-style^="hitchhiker"] #bt-my-channel-button .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-your-channel-button .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) -71px -675px;
  background-size: auto;
  width: 20px;
  height: 20px;
}
html[sidebar-style^="hitchhiker"] #bt-my-channel-button[active] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-my-channel-button:hover .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-your-channel-button[active] .guide-icon.ytd-guide-entry-renderer,
html[sidebar-style^="hitchhiker"] #bt-your-channel-button:hover .guide-icon.ytd-guide-entry-renderer {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflvB63an.png) 0px -1081px;
  background-size: auto;
  width: 20px;
  height: 20px;
}
/* blob */
html[my-channel-btn="true"] #bt-your-vids-button,
html[my-channel-btn="false"] #bt-my-channel-button,
html[signed-out] #bt-my-channel-button,
html[trending-btn="true"] #bt-trending-button,
html[trending-btn="false"] #bt-trending-button-2,
html[sidebar-style^="hitchhiker"] #bt-my-channel-button svg,
html[sidebar-style^="hitchhiker"] #bt-your-channel-button svg {
  display: none !important;
}

html[sidebar-style^="hitchhiker"] #header-entry yt-icon {
  display: none !important;
}
html[sidebar-style^="hitchhiker"] #header-entry:not([active]):hover, 
html[sidebar-style^="hitchhiker"] #header-entry[active] {
  background: none !important;
  color: var(--bt-sidebar-non-item-text-color) !important;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer:not(:focus):not(:hover):not([active])#header-entry yt-formatted-string, 
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer #header-entry yt-formatted-string {
  color: var(--bt-sidebar-non-item-text-color) !important;
  font-size: var(--bt-sidebar-non-item-font-size) !important;
  text-transform: var(--bt-sidebar-non-item-text-transform);
  font-weight: var(--bt-sidebar-non-item-font-weight);
  text-shadow: none !important;
}
html[sidebar-style^="hitchhiker"] ytd-guide-entry-renderer#header-entry tp-yt-paper-item.ytd-guide-entry-renderer {
  padding: 0;
}
html[sidebar-style^="hitchhiker"] #header-entry yt-formatted-string:hover {
  text-decoration: underline !important;
  color: var(--bt-sidebar-non-item-text-color) !important;
}
html[sidebar-style^="hitchhiker"] #header-entry:not([active]):hover yt-formatted-string, 
html[sidebar-style^="hitchhiker"] #header-entry[active] yt-formatted-string {
  color: var(--bt-sidebar-non-item-text-color) !important;
  text-shadow: none !important;
  font-size: var(--bt-sidebar-non-item-font-size) !important;
  text-transform: var(--bt-sidebar-non-item-text-transform);
}
html[sidebar-style] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover, 
html[sidebar-style] #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:focus {
  background: none;
}

html[sidebar-persistent="true"] #guide #header.ytd-app {
  display: none;
}

/* for 2011 */
html[guide-right-aligned] #guide {
  right: 0;
}
html[guide-right-aligned][sidebar-style] ytd-app[guide-persistent-and-visible] ytd-page-manager.ytd-app {
  margin-right: var(--bt-sidebar-width) !important;
  margin-left: 0;
}