html[layout="cosmicpanda-3"] {
--bt-chips-display: none;
}
html[chips-style^="hitchhiker"],
html[chips-style^="hitchhiker-2013"] {
--bt-outer-chips-position: fixed;
--bt-outer-chips-height: 40px;
--bt-outer-chips-top: var(--bt-topbar-height);
--bt-outer-chips-bg: var(--yt-spec-brand-background-primary);
--bt-outer-chips-border-top: none;
--bt-outer-chips-border-bottom: 1px solid var(--bt-section-border-color);
--bt-chip-margin-top: 6px;
--bt-chip-padding-bottom: 3px;
--bt-chip-radius: 0;
--bt-chip-font-size: 13px;
--bt-chip-border-bottom-hover: 3px solid var(--bt-spec-emphasis);
--bt-active-chip-bg: none;
--bt-active-chip-text-color: var(--yt-spec-text-primary);
--bt-active-chip-border: none;
--bt-active-chip-border-bottom: 3px solid var(--bt-spec-emphasis);
--bt-inactive-chip-bg: none;
--bt-inactive-chip-text-color: var(--yt-spec-text-primary);
--bt-inactive-chip-border: none;
}
html[layout="polymer-2019"] {
--bt-chips-display: none;
}
html[chips-style="polymer-2021"] {
--bt-outer-chips-position: absolute;
--bt-outer-chips-height: 56px;
--bt-outer-chips-top: var(--bt-topbar-height);
--bt-outer-chips-bg: var(--yt-spec-brand-background-primary);
--bt-outer-chips-border-top: 1px solid var(--yt-spec-10-percent-layer);
--bt-outer-chips-border-bottom: 1px solid var(--yt-spec-10-percent-layer);
--bt-chip-margin-top: 12px;
--bt-chip-padding-bottom: 0px;
--bt-chip-radius: 16px;
--bt-chip-font-size: 1.4rem;
--bt-chip-border-bottom-hover: none;
--bt-chip-bg-hover: var(--yt-spec-button-chip-background-hover);
--bt-active-chip-bg: var(--yt-spec-icon-inactive);
--bt-active-chip-text-color: var(--yt-spec-text-primary-inverse);
--bt-active-chip-border: 1px solid var(--yt-spec-10-percent-layer);
--bt-inactive-chip-bg: var(--yt-spec-badge-chip-background);
--bt-inactive-chip-text-color: var(--yt-spec-text-primary);
--bt-inactive-chip-border: 1px solid var(--yt-spec-10-percent-layer);
}
/* hide chips */
ytd-browse[page-subtype="home"] ytd-feed-filter-chip-bar-renderer, 
ytd-watch-flexy yt-related-chip-cloud-renderer {
  display: var(--bt-chips-display) !important;
}
/* BTSection Chips */
html[chips-style] ytd-feed-filter-chip-bar-renderer:not([not-sticky]) #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
  top: var(--bt-outer-chips-top);
  position: var(--bt-outer-chips-position);
  height: var(--bt-outer-chips-height);
  background-color: var(--bt-outer-chips-bg);
  border-top: var(--bt-outer-chips-border-top);
  border-bottom: var(--bt-outer-chips-border-bottom);
}
/* all chips */
html[chips-style] yt-chip-cloud-chip-renderer {
  margin-top: var(--bt-chip-margin-top);
  padding-bottom: var(--bt-chip-padding-bottom);
}
/* selected chip */
html[chips-style] yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"][selected], 
html[chips-style] yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected] {
  background-color: var(--bt-active-chip-bg);
  color: var(--bt-active-chip-text-color);
  font-size: var(--bt-chip-font-size);
  border: var(--bt-active-chip-border) !important;
  border-radius: var(--bt-chip-radius) !important;
  border-bottom: var(--bt-active-chip-border-bottom, 3px solid red) !important;
}
/* not selected chip */
html[chips-style] yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"], 
html[chips-style] yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"], 
html[chips-style] yt-chip-cloud-chip-renderer[chip-style="STYLE_REFRESH_TO_NOVEL_CHIP"] {
  background-color: var(--bt-inactive-chip-bg);
  border: var(--bt-inactive-chip-border) !important;
  font-size: var(--bt-chip-font-size);
  color: var(--bt-inactive-chip-text-color);
  /*padding: 0 var(--ytd-margin-3x);
  transition: background-color 0.5s cubic-bezier(0.05,0,0,1);*/
  border-radius: var(--bt-chip-radius);
}
html[chips-style] yt-chip-cloud-chip-renderer:not([selected]):hover {
  border: var(--bt-inactive-chip-border) !important;
  border-bottom: var(--bt-chip-border-bottom-hover, revert) !important;
  background-color: var(--bt-chip-bg-hover) !important;
}
