html[watch-metadata-style^="polymer-2019"] {
--bt-playlist-margin-left: -12px;
--bt-playlist-radius: 0;
--bt-playlist-border: none;
--bt-playlist-header-bg: #e5e5e5;
--bt-playlist-header-text-color: #000;
--bt-playlist-header-byline-text-color: #474747;
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: "Roboto",sans-serif;
--bt-playlist-header-font-size: 14px;
--bt-playlist-header-line-height: 15px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: #ddd;
--bt-playlist-item-height: 56px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: #adadad;
--bt-playlist-item-text-color: var(--bt-text-color-5); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #898989;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: #c5c5c5;
--bt-active-playlist-item-text-color: #353535;
--bt-playlist-item-thumb-width: 100px;
--bt-playlist-item-thumb-height: 56px;
}
html[dark][watch-metadata-style^="polymer-2019"] {
--bt-playlist-margin-left: -12px;
--bt-playlist-radius: 0;
--bt-playlist-border: none;
--bt-playlist-header-bg: #1a1a1a;
--bt-playlist-header-text-color: #fff;
--bt-playlist-header-byline-text-color: #b8b8b8;
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: "Roboto",sans-serif;
--bt-playlist-header-font-size: 14px;
--bt-playlist-header-line-height: 15px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: #222;
--bt-playlist-item-height: 56px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: #525252;
--bt-playlist-item-text-color: var(--bt-text-color-5); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #767676;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: #3a3a3a;
--bt-active-playlist-item-text-color: #cacaca;
--bt-playlist-item-thumb-width: 100px;
--bt-playlist-item-thumb-height: 56px;
}
html[watch-metadata-style^="polymer-202"] {
--bt-playlist-margin-left: 0px;
--bt-playlist-radius: 0;
--bt-playlist-border: 1px solid var(--yt-spec-10-percent-layer);
--bt-playlist-header-bg: var(--bt-gcp-fff);
--bt-playlist-header-text-color: var(--bt-gcp-000);
--bt-playlist-header-byline-text-color: var(--bt-gcp-555);
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: "Roboto",sans-serif;
--bt-playlist-header-font-size: 14px;
--bt-playlist-header-line-height: 15px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: var(--bt-gcp-fff);
--bt-playlist-item-height: 56px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: var(--bt-gcp-eee);
--bt-playlist-item-text-color: var(--bt-text-color-5); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #898989;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: var(--bt-gcp-eee);
--bt-active-playlist-item-text-color: var(--bt-gcp-444);
--bt-playlist-item-thumb-width: 100px;
--bt-playlist-item-thumb-height: 56px;
}
html[watch-metadata-style^="hitchhiker"] {
--bt-playlist-margin-left: -12px;
--bt-playlist-radius: 0;
--bt-playlist-border: none;
--bt-playlist-header-bg: #1a1a1a;
--bt-playlist-header-text-color: #fff;
--bt-playlist-header-byline-text-color: #b8b8b8;
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: "Roboto",sans-serif;
--bt-playlist-header-font-size: 14px;
--bt-playlist-header-line-height: 15px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: #222;
--bt-playlist-item-height: 40px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: #525252;
--bt-playlist-item-text-color: var(--bt-unchanging-text-color-1); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #767676;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: #3a3a3a;
--bt-active-playlist-item-text-color: #cacaca;
--bt-playlist-item-thumb-width: 72px;
--bt-playlist-item-thumb-height: 40px;
--bt-playlist-icon-color: #ccc;
--bt-playlist-link-color: #ccc;
}
html[watch-metadata-style^="hitchhiker-2014"],
html[watch-metadata-style^="hitchhiker-2013"] {
--bt-playlist-margin-left: 0px;
}
html[watch-metadata-style^="cosmicpanda"] {
--bt-playlist-margin-left: -12px;
--bt-playlist-radius: 0;
--bt-playlist-border: none;
--bt-playlist-header-bg: #1a1a1a;
--bt-playlist-header-text-color: #fff;
--bt-playlist-header-byline-text-color: #b8b8b8;
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: "Roboto",sans-serif;
--bt-playlist-header-font-size: 14px;
--bt-playlist-header-line-height: 15px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: #222;
--bt-playlist-item-height: 40px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: #525252;
--bt-playlist-item-text-color: var(--bt-unchanging-text-color-1); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #767676;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: #3a3a3a;
--bt-active-playlist-item-text-color: #cacaca;
--bt-playlist-item-thumb-width: 72px;
--bt-playlist-item-thumb-height: 40px;
--bt-playlist-icon-color: #ccc;
--bt-playlist-link-color: #ccc;
}
html[watch-metadata-style^="aozora"] {
--bt-playlist-margin-left: -12px;
--bt-playlist-radius: 0;
--bt-playlist-border: none;
--bt-playlist-header-bg: #1a1a1a;
--bt-playlist-header-text-color: #fff;
--bt-playlist-header-byline-text-color: #b8b8b8;
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: "Roboto",sans-serif;
--bt-playlist-header-font-size: 14px;
--bt-playlist-header-line-height: 15px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: #222;
--bt-playlist-item-height: 40px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: #525252;
--bt-playlist-item-text-color: var(--bt-unchanging-text-color-1); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #767676;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: #3a3a3a;
--bt-active-playlist-item-text-color: #cacaca;
--bt-playlist-item-thumb-width: 72px;
--bt-playlist-item-thumb-height: 40px;
--bt-playlist-icon-color: #ccc;
--bt-playlist-link-color: #ccc;
}
html[watch-metadata-style^="stargazer"] {
--bt-playlist-margin-left: 15px;
--bt-playlist-radius: 0;
--bt-playlist-border: 1px solid var(--bt-gcp-ccc);
--bt-playlist-header-bg: var(--bt-gcp-eee);
--bt-playlist-header-text-color: var(--bt-gcp-222);
--bt-playlist-header-byline-text-color: var(--bt-gcp-555);
--bt-playlist-header-padding: 15px 15px 0;
--bt-playlist-header-font-family: arial;
--bt-playlist-header-font-size: 12px;
--bt-playlist-header-line-height: 13px;
--bt-playlist-header-font-weight: 500;
--bt-playlist-bg: none;
--bt-playlist-item-height: 40px;
--bt-playlist-item-inner-padding: 10px 8px 10px 0;
--bt-playlist-item-bg-hover: var(--bt-gcp-ddd);
--bt-playlist-item-text-color: var(--bt-gcp-222); /* since this will change in dark mode, don't use var */
--bt-playlist-item-font-size: 13px;
--bt-playlist-item-font-weight: normal;
--bt-playlist-item-line-height: 16px;
--bt-playlist-item-byline-text-color: #767676;
--bt-playlist-item-byline-font-size: 11px;
--bt-playlist-item-byline-line-height: 12px;
--bt-active-playlist-item-bg: #3a3a3a;
--bt-active-playlist-item-text-color: #cacaca;
--bt-playlist-item-thumb-width: 72px;
--bt-playlist-item-thumb-height: 40px;
--bt-playlist-icon-color: #ccc;
--bt-playlist-link-color: #ccc;
}
html[watch-metadata-style^="stargazer"] ytd-playlist-panel-renderer {
  width: 322px;
  margin-top: 12px;
}
html[watch-metadata-style][disable-flexy-player] ytd-watch-flexy[flexy][js-panel-height_] #playlist.ytd-watch-flexy, 
html[watch-metadata-style][disable-flexy-player] ytd-watch-flexy[flexy][js-panel-height_] #panels.ytd-watch-flexy ytd-engagement-panel-section-list-renderer.ytd-watch-flexy,
html[watch-metadata-style][static] ytd-watch-flexy[flexy][js-panel-height_] #playlist.ytd-watch-flexy, 
html[watch-metadata-style][static] ytd-watch-flexy[flexy][js-panel-height_] #panels.ytd-watch-flexy ytd-engagement-panel-section-list-renderer.ytd-watch-flexy,
html[watch-metadata-style][pseudo-static] ytd-watch-flexy[flexy][js-panel-height_] #playlist.ytd-watch-flexy, 
html[watch-metadata-style][pseudo-static] ytd-watch-flexy[flexy][js-panel-height_] #panels.ytd-watch-flexy ytd-engagement-panel-section-list-renderer.ytd-watch-flexy {
  min-height: var(--bt-player-height);
  max-height: var(--bt-player-height);
  margin-left: var(--bt-playlist-margin-left);
}
html[watch-metadata-style][disable-flexy-player] ytd-playlist-panel-renderer[js-panel-height] #container.ytd-playlist-panel-renderer,
html[watch-metadata-style][static] ytd-playlist-panel-renderer[js-panel-height] #container.ytd-playlist-panel-renderer,
html[watch-metadata-style][pseudo-static] ytd-playlist-panel-renderer[js-panel-height] #container.ytd-playlist-panel-renderer  {
  min-height: var(--bt-player-height);
  max-height: var(--bt-player-height);
}
html[watch-metadata-style] #container.ytd-playlist-panel-renderer {
  border: var(--bt-playlist-border);
  border-radius: var(--bt-playlist-radius) !important;
}
html[watch-metadata-style] .header.ytd-playlist-panel-renderer {
  background: var(--bt-playlist-header-bg);
  padding: var(--bt-playlist-header-padding) !important;
}
html[watch-metadata-style] ytd-playlist-panel-renderer .title.ytd-playlist-panel-renderer,
html[watch-metadata-style] ytd-playlist-panel-renderer .title.ytd-playlist-panel-renderer a {
  font-family: var(--bt-playlist-header-font-family) !important;
  font-size: var(--bt-playlist-header-font-size) !important;
  line-height: var(--bt-playlist-header-line-height) !important;
  font-weight: var(--bt-playlist-header-font-weight) !important;
  color: var(--bt-playlist-header-text-color) !important;
}
html[watch-metadata-style] .publisher.ytd-playlist-panel-renderer, 
html[watch-metadata-style] .byline-title.ytd-playlist-panel-renderer {
  color: var(--bt-playlist-header-byline-text-color);
}
html[watch-metadata-style] .playlist-items.ytd-playlist-panel-renderer {
  background-color: var(--bt-playlist-bg);
}
/* vudeos */
html[watch-metadata-style] ytd-playlist-panel-video-renderer[selected][use-color-palette], 
html[watch-metadata-style] ytd-playlist-panel-video-renderer[selected][use-color-palette]:hover:not(.dragging) {
  background-color: var(--bt-active-playlist-item-bg) !important;
}
html[watch-metadata-style] ytd-playlist-panel-video-renderer[selected][use-color-palette] #video-title.ytd-playlist-panel-video-renderer {
  color: var(--bt-active-playlist-item-text-color) !important;
}
html[watch-metadata-style] ytd-playlist-panel-video-renderer:hover:not(.dragging):hover {
  background-color: var(--bt-playlist-item-bg-hover) !important;
}
html[watch-metadata-style] ytd-playlist-panel-video-renderer {
  padding: var(--bt-playlist-item-inner-padding) !important;
  height: var(--bt-playlist-item-height) !important;
}
html[watch-metadata-style] #thumbnail-container.ytd-playlist-panel-video-renderer,
html[watch-metadata-style] #thumbnail-container.ytd-playlist-panel-video-renderer ytd-thumbnail,
html[watch-metadata-style] #thumbnail-container.ytd-playlist-panel-video-renderer img {
  width: var(--bt-playlist-item-thumb-width);
  height: var(--bt-playlist-item-thumb-height);
}
/* title */
html[watch-metadata-style] h4.ytd-playlist-panel-video-renderer {
  color: var(--bt-playlist-item-text-color);
}
html[watch-metadata-style] h4.ytd-playlist-panel-video-renderer span {
  font-size: var(--bt-playlist-item-font-size) !important;
  font-weight: var(--bt-playlist-item-font-weight) !important;
  line-height: var(--bt-playlist-item-line-height) !important;
  max-height: 30px !important;
  margin-top: -2px !important;
}
/* byline */
html[watch-metadata-style] #byline.ytd-playlist-panel-video-renderer {
  color: var(--bt-playlist-item-byline-text-color) !important;
  font-size: var(--bt-playlist-item-byline-font-size) !important;
  line-height: var(--bt-playlist-item-byline-line-height) !important;
}
/* menu btn */
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #menu.ytd-playlist-panel-video-renderer {
  margin-right: 10px;
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #menu.ytd-playlist-panel-video-renderer svg {
  opacity: 0;
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #menu.ytd-playlist-panel-video-renderer:hover {
  background: #2221;
  background: rgba(250,250,250,0.2);
  -webkit-mask-image: linear-gradient(to left,#000,#444);
  mask-image: linear-gradient(to left,#000,#444);
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #menu.ytd-playlist-panel-video-renderer:not(:hover):not(:active) {
  background: rgb(250, 250, 250);
  -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  mask-image: linear-gradient(to top,rgba(0,0,0,0.0),rgba(0,0,0,0.0));
}
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) #menu.ytd-playlist-panel-video-renderer {
  margin-right: 12px;
  height: 20px;
  margin-top: 10px;
  z-index: 9;
}
/*
html[watch-metadata-style]:not([watch-metadata-style^="polymer"]) ytd-playlist-panel-video-renderer:has(button:hover) ytd-thumbnail-overlay-time-status-renderer #time-status {
  color: #ddd !important;
}
*/
/* icons */
html[watch-metadata-style] ytd-playlist-panel-renderer yt-icon {
  color: var(--bt-playlist-icon-color, auto) !important;
}
html[watch-metadata-style] ytd-playlist-panel-renderer a {
  color: var(--bt-playlist-link-color, auto) !important;
}
/* for related videos */
html[watch-metadata-style] #chat.ytd-watch-flexy, 
html[watch-metadata-style] #donation-shelf.ytd-watch-flexy ytd-donation-shelf-renderer.ytd-watch-flexy, 
html[watch-metadata-style] #donation-shelf.ytd-watch-flexy ytd-donation-unavailable-renderer.ytd-watch-flexy, 
html[watch-metadata-style] #playlist.ytd-watch-flexy, 
html[watch-metadata-style] #panels.ytd-watch-flexy ytd-engagement-panel-section-list-renderer.ytd-watch-flexy {
  margin-bottom: var(--ytd-margin-3x);
}
/* for related videos */
html[watch-metadata-style^="hitchhiker-2014"] #chat.ytd-watch-flexy, 
html[watch-metadata-style^="hitchhiker-2014"] #donation-shelf.ytd-watch-flexy ytd-donation-shelf-renderer.ytd-watch-flexy, 
html[watch-metadata-style^="hitchhiker-2014"] #donation-shelf.ytd-watch-flexy ytd-donation-unavailable-renderer.ytd-watch-flexy, 
html[watch-metadata-style^="hitchhiker-2014"] #playlist.ytd-watch-flexy, 
html[watch-metadata-style^="hitchhiker-2014"] #panels.ytd-watch-flexy ytd-engagement-panel-section-list-renderer.ytd-watch-flexy {
  margin-bottom: 0;
}