/* HITCHHIKER 2013 */
/* guide button NOTE: Safe to leave as a 2013 blob */
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy:not([guide]) #guide-button {
  position: absolute;
  top: 70px;
  margin-left: 30px;
  z-index: 2119;
  background: none !important;
  cursor: pointer;
  transition: 0.25s linear;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy[fullscreen] #guide-button {
  display: none;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy[guide] #guide-button {
  position: absolute;
  top: 70px;
  margin-left: 170px;
  z-index: 2109219;
  background: none !important;
  cursor: pointer;
  transition: 0.25s linear;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button #bt-guide-icon {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflX22WRH.png) -51px 0;
  width: 18px;
  height: 18px;
}
ytd-watch-flexy #guide-button:not(:first-of-type) {
  display: none !important;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button:hover #bt-guide-icon {
  background: no-repeat url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflX22WRH.png) 0 -22px;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button::after {
  content: "Guide";
  font-size: 11px;
  position: absolute;
  margin-top: -4px;
  margin-left: 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  font-family: arial;
  opacity: 1;
  transition: opacity 0.25s;
  transition-delay: 0.2s;
  width: 150px;
  padding: 10px 0;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy[guide] #guide-button::after {
  opacity: 0;
  transition: opacity 0.05s;
  transition-delay: 0s;
  margin-left: -150px;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button::before {
  border: 4px solid transparent;
  border-left: none;
  border-right-color: #ccc;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 4px;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  opacity: 0;
  content: "";
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button:hover::before {
  border-right-color: #666;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy[guide] #guide-button::before {
  opacity: 1;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button:hover::after {
  color: #666;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button #bt-guide-icon svg {
  display: none !important;
}
html[watch-metadata-style^="hitchhiker-2013"] ytd-watch-flexy #guide-button svg {
  display: none !important;
}
/* HITCHHIKER IN GENERAL */
/* overlayTime Status. Probably safe to leave this as a blob */
html[watch-metadata-style^="hitchhiker"] ytd-thumbnail #thumbnail.ytd-thumbnail,
html[watch-metadata-style^="cosmicpanda"] ytd-thumbnail #thumbnail.ytd-thumbnail,
html[watch-metadata-style^="aozora"] ytd-thumbnail #thumbnail.ytd-thumbnail,
html[watch-metadata-style^="stargazer"] ytd-thumbnail #thumbnail.ytd-thumbnail {
  overflow: visible;
}
html[watch-metadata-style^="hitchhiker"] #thumbnail-container,
html[watch-metadata-style^="cosmicpanda"] #thumbnail-container,
html[watch-metadata-style^="aozora"] #thumbnail-container,
html[watch-metadata-style^="stargazer"] #thumbnail-container {
  overflow: visible !important;
}
@keyframes timeStatusFadeIn {
0% {opacity: 0;}
30% {opacity: 0;}
100% {opacity: 1;}
}
html[watch-metadata-style^="hitchhiker"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="cosmicpanda"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="aozora"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="stargazer"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer {
  right: -302px;
  top: -54px;
  top: 6px;
}
html[watch-metadata-style^="hitchhiker-2014"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer {
  right: -292px;
}
html[watch-metadata-style^="hitchhiker-2013"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer {
  right: -270px !important;
}
html[watch-metadata-style^="hitchhiker"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer #time-status.ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="cosmicpanda"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer #time-status.ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="aozora"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer #time-status.ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="stargazer"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer #time-status.ytd-thumbnail-overlay-time-status-renderer {
  background: none;
  font-size: 13px;
  font-weight: normal;
  font-family: arial;
  color: #999;
  letter-spacing: 0.7px;
  animation-name: timeStatusFadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  z-index: 92219;
  padding: 3px 4px !important;
  margin: 4px !important;
 /* background: rgba(250,250,250,0.2);*/
}
html[watch-metadata-style^="cosmicpanda"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="aozora"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="stargazer"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer {
  right: -232px;
}
html[watch-metadata-style^="stargazer"] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer {
  right: -210px;
}
/*
ytd-thumbnail-overlay-time-status-renderer {
  mix-blend-mode: color-burn;
  filter: brightness(1);
  color: #ccc !important;
}*/
html[watch-metadata-style^="hitchhiker"][static] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
html[watch-metadata-style^="hitchhiker"][pseudo-static] :is(#playlist) ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer {
  right: -280px;
}
/* end blob */
/* hitchhiker blob */
html[watch-metadata-style^="hitchhiker-2014"] #owner,
html[watch-metadata-style^="hitchhiker-2013"] #owner {
	z-index: 121;
}
html[watch-metadata-style^="hitchhiker"] {
--bt-middle-row-icon-display: block;
}
html[watch-metadata-style^="hitchhiker-2014"],
html[watch-metadata-style^="hitchhiker-2013"] {
--bt-middle-row-icon-display: none;
}
html[watch-metadata-style^="hitchhiker-2014"] #flexible-item-buttons .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker-2013"] #flexible-item-buttons .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon {
  display: var(--bt-middle-row-icon-display);
}
/* anything middle row related can be hh only */
html[watch-metadata-style^="hitchhiker"] #bt-middle-row {
  background: var(--bt-section-bg);
  box-shadow: var(--bt-section-box-shadow);
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-middle-row,
html[watch-metadata-style^="hitchhiker-2013"] #bt-middle-row {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: var(--bt-wp-middle-row-border-bottom);
  box-shadow: none;
}
html:not([watch-metadata-style^="hitchhiker"]):not([watch-metadata-style^="cosmicpanda"]) #bt-middle-row {
  display: none;
}
html[watch-metadata-style^="hitchhiker-2013"] #flexible-item-buttons button,
html[watch-metadata-style^="hitchhiker-2014"] #flexible-item-buttons button,
html[watch-metadata-style^="hitchhiker-2013"] #bt-middle-row button,
html[watch-metadata-style^="hitchhiker-2014"] #bt-middle-row button {
  border-bottom: 3px solid transparent !important;
  border-radius: 0;
}
html[watch-metadata-style^="hitchhiker-2013"] #flexible-item-buttons button:hover,
html[watch-metadata-style^="hitchhiker-2013"] #flexible-item-buttons button:focus,
html[watch-metadata-style^="hitchhiker-2014"] #flexible-item-buttons button:hover,
html[watch-metadata-style^="hitchhiker-2014"] #flexible-item-buttons button:focus,
html[watch-metadata-style^="hitchhiker-2013"] #bt-middle-row button:hover,
html[watch-metadata-style^="hitchhiker-2013"] #bt-middle-row button:focus,
html[watch-metadata-style^="hitchhiker-2014"] #bt-middle-row button:hover,
html[watch-metadata-style^="hitchhiker-2014"] #bt-middle-row button:focus {
  border-bottom: 3px solid var(--bt-emphasis) !important;
}
/* end hitchhiker blob */
/* UNVERIFIED POLYMER BLOB */
html[watch-metadata-style^="polymer"]:not([title-on-top="true"]) #owner.ytd-watch-metadata {
  margin-top: 76px;
  position: absolute;
  width: 100%;
}
/* END */
/* polymer blob also unverified */
html[watch-metadata-style="polymer-2019"] #bt-above {
  margin-bottom: 10px;
}
/* END */
/* other action */
html[watch-metadata-style^="hitchhiker"] button[aria-label="Save to playlist"] .yt-spec-button-shape-next__icon {
	background: url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -64px -1389px;
	width: 20px;
	height: 20px;
	opacity: 0.6;
}
html[watch-metadata-style^="hitchhiker"][lang="en"] button[aria-label="Save to playlist"] .yt-spec-button-shape-next__button-text-content span {
	visibility: hidden;
}
html[watch-metadata-style^="hitchhiker"][lang="en"] button[aria-label="Save to playlist"] .yt-spec-button-shape-next__button-text-content span::after {
  visibility: visible !important;
  content: "Add to";
  position: relative;
  font-family: var(--bt-watch-metadata-buttons-font-family, "YouTube Noto",Roboto,);
  font-size: var(--bt-watch-metadata-font-size, 11px);
  font-weight: 500;
  margin-left: -23px;
}
html[watch-metadata-style^="hitchhiker"] ytd-watch-flexy button[aria-label="Share"] .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker"] ytd-watch-flexy #above-the-fold #top-level-buttons-computed ytd-button-renderer .yt-spec-button-shape-next__icon {
	background: url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -21px -1679px;
	width: 20px;
	height: 20px;
	opacity: 0.6;
}
html[watch-metadata-style^="hitchhiker-2015"] ytd-watch-flexy button[aria-label="Share"] .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker-2015"] ytd-watch-flexy #above-the-fold #top-level-buttons-computed ytd-button-renderer .yt-spec-button-shape-next__icon {
	background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfldzd94_.png) -304px -393px;
	width: 20px;
	height: 20px;
	opacity: 0.6;
}
html[watch-metadata-style^="hitchhiker"] button[aria-label="More actions"] .yt-spec-button-shape-next__icon {
	background: url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfljEooDy.png) -42px -845px;
	width: 20px;
	height: 20px;
	opacity: 0.6;
}
html[watch-metadata-style^="hitchhiker-2014"] button[aria-label="More actions"] .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker-2013"] button[aria-label="More actions"] .yt-spec-button-shape-next__icon {
	width: 0px;
	height: 0px;
	opacity: 0.6;
}
html[watch-metadata-style^="hitchhiker"] button[aria-label="More actions"] {
	margin-left: 10px;
}
html[watch-metadata-style^="stargazer"] {
--bt-wp-og-icons-display: none;
}
html[watch-metadata-style^="aozora"] {
--bt-wp-og-icons-display: none;
}
html[watch-metadata-style^="cosmicpanda"] {
--bt-wp-og-icons-display: none;
}
html[watch-metadata-style^="hitchhiker"] {
--bt-wp-og-icons-display: none;
}
html[watch-metadata-style^="polymer"] {
--bt-wp-og-icons-display: block;
}
html[watch-metadata-style] ytd-watch-flexy #above-the-fold button[aria-label="Save to playlist"] svg,
html[watch-metadata-style] ytd-watch-flexy #above-the-fold #top-level-buttons-computed ytd-button-renderer svg,
html[watch-metadata-style] ytd-watch-flexy #above-the-fold button[aria-label="Share"] svg,
html[watch-metadata-style] ytd-watch-flexy #above-the-fold button[aria-label="More actions"] svg,
html[watch-metadata-style] ytd-watch-flexy #bt-place-metadata button[aria-label="Save to playlist"] svg,
html[watch-metadata-style] ytd-watch-flexy #bt-place-metadata #top-level-buttons-computed ytd-button-renderer svg,
html[watch-metadata-style] ytd-watch-flexy #bt-place-metadata button[aria-label="Share"] svg,
html[watch-metadata-style] ytd-watch-flexy #bt-place-metadata button[aria-label="More actions"] svg {
	display: var(--bt-wp-og-icons-display, none) !important;
}
html[watch-metadata-style^="hitchhiker"] button[aria-label="More actions"]::after {
	content: "More";
	font-family: var(--bt-watch-metadata-buttons-font-family, "YouTube Noto",Roboto,arial);
	font-size: var(--bt-watch-metadata-font-size, 11px);
	opacity: 0.6;
	font-weight: 500;
	margin-left: 8px;
}
html[watch-metadata-style^="hitchhiker-2014"] button[aria-label="More actions"]::after,
html[watch-metadata-style^="hitchhiker-2013"] button[aria-label="More actions"]::after {
  margin-left: 0px;
}
html[watch-metadata-style^="hitchhiker-2014"] button[aria-label="More actions"],
html[watch-metadata-style^="hitchhiker-2013"] button[aria-label="More actions"] {
  margin-right: 20px;
}
/* hitchhiker icon stuff */
html[watch-metadata-style^="hitchhiker"] ytd-watch-metadata ytd-button-renderer .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker"] ytd-watch-metadata button[aria-label="More actions"] .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker"] ytd-watch-metadata #segmented-like-button button[aria-pressed="false"] .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker"] ytd-watch-metadata #segmented-dislike-button .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker"] ytd-watch-metadata like-button-view-model button[aria-pressed="false"] .yt-spec-button-shape-next__icon,
html[watch-metadata-style^="hitchhiker"] ytd-watch-metadata dislike-button-view-model button .yt-spec-button-shape-next__icon {
  filter: var(--bt-watch-metadata-icon-filter);
}
#bt-fake-about {
  display: none;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-fake-about, 
html[watch-metadata-style^="hitchhiker-2013"] #bt-fake-about {
  display: block;
  border-bottom: 3px solid var(--bt-emphasis);
  padding: 0px 11px;
  cursor: pointer;
  height: 33px;
  font-weight: bold;
  font-family: arial !important;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-fake-about span,
html[watch-metadata-style^="hitchhiker-2013"] #bt-fake-about span {
  color: var(--bt-gcp-222) !important;
  opacity: 1 !important;
}
#fake-about-inner {
  margin-top: 10px;
}
#bt-middle-row span,
html[watch-metadata-style^="hitchhiker"] #above-the-fold #actions ytd-button-renderer span {
  font-family: var(--bt-watch-metadata-buttons-font-family, "YouTube Noto",Roboto,arial);
  font-size: var(--bt-watch-metadata-font-size, 11px);
  opacity: 0.6;
  font-weight: 500;
  margin-left: 1px;
  margin-top: -40px;
}
/* comsicpanda blob */
html[watch-metadata-style^="cosmicpanda"] ytd-watch-metadata #actions.ytd-watch-metadata ytd-menu-renderer.ytd-watch-metadata {
  justify-content: flex-start !important;
}
/* end */
/* nonspecific blobl */
html[watch-metadata-style^="stargazer"] #bt-above #title yt-formatted-string,
html[watch-metadata-style^="aozora"] #bt-above #title yt-formatted-string,
html[watch-metadata-style^="cosmicpanda"] #bt-above #title yt-formatted-string {
  display: block;
  text-overflow: "... (Scroll->)";
  white-space: nowrap;
  scrollbar-width: thin;
  max-height: 43px;
  overflow-x: scroll;
  overflow-y: visible !important;
}
/* end */

/* engagemnet panel foundation */
html[watch-metadata-style] {
--bt-side-panel-bg: var(--bt-section-bg);
--bt-side-panel-box-shadow: var(--bt-section-box-shadow);
}
/*ytd-engagement-panel-section-list-renderer {
  margin-left: 0 !important;
}*/ 
html[watch-metadata-style] ytd-engagement-panel-section-list-renderer {
  background: var(--bt-side-panel-bg);
  border: none;
  box-shadow: var(--bt-side-panel-box-shadow);
}
html[watch-metadata-style] #header.ytd-engagement-panel-title-header-renderer {
  color: var(--yt-spec-text-primary);
  background-color: var(--bt-section-bg);
}
html[show-desc-side-panel="true"] ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-structured-description"] {
  display: flex !important;
}
html[show-comments-side-panel="true"] ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-comments-section"] {
  display: flex !important;
}
/* new section that doesn't work half the time */
/*About me in desc
html[watch-metadata-style] ytd-watch-metadata #bottom-row #header.ytd-video-description-infocards-section-renderer {
	margin-left: 300px;
}*/

/*Non-rounded profile icon*/
html[watch-metadata-style][unrounded-pfps] ytd-watch-metadata #bottom-row #header.ytd-video-description-infocards-section-renderer #thumbnail.ytd-video-description-infocards-section-renderer {
	border-radius: 0%;
}

/*centering buttons*/
html[watch-metadata-style] ytd-watch-metadata #bottom-row #action-buttons.ytd-video-description-infocards-section-renderer {
	margin-left: 50px;
}

/*Non-rounded buttons*/
html[watch-metadata-style] ytd-watch-metadata #bottom-row .yt-spec-button-shape-next--size-m {
	border-radius: 1px;
}

/* cosmic panda blob */
html[layout^="cosmicpanda"] ytd-menu-renderer[has-items] yt-button-shape.ytd-menu-renderer button::after {
  content: "More actions";
  position: relative !important;
  top: 0 !important;
  height: auto !important;
  width: max-content !important;
  background: none !important;
  padding-right: 2px;
  margin-left: -21px;
  color: var(--bt-wp-button-text-color);
  font-size: var(--bt-wp-button-font-size);
  font-weight: var(--bt-wp-button-font-weight);
}
html[watch-metadata-style^="cosmicpanda"][lang="en"] button[aria-label="Save to playlist"] .yt-spec-button-shape-next__button-text-content span {
	visibility: hidden;
}
html[watch-metadata-style^="cosmicpanda"][lang="en"] button[aria-label="Save to playlist"] .yt-spec-button-shape-next__button-text-content span::after {
  visibility: visible !important;
  content: "Add to";
  position: relative;
  font-family: var(--bt-watch-metadata-buttons-font-family, arial);
  color: var(--bt-wp-button-text-color);
  font-size: var(--bt-wp-button-font-size);
  font-weight: var(--bt-wp-button-font-weight);
  margin-left: -23px;
}

/* aozora blob */
html[layout^="aozora"] ytd-menu-renderer[has-items] yt-button-shape.ytd-menu-renderer button::after,
html[layout^="stargazer"] ytd-menu-renderer[has-items] yt-button-shape.ytd-menu-renderer button::after {
  content: "More actions";
  position: relative !important;
  top: 0 !important;
  height: auto !important;
  width: max-content !important;
  background: none !important;
  padding-right: 2px;
  font-size: 13px;
  font-weight: normal;
  margin-left: -21px;
}
html[layout^="cosmicpanda"] ytd-menu-renderer[has-items] yt-button-shape.ytd-menu-renderer button,
html[layout^="aozora"] ytd-menu-renderer[has-items] yt-button-shape.ytd-menu-renderer button,
html[layout^="stargazer"] ytd-menu-renderer[has-items] yt-button-shape.ytd-menu-renderer button {
  width:  fit-content;
}

/* Stargazer Blob */
html[meta-on-side="true"] #bt-meta-side {
  margin: calc(var(--ytd-margin-4x) * -1 - 2px) 0 0 15px;
}
#secondary #bt-meta-side ytd-watch-metadata.ytd-watch-flexy {
  margin: 0 !important;
}
#bt-above #owner-sub-count.ytd-video-owner-renderer {
  white-space: nowrap !important;
}
#actions.ytd-watch-metadata {
  margin-top: 30px;
  min-width: 0;
}
html[meta-on-side="true"] #bt-meta-side #owner {
  position: absolute;
  width: calc(var(--bt-related-width) - 12px);
  margin-left: 6px !important;
  margin-right: 0 !important;
  margin-top: 6px;
}
html[watch-metadata-style^="stargazer"] {
  --bt-wp-button-bg: none !important;
  --bt-wp-button-border: none !important;
  --bt-wp-button-text-color: var(--bt-blue) !important;
  --bt-wp-button-padding: !important;
  --bt-wp-button-font-weight: bold !important;
}
html[watch-metadata-style^="stargazer"] #above-the-fold .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal, 
html[watch-metadata-style^="stargazer"] #bt-place-metadata .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
  background: none;
  border: none !important;
  color: var(--bt-blue) !important;
  border-radius: var(--bt-wp-button-radius);
  height: var(--bt-wp-button-height);
  padding: var(--bt-wp-button-padding);
  font-size: var(--bt-wp-button-font-size);
  font-weight: bold !important;
}
html[watch-metadata-style^="stargazer"] ytd-watch-flexy #bt-place-metadata ytd-toggle-button-renderer button span {
  color: var(--bt-blue) !important;
}

/* fix 2014 player? */
html[watch-metadata-style] #secondary.ytd-watch-flexy {
  margin-right: 0 !important;
}

/* prob ok to stay as blob */
html[watch-metadata-style^="cosmicpanda"] #bt-above ytd-channel-name #text-container {
	padding-right: 8px;
}
html[watch-metadata-style^="cosmicpanda"] #bt-above ytd-channel-name a {
  display: var(--bt-standard-btn-display);
  height: calc(var(--bt-standard-btn-height) - 4px);
  border: var(--bt-standard-btn-border);
  border-color: var(--bt-standard-btn-border-color, currentcolor);
  padding: 4px 10px 0 10px;
  color: var(--bt-standard-btn-text-color) !important;
  background: var(--bt-standard-btn-bg);
  outline: var(--bt-standard-btn-outline);
  font-weight: var(--bt-standard-btn-font-weight);
  font-size: var(--bt-standard-btn-font-size);
  text-shadow: var(--bt-standard-btn-text-shadow);
  text-decoration: var(--bt-standard-btn-text-decoration);
  cursor: var(--bt-standard-btn-cursor);
  border-radius: var(--bt-standard-btn-radius);
  box-shadow: var(--bt-standard-btn-box-shadow);
  text-transform: var(--bt-standard-btn-text-transform);
}
html[watch-metadata-style^="cosmicpanda"] #bt-above ytd-channel-name a:hover {
  border: var(--bt-standard-btn-border-hover);
  border-color: var(--bt-standard-btn-border-color-hover, currentcolor);
  background: var(--bt-standard-btn-bg-hover);
  box-shadow: var(--bt-standard-btn-box-shadow-hover);
}
html[watch-metadata-style^="cosmicpanda"] #bt-above ytd-channel-name a:active,
html[watch-metadata-style^="cosmicpanda"] #bt-above ytd-channel-name a:focus {
  border: var(--bt-standard-btn-border-active);
  border-color: var(--bt-standard-btn-border-color-active, currentcolor);
  background: var(--bt-standard-btn-bg-active);
  box-shadow: var(--bt-standard-btn-box-shadow-active);
}
html[watch-metadata-style^="cosmicpanda"] #bt-above #owner-sub-count.ytd-video-owner-renderer {
 /* margin-left: 610px !important; */
  display: block !important;
  height: calc(var(--bt-channel-sub-button-height) - 6px) !important;
  border: var(--bt-standard-btn-border);
  border-color: var(--bt-standard-btn-border-color, currentcolor);
  padding: 6px 10px 0 10px;
  color: var(--bt-standard-btn-text-color) !important;
  background: var(--bt-standard-btn-bg);
  outline: var(--bt-standard-btn-outline);
  font-weight: var(--bt-standard-btn-font-weight);
  font-size: var(--bt-standard-btn-font-size);
  text-shadow: var(--bt-standard-btn-text-shadow);
  text-decoration: var(--bt-standard-btn-text-decoration);
  cursor: var(--bt-standard-btn-cursor);
  border-radius: var(--bt-standard-btn-radius);
  box-shadow: var(--bt-standard-btn-box-shadow);
  text-transform: var(--bt-standard-btn-text-transform);
  max-height: 50px;
  margin-left: -8px !important;
}
html[watch-metadata-style^="cosmicpanda"] #bt-above #owner-sub-count.ytd-video-owner-renderer:hover {
  border: var(--bt-standard-btn-border-hover);
  border-color: var(--bt-standard-btn-border-color-hover, currentcolor);
  background: var(--bt-standard-btn-bg-hover);
  box-shadow: var(--bt-standard-btn-box-shadow-hover);
}
html[watch-metadata-style^="cosmicpanda"] #bt-above #owner-sub-count.ytd-video-owner-renderer:active,
html[watch-metadata-style^="cosmicpanda"] #bt-above #owner-sub-count.ytd-video-owner-renderer:focus {
  border: var(--bt-standard-btn-border-active);
  border-color: var(--bt-standard-btn-border-color-active, currentcolor);
  background: var(--bt-standard-btn-bg-active);
  box-shadow: var(--bt-standard-btn-box-shadow-active);
}


/* Needs optimizing */

html[watch-metadata-style^="polymer"] {
  --bt-wp-top-row-actions-border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  --bt-wp-top-row-actions-padding-bottom: 9px;
}
html[watch-metadata-style^="hitchhiker"] {
  --bt-wp-top-row-padding-bottom: 36px !important;
  --bt-wp-top-row-padding-bottom: 40px !important;
  
  --bt-wp-top-row-actions-width: calc(100% - 30px);
  --bt-wp-top-row-actions-pos: absolute;
  --bt-wp-top-row-actions-margin-top: 2px;
  --bt-wp-top-row-actions-padding-top: 2px;
  --bt-wp-top-row-actions-border-top: 1px solid var(--bt-section-border-color);
  --bt-wp-top-row-actions-border-bottom: none;
  
  --bt-wp-top-row-actions-inner-width: 100%;
  
  --bt-wp-top-level-buttons-order: 2;
  
  --bt-wp-share-button-order: -1;
  --bt-wp-share-button-margin-right: auto;
  --bt-wp-share-button-margin-left: 0;
  
  --bt-ltod-btn-margin-top: 0 !important;
  --bt-wp-ltod-btn-pos: absolute;
  --bt-wp-ltod-btn-right: 0;
  --bt-wp-ltod-btn-left: unset;
  
  --bt-wp-flex-items-pos: relative;
  --bt-wp-flex-items-right: unset;
  --bt-wp-flex-items-left: 0;
  
  --bt-wp-button-shape-order: 1;
  
  --bt-standard-view-count-margin-top: -24px !important;
  --bt-bar-margin-top: 0 !important;
}
html[watch-metadata-style^="hitchhiker-2014"],
html[watch-metadata-style^="hitchhiker-2013"] {
  --bt-wp-top-row-padding-bottom: 52px !important;
  
  --bt-wp-top-row-actions-width: calc(100% - 30px);
  --bt-wp-top-row-actions-pos: absolute;
  --bt-wp-top-row-actions-margin-top: 24px;
  --bt-wp-top-row-actions-border-top: none;
  --bt-wp-top-row-actions-border-bottom: 1px solid var(--bt-section-border-color);
  
  --bt-wp-top-row-actions-inner-width: 100%;
  
  --bt-wp-top-level-buttons-order: -1;
  
  --bt-wp-share-button-order: 0;
  --bt-wp-share-button-margin-right: -52px;
  --bt-wp-share-button-margin-right: 0px;
  --bt-wp-share-button-margin-left: auto;
  
  --bt-ltod-btn-margin-top: 0 !important;
  --bt-wp-ltod-btn-pos: absolute;
  --bt-wp-ltod-btn-right: unset;
  --bt-wp-ltod-btn-left: 0;
  
  --bt-wp-flex-items-pos: absolute;
  --bt-wp-flex-items-order: 2;
  --bt-wp-flex-items-right: 0px;
  --bt-wp-flex-items-left: unset;
  
  --bt-wp-button-shape-order: 2;
  
  --bt-standard-view-count-margin-top: -44px !important; /* -24px */
  --bt-bar-margin-top: -20px !important; /* 0 */
}
html[watch-metadata-style^="aozora"] {
  --bt-wp-top-row-padding-bottom: 14px;
}

html[watch-metadata-style] #above-the-fold #actions {
  flex-direction: var(--bt-wp-top-row-actions-flex-dir, row-reverse) !important;
  margin-top: var(--bt-wp-top-row-actions-margin-top, 12px) !important;
  padding-top: var(--bt-wp-top-row-actions-padding-top, 0px) !important;
  width: var(--bt-wp-top-row-actions-width) !important;
  position: var(--bt-wp-top-row-actions-pos) !important;
  border-top: var(--bt-wp-top-row-actions-border-top);
  border-bottom: var(--bt-wp-top-row-actions-border-bottom);
  padding-bottom: var(--bt-wp-top-row-actions-padding-bottom, 0);
}
html[watch-metadata-style^="hitchhiker-2014"] #above-the-fold #actions-inner,
html[watch-metadata-style^="hitchhiker-2013"] #above-the-fold #actions-inner {
  margin-top: -71px !important;
}
html[watch-metadata-style] #above-the-fold #actions-inner {
  width: var(--bt-wp-top-row-actions-inner-width) !important;
}
html[watch-metadata-style] #above-the-fold #top-row {
  padding-bottom: var(--bt-wp-top-row-padding-bottom) !important;
  padding-top: 5px;
  border-bottom: none !important;
  margin-top: -12px;
}
middle-row-border {
  display: none !important;
}
html[watch-metadata-style^="hitchhiker"] #above-the-fold #top-level-buttons-computed ytd-button-renderer, 
html[watch-metadata-style^="cosmicpanda"]:not([title-on-top="true"]) #above-the-fold #top-level-buttons-computed ytd-button-renderer {
  display: block !important;
}
html[watch-metadata-style^="hitchhiker"] #above-the-fold ytd-menu-renderer {
  display: flex !important;
  flex-wrap: nowrap;
}
html[watch-metadata-style^="hitchhiker"] #top-level-buttons-computed {
  order: var(--bt-wp-top-level-buttons-order);
  width: 100%;
  display: flex;
  align-items: unset !important;
}
html[watch-metadata-style^="hitchhiker"] #top-level-buttons-computed ytd-button-renderer {
  order: var(--bt-wp-share-button-order);
  margin-right: var(--bt-wp-share-button-margin-right);
  margin-left: var(--bt-wp-share-button-margin-left);
}
html[watch-metadata-style^="hitchhiker"] #flexible-item-buttons {
  position: var(--bt-wp-flex-items-pos);
  order: var(--bt-wp-flex-items-order);
  right: var(--bt-wp-flex-items-right);
  left: var(--bt-wp-flex-items-left);
  display: flex;
  min-height: 40px !important;
}
html[watch-metadata-style] ytd-segmented-like-dislike-button-renderer {
  position: var(--bt-wp-ltod-btn-pos);
  right: var(--bt-wp-ltod-btn-right);
  left: var(--bt-wp-ltod-btn-left);
}
html[watch-metadata-style^="hitchhiker"]:not([watch-metadata-style^="hitchhiker-2014"]):not([watch-metadata-style^="hitchhiker-2013"]) #button-shape {
  margin-right: auto;
  order: var(--bt-wp-button-shape-order);
  margin-right: -112px;
  margin-left: 66px;
  z-index: 1000;
}
html[watch-metadata-style^="hitchhiker"] #bt-middle-row {
  position: absolute;
  opacity: 0;
  display: none !important;
}
html[watch-metadata-style^="hitchhiker-2014"] #bt-middle-row,
html[watch-metadata-style^="hitchhiker-2013"] #bt-middle-row {
  opacity: 1;
}